.mkd-header-standard {
	.mkd-menu-area {
		background-color: #fff;
		border-bottom: 1px solid #dee0e0;

		@include mkdBoxSizing(border-box);

		.mkd-vertical-align-containers {
			.mkd-position-left-inner {
				height: 100%;
			}
		}

		.mkd-main-menu-widget-area {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin-left: 8px;
			height: 100%;
		}

		.mkd-main-menu-widget-area-inner {
			height: 100%;
		}

		.mkd-right-from-main-menu-widget {
			display: table;
			float: left;
			padding: 0 10px;
			position: relative;
			vertical-align: middle;
			height: 100%;

			&.widget_mkd_woocommerce_dropdown_cart {
				padding-left: 6px;
			}

			&:last-child {
				padding-right: 0;
			}

			.mkd-right-from-main-menu-widget-inner {
				display: table-cell;
				vertical-align: middle;
			}

		}
	}

	&.mkd-light-header .mkd-menu-area .mkd-right-from-main-menu-widget:before {
		background-color: rgba($header-light-color, 0.5);
	}

	&.mkd-dark-header .mkd-menu-area .mkd-right-from-main-menu-widget:before {
		background-color: rgba($header-dark-color, 0.5);
	}

	&.mkd-header-standard-border-disable .mkd-menu-area,
    &.mkd-header-standard-in-grid-border-disable .mkd-page-header .mkd-menu-area .mkd-grid .mkd-vertical-align-containers{
		border-bottom: none;
	}
}

