.mkd-portfolio-list-holder-outer.mkd-ptf-gallery {
	article {
		.mkd-ptf-item-title {
			position: relative;
			color: #fff;
			margin-bottom: 14px;
		}

		.mkd-ptf-item-title,
		.mkd-like {
			z-index: 3;
		}

		.mkd-ptf-item-bottom {
			position: relative;
			margin-top: 5px;

			.mkd-ptf-category-holder {
				padding-right: 50px;
			}

			.mkd-like {
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.mkd-ptf-item-image-holder {
			overflow: hidden;
		}

		.mkd-portfolio-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.mkd-ptf-item-text-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;

			@include mkdTransition(opacity 0.3s ease-in-out);
		}

		.mkd-ptf-item-text-overlay-inner {
			@include mkdTableLayout;
		}

		&:hover {
			.mkd-ptf-item-image-holder img {
				@include mkdTransform(scale(1));
			}
		}

		.mkd-ptf-item-icons-holder {
			margin: 10px 0;
		}
	}

	&:not(.mkd-info-bottom) .gradient article {
		.mkd-ptf-item-title {
			font-size: 13px;
		}
	}

	.gradient {
		.mkd-ptf-item-title {
			a:hover {
				color:#fff;
			}
		}
	}

	&:not(.mkd-ptf-cursor-follow) {

		article {

			.mkd-ptf-item-text-overlay-inner {
				@include mkdTransform(scale(.7));
				opacity: 0;
				-webkit-transition: -webkit-transform .0s .2s, opacity .2s;
				transition: transform .0s .2s, opacity .2s;
			}

			.mkd-ptf-item-image-holder img {
				@include mkdTransition(all 0.2s ease);
				@include mkdTransform(translateZ(0) scale(1.01));
			}

			&:hover {
				.mkd-ptf-item-text-overlay-inner {
					@include mkdTransition(all 0.5s cubic-bezier(0.32, 2.13, 0.47, 0.99));
					@include mkdTransform(scale(1) translateZ(0));
					opacity:1;
				}

				.mkd-ptf-item-image-holder img {
					@include mkdTransform(scale(1.15) translateZ(0));
					@include mkdTransition(all 0.5s cubic-bezier(0.32, 2.13, 0.47, 0.99));
				}
			}
		}

		&.mkd-info-bottom {
			img {
				-webkit-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
			}
			article:hover .mkd-ptf-item-image-holder img {
				@include mkdTransform(scale(1.1) translateZ(0));
			}
		}
	}

	&.mkd-ptf-cursor-follow {
		article {
			overflow: hidden;
		}
		.mkd-ptf-item-text-overlay {
			top:-100%;
			opacity: 1;
		}
	}

	&.mkd-hover-dark {
		.mkd-ptf-item-text-overlay {
		    background-color: rgba(26, 26, 26, 0.85);
		}
		article {
			.mkd-ptf-item-title {
				> a {
					@include mkdTransition(opacity .2s);
				}
				color: #fff;
				&:hover {
					> a	{
						color: inherit;
						opacity: .85;
					}
				}
			}
		}
	}
}