.mkd-portfolio-list-holder-outer.mkd-ptf-pinterest,
.mkd-portfolio-list-holder-outer.mkd-ptf-masonry {
	.mkd-portfolio-list-holder {
		opacity: 0;
	}
}

.mkd-ptf-pinterest {
	$gutter-size: 3%;

	article {
		margin-bottom: $gutter-size;
		overflow: hidden;
		.mkd-ptf-item-title {
			opacity: 0;
			@include mkdTransform(translateY(-35px));
			-webkit-transition: opacity .2s, -webkit-transform .0s .2s;
			transition: opacity .2s, transform .0s .2s;
		}
		.mkd-ptf-category-holder {
			opacity: 0;
			@include mkdTransform(translateY(35px));
			-webkit-transition: opacity .2s, -webkit-transform .0s .2s;
			transition: opacity .2s, transform .0s .2s;
		}
		.mkd-ptf-item-image-holder img {
			@include mkdTransition(all .3s cubic-bezier(0.22, 0.61, 0.36, 1));
			@include mkdTransform(scale(1) translateZ(0));
		}
		&:hover {
			.mkd-ptf-item-title,
			.mkd-ptf-category-holder {
				opacity: 1;
				@include mkdTransition(all .35s cubic-bezier(0.22, 0.61, 0.36, 1));
				@include mkdTransform(translateY(0));
			}
			.mkd-ptf-item-image-holder img {
				@include mkdTransform(scale(1.1) translateZ(0));
			}
		}
	}

	.mkd-portfolio-list-masonry-grid-gutter {
		width: $gutter-size;
	}

	&.mkd-ptf-pinterest-three-columns {
		.mkd-portfolio-list-masonry-grid-sizer,
		article {
			width: 31.33%;
		}
	}

	&.mkd-ptf-pinterest-four-columns {
		.mkd-portfolio-list-masonry-grid-sizer,
		article {
			width: 23%;
		}

		.mkd-portfolio-list-masonry-grid-gutter {
			width: 2.65%;
		}

		article {
			margin-bottom: 2.65%;
		}
	}

	&.mkd-ptf-pinterest-five-columns {
		.mkd-portfolio-list-masonry-grid-sizer,
		article {
			width: 18%;
		}

		.mkd-portfolio-list-masonry-grid-gutter {
			width: 2.5%;
		}

		article {
			margin-bottom: 2.5%;
		}
	}
}