/* Portfolio standard styles - begin
   ========================================================================== */
.mkd-portfolio-list-holder-outer.mkd-ptf-standard {

	.mkd-ptf-item-image-holder {
		margin-bottom: 13px;
		overflow: hidden;
		img {
		    @include mkdTransition(all .2s ease-out);
		}
	}

	.mkd-ptf-item-title {
		margin-bottom: 10px;
		text-align: center;
	}

	.mkd-ptf-item-excerpt p {
		margin: 0;
	}

	.mkd-ptf-item-bottom {
		position: relative;
		padding-top: 9px;
		border-top: 1px solid #f2f2f2;
		margin-top: 17px;

		.mkd-ptf-category-holder {
			padding-right: 50px;
		}

		.mkd-like {
			position: absolute;
			right: 0;
			top: 10px;
		}
	}

	.mkd-ptf-category-holder {
		font-family: $headings-font-family;
		color: #808080;
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
	}

	.mkd-portfolio-list-holder.standard {
		.mkd-ptf-portfolio-overlay-icon {
			opacity: 0;
			@include mkdTransform(translate(-50%,-50%) scale(.6));
			@include mkdTransition(all .2s ease-out);
		}
		.mkd-ptf-portfolio-overlay-bg {
		    @include mkdTransition(opacity .2s ease-out .05s);
		}

		.mkd-ptf-item-image-holder:hover {
			img {
				@include mkdTransform(scale(1.3));
			    @include mkdTransition(all .3s ease);
			}
			.mkd-ptf-portfolio-overlay-icon {
				opacity: 1;
				@include mkdTransform(translate(-50%,-50%) scale(1));
			}
		}
	}

	.mkd-portfolio-list-holder.gradient {

		article .mkd-ptf-item-title {
			color: #373737;
		}

		.mkd-ptf-portfolio-overlay-icon {
			color:#fff;
			@include mkdTransform(scale(.7) translate(-50%,-50%));
			opacity: 0;
			-webkit-transition: -webkit-transform .0s .2s, opacity .2s;
			transition: transform .0s .2s, opacity .2s;
		}

		.mkd-ptf-image-holder {
			img {
				@include mkdTransition(all .3s cubic-bezier(0.22, 0.61, 0.36, 1));
			}
		}

		.mkd-ptf-item-image-holder:hover {
			img {
				@include mkdTransform(scale(1.1) translateZ(0));
			}
			.mkd-ptf-portfolio-overlay-icon {
				@include mkdTransition(all .4s cubic-bezier(0.22, 0.61, 0.36, 1));
				@include mkdTransform(scale(1) translate(-50%,-50%) translateZ(0));
				opacity:1;
			}
		}
	}

	&.mkd-hover-dark {
		.mkd-ptf-item-hover-holder .mkd-ptf-portfolio-overlay-bg {
		    background-color: rgba(26, 26, 26, 0.85);
		}
	}
}

/* Portfolio standard styles - end
   ========================================================================== */