.woocommerce-account .woocommerce {
	h2 {
		&:after {
			content: '';

			width: 33px;
			margin-top: 13px;
			margin-bottom: 20px;
			display: block;
			border-bottom: 3px solid $first-main-color;
			height: 0;
		}
	}

	.col2-set {
		@include createGridRow();

		.col-1,
		.col-2 {
			@include createGridColumn();
			@include createGridColumnResponsive();
		}
	}

	input[type=text],
	input[type=email],
	input[type=tel],
	textarea {
		@include inputStyle();
		border: 1px solid #ddd;
	}
}