.woocommerce-cart .woocommerce {
	//cart table styles
	form:not(.woocommerce-shipping-calculator) {
		background-color: #fff;
		margin-bottom: 40px;
		border: 1px solid #eaeaea;

		table {
			border: none;
		}

		tr {
			border: none;
			border-bottom: 1px solid #e6e6e6;
		}

		td, th {
			padding: 19px 10px 15px 30px;
			text-align: left;
		}

		@media only screen and (max-width: 600px) {
			td, th {
				padding: 19px 10px 15px 0;
				text-align: left;
			}
		}

		td {
			vertical-align: middle;
			font-size: 20px;
			font-family: $headings-font-family;
			font-weight: 400;
			color: #999;
		}

		tbody tr {
			&:last-child {
				border-bottom: none;
			}
		}

		thead {
			border-bottom: 1px solid #ebebeb;
			font-family: $headings-font-family;
			font-size: 20px;
			color: #303030;

			tr {
				border-bottom: none;
			}

			th {
				font-weight: 400;
			}
		}

		.product-remove {
			font-size: 24px;
			text-align: center;

			a {
				color: #999;
			}
		}

		.product-thumbnail {
			img {
				width: 123px;
			}
		}

		.product-quantity {
			.mkd-quantity-label {
				display: none;
			}
		}

		.product-name {
			a {
				font-family: $headings-font-family;
				color: #999;
				font-weight: 400;
				font-size: 14px;

				&:hover {
					color: $first-main-color;
				}
			}

			span.posted_in {
				display: inherit;
				color: #999;
				font-size: 14px;

				a {
					color: #999;
					font-size: 14px;
				}
			}

			span.mkd-woo-title {
				display: block;
				font-size: 16px;
				font-weight: 600;
				color: #303030;
			}
		}

		table.shop_table.cart .mkd-btn {
			padding: 7px 30px;
			font-size: 14px;
			font-weight: 600;
			min-width: 135px;
		}

		.actions {
			@include mkdClearfix();

			padding: 25px 10px;
			background-color: #fcfcfc;

			.coupon,
			.mkd-cart-proceed-update {
				float: left;
				width: 50%;

				@include mkdBoxSizing(border-box);
			}

			.mkd-cart-proceed-update {
				text-align: right;
				margin-top: 3px;

				input[type=submit] {
					margin-left: 10px;
				}

				.mkd-btn.mkd-type2-gradient-left-to-right-2x.mkd-btn-hover-outline:hover {
					color: #fff !important;
				}

				.mkd-btn.checkout-button {
					background-color: $first-main-color;
					border: 2px solid $first-main-color;
					color: #fff;
				}
			}

			.coupon {
				@include mkdClearfix();

				label {
					display: none;
				}

				input[type=text] {
					width: 100%;
					margin-bottom: 30px;
					padding: 15px;
					outline: 0;
					font-family: $headings-font-family;
					font-size: 12px;
					font-weight: 600;
					color: #999;
					border: 1px solid #eaeaea;

					@include mkdBoxSizing(border-box);
					@include mkdTransition(border-color 0.2s ease-out);

					&:focus {
						border-color: $first-main-color;
					}

					resize: none;

					background-color: #fff;
					margin-bottom: 0;
					display: inline-block;
					width: 50%;
					margin-right: 20px;
				}
			}
		}
	}

	.cart-collaterals {
		@include mkdClearfix();

		.mkd-shipping-calculator {
			float: left;
			width: 40%;

			.woocommerce-shipping-calculator > p {
				font-size: 24px;
				margin-bottom: 30px;
				font-family: $headings-font-family;

				&:after {
					content: '';

					width: 33px;
					margin-top: 20px;
					margin-bottom: 20px;
					display: block;
					border-bottom: 3px solid $first-main-color;
					height: 0;
				}

				a {
					display: block;
					position: relative;

					color: $headings-text-color;

					&:hover {
						color: $first-main-color;
					}

					span {
						position: absolute;
						right: 0;
						top: 3px;
					}
				}
			}

			.form-row {
				input[type=text] {
					@include inputStyle();
					margin-bottom: 15px;
				}

				.select2-container {
					margin-bottom: 15px;
				}

				.select2-choice {
					border: none;
					font-size: 12px;
					color: #767676;
					height: 49px;
					line-height: 49px;

					@include mkdBorderRadius(5px);
					@include mkdBoxShadow(none);
				}
			}
		}

		.mkd-cart-totals {
			float: right;
			width: 40%;

			h2 {
				font-size: 24px;
				margin-bottom: 30px;
			}

			table {
				tr {
					border: none;
					text-align: left;
				}

				th, td {
					text-align: left;
					padding-bottom: 15px;
				}

				.cart-subtotal {

					span.amount {
						font-size: 16px;
						font-family: $headings-font-family;
						font-weight: 700;
						color: #999;
					}

					th {
						width: 30%;
						border-right: none;
						padding-left: 0;
						font-size: 16px;
						font-family: $headings-font-family;
						font-weight: 700;
						color: #999;
					}
				}

				.order-total {
					border-top: 1px solid #e6e6e6;

					th {
						font-size: 16px;
						font-family: $headings-font-family;
						font-weight: 700;
						color: #999;
						border-right: 0;
					}

					th, td {
						padding-top: 15px;
						font-size: 16px;
					}

					td {
						font-family: $headings-font-family;
						font-weight: 400;
						color: $headings-text-color;
						font-size: 20px;
					}

				}
			}
		}
	}

	.cross-sells {
		margin-top: 40px;

		h2 {
			font-size: 24px;
			margin-bottom: 30px;
		}
	}
}