/* Woocommerce product list - begin
========================================================================== */
li.product.type-product {
	position: relative;

	&.mkd-woo-product-with-gallery {
		.mkd-woo-product-image-holder {
			overflow: hidden;
			img {
				display: block;
				top:1px;
				@include mkdTransition(.5s);
				@include mkdTransform(translate3d(0,-1px,0));
			}

			img:first-child {
				position: relative;
			}

			img:last-child {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				height: calc(100% + 1px);
				visibility: hidden;
			}
		}

		&:hover {
			.mkd-woo-product-image-holder {
				img {
					@include mkdTransform(translate3d(0, -100%, 0));
					-webkit-transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1);
					transition: transform 1s cubic-bezier(.19, 1, .22, 1);
					&:last-child {
						visibility: visible;
					}
				}
			}
		}
	}
}

.mkd-woocommerce-page,
.woocommerce {

	.price_slider_amount button.button {
		@include mkdType1DiagonalGradient2x();
		color: #fff !important;
        border: none;
		background-position: 0;
		background-size: 200% 200%;

		&:hover {
			background-position: 100% center;
		}
	}

	.woocommerce-result-count,
	.woocommerce-ordering {
		width: 50%;
		height: 50px;
		margin: 0 0 36px 0;
		display: inline;
		float: left;
	}

	.woocommerce-result-count {
		line-height: 50px;
		font-weight: 600;
		color: #777;
		font-size: 14px;
		font-family: $headings-font-family;
		text-transform: none;
	}

	.full_width {

		.woocommerce-result-count {
			position: relative;
			left: 45px;
		}

		.woocommerce-ordering {
			position: relative;
			right: 45px;
		}

	}

	ul.products {
		list-style: none;
		padding: 0;
		width: auto;
		vertical-align: middle;
		margin: 0 -15px;

		.product:hover.outofstock .mkd-btn {
			opacity: 1;
		}

		&:before,
		&:after {
			content: '';
			display: table;
		}

		&:after {
			clear: both;
		}

		.product {
			position: relative;
			float: left;
			text-align: center;
			padding: 0 15px;
			margin-bottom: 45px;
			@include mkdTransition(all 0.3s ease-out);
			@include mkdTransform(translateY(0));

			.mkd-woo-product-list-item-holder {
				background-color: #fff;
				@include mkdBoxShadow(1px 2px 7.28px 0.72px $elements-box-shadow-color);
				padding-bottom: 20px;
			}

			@include mkdBoxSizing(border-box);

			.mkd-woo-product-image-holder {
				position: relative;

				@include mkdBoxSizing(border-box);
			}

			img {
				display: block;
				width: 100%;
				backface-visibility: hidden;
			}

			.mkd-woo-product-info-holder {
				display: block;
				padding: 27px 0 13px 0;
				background-color: transparent;
			}

			.mkd-product-list-product-title {
				margin-bottom: 5px;
				@include mkdTransform(translateZ(0));
			}

			h5.mkd-product-list-product-title {
				margin-bottom: 17px;
			}

			.star-rating {
				float: right;
				top: 33px;
			}

			.mkd-btn.added {
				display: none;
			}

			.added_to_cart {
				color: #fff;
				padding: 5px 23px;
				display: inline-block;
				position: absolute;
				bottom: 12px;
				left: 80px;
				outline: none;
				opacity: 0;
				font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.14em;
				font-size: 12px;
				line-height: 1.7em;
                font-family: 'Montserrat', sans-serif;

				@include mkdTransition(color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out);
				@include mkdBoxSizing(border-box);
				@include mkdBorderRadius(30px);
				@include mkdTransform(translateX(-50%));
			}

			.mkd-product-list-product-title,
			.mkd-product-list-product-title {
				margin-bottom: 12px;
				margin-top: -6px;
				text-align: left;
			}
		}

		.product:hover {
			.add_to_cart_button,
			.product_type_grouped,
			.product_type_external {
				opacity: 1;
			}
		}

		.product:hover span.price {
			opacity: 0;
		}

		.add_to_cart_button,
		.product_type_external,
		.product_type_grouped,
		.product.outofstock .mkd-btn {
			border: 0;
			color: #fff;
			font-size: 12px;
			opacity: 0;
			padding: 3px 23px;
            border: 2px solid $first-main-color;
			letter-spacing: 0.14em;
			min-width: 89px;
			position: absolute;
			bottom: 12px;
			left: 15px;

			@include mkdTransition(all 0.1s ease-out);
		}

		li:hover .added_to_cart {
			background-color: #5a5ea5;
			opacity: 1;
		}

	}

	.price {
		font-family: $headings-font-family;
		display: block;
		font-size: 20px;
		font-weight: 700;
		color: $first-main-color;
		text-align: left;

		@include mkdTransition(all 0.1s ease-out);

		del {
			color: $shop-price-color;
		}

		ins {
			text-decoration: none;
			color: $first-main-color;
			margin-left: 9px;
		}
	}

	.mkd-onsale,
	.mkd-out-of-stock {
		position: absolute;
		display: table;
		top: 17px;
		right: 12px;
		text-align: center;
		z-index: 100;
		color: #fff;
		font-size: 20px;
		line-height: 20px;
		font-weight: 700;
		padding: 28px 20px;

		@include mkdBoxShadow($shadow);
		@include mkdBorderRadius(50%);
	}

	.mkd-out-of-stock {
		background-color: $shop-price-color;
	}

	.star-rating {
		font-size: 12px;
		overflow: hidden;
		position: relative;
		height: 1em;
		line-height: 1em;
		width: 6.9em;
		text-align: left;
		font-family: 'ElegantIcons';
		letter-spacing: 0.3em;

		&:before {
			content: '\e031 \e031 \e031 \e031 \e031';
			color: $first-main-color;
			top: 0;
			left: 0;
			position: absolute;
		}

		span strong {
			color: transparent;
			width: 100%;
			display: block;
		}

		span {
			overflow: hidden;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;

			&:before {
				content: '\e033 \e033 \e033 \e033 \e033';
				color: $first-main-color;
				top: 0;
				position: absolute;
				left: 0;
			}
		}
	}

	.woocommerce-pagination a.next.page-numbers {
		position: absolute;
		top: 0;
		right: 0;
		color: #3e3e3e;

		span.mkd-right {
			font-size: 14px;

			&:after {
				content: "\e876";
				font-family: 'Linearicons-Free';
				font-size: 14px;
				margin-left: 10px;
				position: relative;
				top: 1px;
			}
		}
	}

	.woocommerce-pagination a.prev.page-numbers {
		position: absolute;
		top: 0;
		left: 0;
		color: #3e3e3e;

		span.mkd-left {
			font-size: 14px;

			&:before {
				content: "\e875";
				font-family: 'Linearicons-Free';
				font-size: 14px;
				margin-right: 10px;
				position: relative;
				top: 1px;
			}
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-5,
.columns-5 {

	.products .product {
		width: 20%;
		margin-bottom: 47px;

		&:nth-child(5n+1) {
			clear: both;
		}

	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-4,
.columns-4 {

	.products .product {
		width: 25%;
		margin-bottom: 47px;

		&:nth-child(4n+1) {
			clear: both;
		}

	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-4 {
	.mkd-woocommerce-with-sidebar .products .product {
		width: 33.33%;

		&:nth-child(4n+1) {
			clear: none;
		}

		&:nth-child(3n+1) {
			clear: both;
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-3,
.columns-3 {
	.products .product {
		width: 33.33%;

		&:nth-child(3n+1) {
			clear: both;
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-3 {
	.mkd-woocommerce-with-sidebar .products .product {
		width: 50%;

		&:nth-child(3n+1) {
			clear: none;
		}

		&:nth-child(2n+1) {
			clear: both;
		}
	}

}

.mkd-woocommerce-page.mkd-woocommerce-columns-2,
.columns-2 {
	.products .product {
		width: 50%;

		&:nth-child(2n+1) {
			clear: both;
		}
	}
}

/* Woocommerce product list - end
========================================================================== */