/* Woocommerce widgets - start
========================================================================== */
.mkd-woocommerce-with-sidebar aside.mkd-sidebar,
.wpb_widgetised_column {
	.widget {
		background-image: none;
		background-color: #fff;

		&.widget_layered_nav,
		.product-categories {
			font-family: $headings-font-family;
			font-size: 14px;
			color: #585858;

			a {
				display: inline-block;
				padding-bottom: 7px;
				padding-top: 7px;

				@include mkdBoxSizing(border-box);

				&:hover {
					color: $first-main-color;
				}
			}

			& > li:last-child > a {
				padding-bottom: 0;
			}
		}

		&.widget_product_categories {
			font-size: 14px;
			font-weight: 600;
			font-family: $headings-font-family;

            h4 {
                margin-bottom: 18px;
            }

			.product-categories {

				li {
					a {
						position: relative;
						padding-left: 32px;
                        font-size: 14px;
                        color: #3e3e3e;
                        font-weight: 600;
                        padding-top: 5px;
                        padding-bottom: 5px;

						&:before {
							content: '';
							height: 7px;
							width: 7px;
							position: absolute;
							top: 18px;
							left: 11px;
							background-color: $first-main-color;

							@include mkdTransform(translateY(-50%));
						}

						&:hover {
							color: $first-main-color;
						}
					}
					.count {
						color:#999;
					}

					&:hover {
						background-color: #fff;

						.count, a {
							color:#999;
						}
					}
				}
			}
		}

		&.widget_top_rated_products {
			.product_list_widget {
				span.product-title {
					font-weight: 700;
				}
			}
		}

        &.widget_product_tag_cloud {

            h4 {
                margin-bottom: 42px;
            }
            .tagcloud a {
                background-color: #dedfed;
            }
        }

		.product_list_widget {
			li {
				border-bottom: 0;
				padding: 10px 0;
				position: relative;
				@include mkdTableLayout();

				&:last-child {
					border-bottom: none;
				}

				.mkd-woo-product-widget-image {
					@include mkdTableCellLayout();
					text-align: left;
					width: 71px;
					vertical-align: top;

					img {
						width: 63px;
						display: block;
					}

				}

				.mkd-woo-product-widget-content {
					@include mkdTableCellLayout();
					font-family: $headings-font-family;
					font-size: 16px;
					color: $shop-price-color;
					text-align: left;
					vertical-align: top;
					padding-left: 11px;

					> a {
						color: #585858;
					}

					.mkd-woo-product-widget-title {
						display: block;
						line-height: 1.7em;
						margin-bottom: 3px;
						margin-top: 2px;

						&:hover .product-title {
							color: $first-main-color;
						}
					}

					.star-rating {
						margin-top: 3px;
					}

					.product-title {
						font-size: 17px;
						line-height: 23px;
						color: #4f4f4f;
						font-weight: 700;
					}

					ins, .amount {
						text-decoration: none;
						color: #999999;
						font-weight: 600;
						font-size: 14px;
					}

					del span.amount {
						color: #545454;
					}
				}
			}
		}

		&.widget_recent_reviews {
			a {
				display: block;
				font-family: $headings-font-family;
				color: #585858;
				font-size: 16px;
				line-height: 1.7em;
			}

			img {
				width: 68px;
				margin-right: 22px;
				float: left;
			}

			.reviewer {
				font-size: 13px;
			}
		}

		&.widget_shopping_cart {
			.cart_list {
				img {
					width: 68px;
					margin-right: 22px;
					float: left;
				}

				a {
					font-family: $headings-font-family;
					font-size: 16px;
					color: $shop-price-color;
				}

				.quantity {
					display: block;
				}

				.remove {
					position: absolute;
					color: transparent;
					right: 0;
					top: 9px;
					font-size: 15px;

					&:after {
						content: '\f014';
						font-family: 'FontAwesome';
						color: #939393;
					}
				}
			}

			.total {
				font-family: $headings-font-family;
				margin: 10px 0;

				strong {
					text-transform: uppercase;
					font-size: 12px;
					color: #585858;
				}
			}

			.buttons {

				&:after,
				&:before {
					content: '';
					display: table;
				}

				&:after {
					clear: both;
				}

				a {
					width: 49%;
					padding: 10px;
					display: inline-block;
					text-align: center;
					float: left;
					margin-right: 2%;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

        &.widget_product_search {

            .searchform {
                background-color: transparent;

                .search-field {
                    border-radius: 30px 0 0 30px;
                    background-color: #dadae6;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: $headings-font-family;
                    color: #777;
                }

                #searchsubmit {
                    border-radius: 0 30px 30px 0;
                    background-color: #dadae6;
                    color: #777;
                    font-size: 16px;
                }
            }
        }

		&.widget_price_filter {
			.price_slider_wrapper .ui-widget-content {
				background-color: #dedfed;

				@include mkdBorderRadius(3px);
			}

			.ui-slider-horizontal {
				height: 6px;
			}

			.price_slider_wrapper {
				margin-top: 26px;
			}

			.ui-slider {
				position: relative;
				text-align: left;
			}

			.ui-slider .ui-slider-handle {
				position: absolute;
				z-index: 2;
				width: 12px;
				height: 12px;
				cursor: pointer;
				outline: none;
				top: -3px;
				background-color: #dedfed;
				border: 3px solid $first-main-color;

				@include mkdBorderRadius(50%);
				@include mkdBoxSizing(border-box);

				&:last-child {
					margin-left: -0.5em;
				}
			}

			.ui-slider-horizontal .ui-slider-range {
				position: absolute;
				z-index: 1;
				font-size: .7em;
				display: block;
				border: 0;
				background-color: $first-main-color;
				top: 0;
				height: 100%;
			}

			.button {
				float: right;
				padding: 6px 23px;
				font-size: 12px;
				text-transform: uppercase;
				min-width: 100px;
				color: #fff !important;
			}

			.price_slider_amount {
				margin-top: 21px;
			}

			.price_label {
				float: left;
				font-family: $headings-font-family;
				font-weight: 400;
				font-size: 18px;
				line-height: 41px;
				color: #777;
			}
		}
	}
}

/* Woocommerce widgets - end
========================================================================== */

/* Dropdown Shopping Cart */

.mkd-shopping-cart-outer {
	.mkd-shopping-cart-header {
		display: inline-block;
		vertical-align: middle;

		.mkd-header-cart {
			display: inline-block;
			position: relative;
			color: #3e3e3e;
			vertical-align: middle;
			top: 2px;
			@include mkdTransition(color 0.3s ease-in-out);

			.mkd-top-bar & {
				line-height: 35px;
			}

			.mkd-sticky-header & {
				line-height: 60px;
			}

			.mkd-cart-count {
				position: absolute;
				display: inline-block;
				top: 1px;
				margin-left: -7px;
				width: 13px;
				height: 13px;
				line-height: 13px;
				font-size: 11px;
				color: #fff !important;
				background-color: $first-main-color;
				text-align: center;

				@include mkdBorderRadius(50%);
			}

			&:hover {
				color:$type1-gradient-first-color;
			}

		}

		.mkd-header-cart i {
			font-size: 20px;
			line-height: inherit;

			@include mkdTransition(initial);
		}

		.mkd-cart-label {
			@include mkdTransition(color .15s ease);
			margin: 0 0 0 5px;
		}
	}

}

.mkd-light-header .mkd-shopping-cart-outer .mkd-shopping-cart-header .mkd-header-cart .mkd-cart-count {
	position: absolute;
	display: inline-block;
	top: 3px;
	margin-left: -7px;
	width: 13px;
	height: 13px;
	line-height: 13px;
	font-size: 11px;
	color: #5a595c !important;
	background-color: #fff;
	text-align: center;

	@include mkdBorderRadius(50%);
}

.mkd-light-header .mkd-menu-area .mkd-main-menu-widget-area {

	span.woocommerce-Price-amount.amount {
		color: #b5b5b5;
	}

	.mkd-shopping-cart-dropdown a {
		color: #353535;
	}

	.mkd-shopping-cart-dropdown .mkd-total-amount span {
		color: #939393;
	}

	.mkd-btn.checkout:hover span.mkd-btn-text {
		color: $first-main-color !important;
	}

	.mkd-btn.view-cart:hover span.mkd-btn-text {
		color: $type1-gradient-first-color !important;
	}

	a.checkout {
		border-color: transparent !important;
	}

	a.view-cart {
		border-color: transparent !important;
	}
}

.mkd-top-bar .mkd-header-cart {
	text-transform: uppercase;
}

.mkd-shopping-cart-dropdown {
	background-color: #fff;
	left: auto;
	position: absolute;
	right: -1px;
	top: 100%;
	z-index: 1000;
	opacity:0;
	width: 307px;
	visibility: hidden;
	padding: 23px 28px 23px;
	line-height: 25px;
	color: #fff;
	transform-origin:top right;

	@include mkdTransform(scale(0.8));
	@include mkdTransition(opacity 0.3s ease-in-out);
	@include mkdBoxSizing(border-box);

	a,
	.mkd-dark-header .mkd-top-bar & a,
	.mkd-light-header .mkd-top-bar & a {
		color: #fff;
	}

	.mkd-btn.mkd-btn-small .mkd-btn-icon-holder {
		width: 50px;
	}

	.mkd-btn.mkd-btn-small.mkd-btn-icon span.mkd-btn-text {
		padding-left: 10px;
		padding-right: 17px;
	}

	a:hover.mkd-btn.mkd-btn-small.mkd-btn-white.mkd-btn-icon.view-cart .mkd-btn-icon-holder,
	a:hover.mkd-btn.mkd-btn-small.mkd-btn-solid.mkd-btn-icon.view-cart .mkd-btn-icon-holder {
		border-right: 1px solid #ddd !important;
	}

	ul li {
		@include mkdTableLayout;

		margin-bottom: 14px;
		border-bottom: 1px solid #ffced2;
		padding: 0 33px 11px 0;

		@include mkdBoxSizing(border-box);

		a {
			display: block;
			&:hover {
				color: $first-main-color;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
	ul li .mkd-item-image-holder {
		@include mkdTableCellLayout;
		width: 50px;

		img {
			vertical-align: middle;
		}
	}
	.mkd-item-info-holder {
		display: table-cell;
		height: 100%;
		width: 100%;
		vertical-align: middle;
		padding-left: 15px;
		text-align: left;

		.mkd-item-left a {
			color: #777;
			font-size: 16px;
			font-weight: 400;
			padding-right: 16px;

			&:hover {
				color: $first_main_color;
			}

		}

		.mkd-item-left .mkd-quantity {
			color: $first-main-color;
			font-size: 14px;
			font-weight: 600;
		}
	}
	.mkd-item-info-holder .mkd-item-right {
		float: right;
		text-align: right;

		span.icon_close {
			font-size: 16px;
		}

		.remove {
			color: #939393;
			width: 16px;
			height: 16px;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			position: absolute;
			top: 5px;
			right: 0;

			@include mkdBorderRadius(30px);
			@include mkdTransition(color 0.15s ease-out);

			&:hover {
				color: $first-main-color;
			}
		}
	}

	span.mkd-total span {
		color: $first_main_color;
		font-weight: 600;
		padding: 0 0 0 2px;
		letter-spacing: 0;
	}
	.mkd-empty-cart {
		border: none;
		padding: 0;
		text-align: center;
		color: #939393;
		margin-bottom: 0;
	}

	.mkd-cart-list a > img {
		display: block;
	}

	span.mkd-quantity {
		color: $first_main_color;
	}

	.mkd-cart-bottom {
		.mkd-subtotal-holder {
			line-height: 15px;
			border-bottom: 1px solid #ffced2;
			padding: 16px 0;
			background-color: #fff;
		}

		.mkd-subtotal-holder .mkd-total {
			float: left;
			color: #555;
			font-weight: 400;
			font-size: 16px;
			font-family: 'Montserrat', sans-serif;
		}

		.mkd-subtotal-holder .mkd-total-amount {
			float: right;
			font-weight: 400;
			color: #555;
			font-size: 16px;
			font-family: 'Montserrat', sans-serif;
		}

		.mkd-btns-holder {
			background-color: #fff;
			padding: 24px 0 2px;

			a {
				padding: 4px 18px;

				&:first-child {
					margin-right: 12px;
				}
			}

			.mkd-btn.mkd-btn-hover-outline.checkout {
				background-color: $first-main-color;
				border: 2px solid $first-main-color;
				color: #fff;
				padding: 3px 10px;
				font-size: 12px;
				font-weight: 700;
			}

			.mkd-btn.mkd-btn-hover-outline.view-cart {
				background-color: $type1-gradient-first-color;
				border: 2px solid $type1-gradient-first-color;
				color: #fff;
				padding: 3px 10px;
				font-size: 12px;
				font-weight: 700;

				.mkd-btn-text {
					color: #fff;
				}
			}

			.mkd-btn.mkd-btn-hover-outline.view-cart:hover {
				background-color: transparent !important;
				border: 2px solid $type1-gradient-first-color !important;

				.mkd-btn-text {
					color: $type1-gradient-first-color;
				}
			} 

		}
	}

	.mkd-btn.mkd-btn-small.mkd-btn-icon span.mkd-btn-text {
		padding-left: 5px;
		padding-right: 15px;
	}
}

.widget_mkd_woocommerce_dropdown_cart .mkd-shopping-cart-dropdown {
	@include mkdTransition(opacity 0.3s ease-in-out);
}

.widget_mkd_woocommerce_dropdown_cart:hover .mkd-shopping-cart-dropdown {
	display: block;
	visibility: visible;
	text-align: left;
	opacity:1;
	@include mkdTransform(scale(1));
	@include mkdTransition(all 0.3s ease-in-out);
}

@media only screen and (min-width: map-get($breakpoints, ipad-landscape) + 1px) {
	.mkd-dark-header :not(.mkd-sticky-header) .mkd-shopping-cart-header .mkd-header-cart > i,
	.mkd-dark-header :not(.mkd-sticky-header) .mkd-shopping-cart-header .mkd-header-cart > span {
		color: $header-dark-color;
		@include mkdTransition(opacity 0.3s ease-in-out);

		&:hover {
			opacity:0.7;
		}
	}

	.mkd-light-header :not(.mkd-sticky-header) .mkd-shopping-cart-header .mkd-header-cart > i,
	.mkd-light-header :not(.mkd-sticky-header) .mkd-shopping-cart-header .mkd-header-cart > span {
		color: $header-light-color;
		@include mkdTransition(opacity 0.3s ease-in-out);

		&:hover {
			opacity:0.7;
		}
	}
}