.masonry {
	@include phone-landscape {
		.mkd-ptf-gallery {

			.mkd-ptf-gallery-sizer,
			.mkd-ptf-gallery-item {
				width: 100% !important;
			}

			.mkd-ptf-gallery-gutter {
				width: 0;
			}

		}
	}
}

@include ipad-landscape {
	.single.single-portfolio-item .small-images .mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner {
		padding: 0;
	}

	.single.single-portfolio-item .small-slider .mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner {
		padding: 0;
	}
}