/* ==========================================================================
# Footer style - begin
========================================================================== */

footer {
	display: block;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	position: relative;
	color: #e5e4e4;

	@include mkdBoxSizing(border-box);

	.mkd-footer-inner {
		position: relative; /* for triangle back to top and ajax transitions */
	}

	//.mkd-container {
	//	background-color: inherit;
	//}

	.mkd-container-inner {
		position: relative;
	}

	.mkd-container-inner > .widget {
		text-align: center;
	}

	a {
		text-decoration: none;
	}

	.mkd-footer-ingrid-border-holder-outer {
		background-color: #393939;
	}

	.mkd-footer-top-border-holder,
	.mkd-footer-bottom-border-holder {
		position: relative;
		display: block;
		width: 100%;
	}

	.mkd-footer-top-border-holder.mkd-in-grid,
	.mkd-footer-bottom-border-holder.mkd-in-grid {
		width: 1100px;
		margin: 0 auto;
	}

	.mkd-footer-top-holder {
		display: block;
		background-color: #27272f;
		position: relative;
		background-position: center center;
		background-size: cover;
	}

	body.mkd-footer-with-bg-image & {
		background-size: cover;
		background-repeat: no-repeat;

		.mkd-footer-top-holder,
		.mkd-footer-bottom-holder {
			background-color: transparent;
		}
	}

	.mkd-icon-list-item .mkd-icon-list-text {
		font-size: 12px;
		font-weight: 600;
	}

	.mkd-footer-top:not(.mkd-footer-top-full) .mkd-container-inner {
		padding: 95px 0 20px;
	}

	.mkd-footer-top.mkd-footer-top-full {
		padding: 80px 25px 70px;
	}

	.mkd-footer-top.mkd-footer-top-aligment-center {
		text-align: center;
	}
	.mkd-footer-top.mkd-footer-top-aligment-left {
		text-align: left;
	}
	.mkd-footer-top.mkd-footer-top-aligment-right {
		text-align: right;
	}

	.mkd-footer-bottom-holder {
		display: table;
		width: 100%;
		background-color: #1e1e25;
		color: #fff;
		vertical-align: middle;
		text-align: center;
		padding: 49px 0;

		.mkd-column-inner {
			text-align: center;
			vertical-align: middle;
		}

		.mkd-footer-bottom-left {
			text-align: left;
		}

		.mkd-footer-bottom-right {
			text-align: right;
		}

		.mkd-container-inner {

			.textwidget {
				font-size: 14px;
			}
		}

		.mkd-three-columns .mkd-column:first-child .mkd-column-inner {
			text-align: left;
		}

		.mkd-three-columns .mkd-column:last-child .mkd-column-inner {
			text-align: right;
		}

		.mkd-two-columns-50-50 .mkd-column:first-child .mkd-column-inner {
			text-align: left;
		}

		.mkd-two-columns-50-50 .mkd-column:last-child .mkd-column-inner {
			text-align: right;
		}

		.mkd-footer-bottom-border-bottom-holder {
			clear: both;
		}

	}

	.wpcf7-form-control.wpcf7-text {
		padding: 12px 27px !important;
	}

	&.mkd-page-footer.mkd-light-footer {
		color: #999;

		.mkd-grid-row-no-gutter.mkd-newsletter input.wpcf7-form-control.wpcf7-submit {
			background-color: #ebebeb;
		}

		.mkd-grid-row-no-gutter.mkd-newsletter .wpcf7-form-control.wpcf7-text {
			background-color: #fafafa;
			border: 1px solid #ebebeb;
		}

		.textwidget h5 {
			color: #222;
		}

		.widget .mkd-footer-widget-title,
		.widget.widget_mkd_twitter_widget .mkd-tweet-icon {
			color: #222;
		}

		.widget ul li,
		.widget ul li a {
			color: #999;
		}

		.mkd-container-inner .textwidget span {
			color: #777 !important;
		}

		.mkd-footer-top:not(.mkd-footer-top-full) .mkd-container-inner {
			border-bottom: 1px solid #ebebeb;
		}

		.mkd-footer-top-holder,
		.mkd-footer-bottom-holder {
			background-color: #fff;
			background-image: none !important;
		}
	}

	form .mkd-newsletter {
		input[type=email]::-webkit-input-placeholder {
			font-size: 14px !important;
			font-weight: 400;
		}

		input[type=email]:-moz-placeholder {
			font-size: 14px !important;
			font-weight: 400;
		}

		input[type=email]::-moz-placeholder {
			font-size: 14px !important;
			font-weight: 400;
		}

		input[type=email]:-ms-input-placeholder {
			font-size: 14px !important;
			font-weight: 400;
		}

        input[type=email]::-ms-clear {
            display: none;
        }
	}

	&.mkd-page-footer .textwidget h5 {
		color: #fff;
	}

	&.mkd-page-footer.mkd-dark-footer {
		.mkd-footer-top-holder,
		.mkd-footer-bottom-holder {
			background-color: #222328;
			background-image: none !important;
		}
	}

	.mkd-grid-row-no-gutter.mkd-newsletter {
		position: relative;
		margin-top: 28px;

		input.wpcf7-form-control.wpcf7-submit:not(.mkd-btn-custom-hover-bg):hover {
			color:#fff !important;
			@include mkdTransform(translate3d(3px,0,0));
		}

		.mkd-grid-col-9 {
			padding: 0;
			width: 85%;
			float: left;
		}

		.wpcf7-form-control.wpcf7-text {
			background-color: rgba(255,255,255,.1);
			border: 1px solid #37373d;
			font-size: 15px;
			line-height: 24px;
			border-radius: 30px;
			color: #fff;
		}

		.mkd-grid-col-3 {
			position: static;
			width: 13%;
			padding: 0 5px;
			float: left;
		}

		input.wpcf7-form-control.wpcf7-submit {
			background-color: #3e4048;
			border: none;
			height: 50px;
			width: 50px;
            min-width: 50px;
            min-width: initial;
            font-size: 19px;
            text-align: center;
            font-family: 'ElegantIcons';
			line-height: 49px;
			top: 0;
			padding: 0;
			-webkit-appearance: none;
			@include mkdTransition(all 0.5s cubic-bezier(0.32, 2.13, 0.47, 0.99));
			@include mkdType1DiagonalGradient(false);
			@include mkdBorderRadius(50%);
		}

	}
}


.mkd-grid-row-no-gutter.mkd-newsletter input.wpcf7-form-control.wpcf7-submit {
	@include mkdTransition(all 0.5s cubic-bezier(.32,2.13,.47,.99)); 
}

.mkd-grid-row-no-gutter.mkd-newsletter input.wpcf7-form-control.wpcf7-submit:not(.mkd-btn-custom-hover-bg) {
 
	&:hover {
		color:#fff !important;
		@include mkdTransform(translate3d(3px,0,0));
	}
}

/* Footer uncover - begin
========================================================================== */

footer.mkd-footer-uncover {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	@include mkdTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));

	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz {
		transform: none;
	}

}

.mkd-right-side-menu-opened footer.mkd-footer-uncover {
	left: -270px;
}

/* Footer uncover - end
========================================================================== */

/* Footer boxed - begin
========================================================================== */

.boxed footer {
	width: 100% !important;

	@include mkdBoxSizing(border-box);
}

/* Footer boxed - end
========================================================================== */

/* Footer disabled - begin
========================================================================== */

footer.mkd-disable-footer {
	display: none;
}

/* Footer disabled - end
========================================================================== */

/* ==========================================================================
# Footer style - end
========================================================================== */

/* ==========================================================================
# Footer widgets - begin
========================================================================== */

footer .mkd-footer-top-holder .widget {

	margin-bottom: 40px;

	&.widget_archive ul li a,
	&.widget_pages ul li a,
	&.widget_meta ul li a,
	&.widget_nav_menu ul li a {
		padding-bottom: 10px;
		padding-top: 10px;
	}

	&.widget_pages ul li {

		ul.children {

			li:last-child {
				border-bottom: 0;
			}
		}

		a {
			padding-bottom: 10px;
			padding-top: 10px;

			@include mkdTransition(color 0.2s ease-out);

			&:hover {
				color: $first-main-color;
			}
		}

	}

	&.widget_mkd_instagram_widget {

		ul li {
			border: 0;
		}
	}

	&.widget_archive ul li {
		position: relative;

		@include mkdTransition(color 0.2s ease-out);

		&:hover {
			color: $first-main-color;

			a {
				color: $first-main-color;
			}
		}

		&:hover:before {
			color: $first-main-color;
		}

		&:before {
			content: "\35";
			font-family: ElegantIcons;
			position: absolute;
			top: 22px;
			left: 0;
			font-size: 24px;

			@include mkdTransition(color 0.2s ease-out);
			@include mkdTransform(translateY(-50%));
		}

		a {
			padding-bottom: 10px;
			padding-top: 10px;
			margin-left: 32px;

			@include mkdTransition(color 0.2s ease-out);

			&:hover {
				color: $first-main-color;
			}
		}
	}

	ul li a {
		font-size: 15px;
		font-weight: 400;
		display: inline-block;
		color: #fff;
		font-family: $headings-font-family;

		&:hover {
			color: $first-main-color;
		}
	}

    ul ul {
        padding: 0 0 0 15px;
    }

	.mkd-footer-widget-title {
		color: #fff;
		margin-bottom: 31px;
	}

	ul {
		list-style: none;

		li {
			border-bottom: 1px solid #484848;
			color: #fff;
			
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	select,
	input[type="text"] {
		width: 100%;
		overflow: hidden;
		background-color: #fff;
		padding: 0 18px;
		height: 51px;
		outline: none;
		color: #7f8385;
		font-family: inherit;

		@include mkdBoxSizing(border-box);
	}

	&.widget_categories {

		ul li:before {
			content: '';
			height: 5px;
			width: 5px;
			position: absolute;
			top: 23px;
			left: 11px;
			background-color: #999;

			@include mkdBorderRadius(50%);
			@include mkdTransform(translateY(-50%));
		}

		ul li {
			position: relative;
			@include mkdTransition(color 0.2s ease-out);

			a:hover {
				color: $first-main-color;
			}

		}

		ul {
			list-style: none;
			margin-top: 0;
		}

		ul li a {
			font-size: 14px;
			margin-left: 32px;
			font-weight: 600;
			display: inline-block;
			padding-bottom: 10px;
			padding-top: 10px;
			font-family: $headings-font-family;
		}

	}

	.searchform {
		position: relative;
		padding-right: 51px;
		border: 1px solid #535353;

		input[type=text] {
			width: 100%;
		}

		input[type=submit] {
			position: absolute;
			right: 0;
		}
	}

	&.widget_product_tag_cloud .tagcloud a,
	&.widget_tag_cloud .tagcloud a {
		display: inline-block;
		font-family: $headings-font-family;
		text-transform: lowercase;
		color: #fff;
		padding: 0 12px 0 0;

		@include mkdTransition(color 0.2s ease-out);

		&:hover {
			color: $first-main-color;
		}

	}

	&.widget_search input[type=text],
	&.widget_text select {
		overflow: hidden;
		background-color: #fff;
		padding: 0 10px;
		height: 50px;
		outline: none;
		color: #7f8385;
		font-family: inherit;
		float: left;
		border: 0;

		@include mkdBoxSizing(border-box);
	}

	&.widget_text select {
		margin-bottom: 40px;
	}

	&.widget_product_search input[type=submit],
	&.widget_search input[type=submit] {
		border: none;
		outline: 0;
		font-family: 'Simple-Line-Icons';
		width: 51px;
		height: 51px;
		cursor: pointer;
		color: #fff;
		background-color: #535353;
		font-size: 18px;
	}

	&.widget_categories ul li a {
		font-size: 15px;
		font-weight: 400;
		font-family: $headings-font-family;
	}

	ul li ul.children {
		border-top: 1px solid #484848;
	}

	&.widget_nav_menu ul.sub-menu {
		border-top: 1px solid #484848;
	}

	&.widget_categories li ul.children {
		border-top: 1px solid #484848;
	}

	&.widget_recent_comments li.recentcomments {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&.widget_rss ul li {
		padding-bottom: 10px;
		padding-top: 10px;
	}

	&.widget_mkd_twitter_widget {
		margin-bottom: 29px;

		h5 {
			margin-bottom: 24px;
		}

		.mkd-tweet-icon {
			display: inline-block;
			color: #fff;
			float: left;
			font-size: 18px;
		}

		.mkd-tweet-holder,
		.mkd_tweet_time {
			margin-left: 41px;
			line-height: 23px;
		}

		ul.mkd_twitter_widget li {
			margin-bottom: 35px;
			border: 0;
		}
	}

}

footer .mkd-footer-bottom-holder .widget {

	&.widget_nav_menu {
		padding-top: 5px;
		float: right;

		ul {
			display: inline-block;
			float: left;

			li {
				list-style-type: none;
				display: inline-block;
				padding: 0 20px;

				&:first-child {
					margin-left: -20px;
				}

				&:last-child {
					margin-right: -20px;
				}

				a {
					color: #fff;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: 700;
					font-family: 'Montserrat', sans-serif;
					letter-spacing: 1px;
					@include mkdTransition(all 0.2s ease-out);

					&:hover {
						color: $first-main-color;
					}
				}
			}
		}

	}

	&.mkd-footer-bottom-left.widget_text {
		float: left;
	}

	&.mkd-footer-bottom-right.widget_text {
		padding-top: 45px;
	}

	.mkd-footer-widget-title {
		color: #7f8385;
	}

}

/* ==========================================================================
# Footer widgets - end
========================================================================== */
