@include large-laptop {
	footer .mkd-footer-bottom-holder .widget.widget_nav_menu ul#menu-footer-bottom-menu li {
		padding: 0 10px !important;
	}
}

@include laptop-landscape {
	footer .mkd-footer-bottom-holder .mkd-grid-col-6 {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	footer .mkd-footer-bottom-holder .mkd-footer-bottom-right {
		text-align: center !important;
	}

	footer .mkd-footer-bottom-holder .widget.widget_nav_menu ul#menu-footer-bottom-menu {
		float: none !important;
		text-align: center !important;
	}

	footer .mkd-footer-bottom-holder .widget.mkd-footer-bottom-left.widget_text {
		float: none !important;
		text-align: center !important;
	}

	footer .mkd-footer-bottom-holder .mkd-footer-bottom-left {
		text-align: center !important;
	}

	footer .mkd-footer-bottom-holder .widget.widget_nav_menu {
		padding-left: 0 !important;
		float: none !important;
	}
}

@include ipad-landscape {
	footer .mkd-footer-top-holder .widget {
		&.widget_mkd_instagram_widget {
			max-width: 60%;
		}
	}
}


@include ipad-portrait {
	footer .mkd-footer-top:not(.mkd-footer-top-full) .mkd-container-inner {
		padding: 70px 0 50px;
	}
}

@include phone-portrait {
	footer .mkd-footer-top-holder .widget {
		&.widget_mkd_instagram_widget {
			max-width: 100%;
		}
	}
}