@include ipad-landscape {

	.mkd-title {

		&.mkd-has-background {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
			height: auto !important;
			padding: 0 !important;
		}

		&.mkd-title-image-not-responsive {
			.mkd-title-image {
				display: block;
			}
		}

		.mkd-title-holder {
			height: 100% !important;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 !important;
		}

		.mkd-title-holder .mkd-container {
			display: block;
			height: 100%;
		}

		.mkd-title-holder .mkd-container-inner {
			display: table;
			height: 100%;
		}

		.mkd-title-holder .mkd-title-subtitle-holder {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
		}

		.mkd-title-subtitle-holder {
			padding: 0px !important;
		}

		&.mkd-standard-type .mkd-breadcrumbs-holder {
			position: relative !important;
			top: auto !important;
			left: auto !important;
			right: auto !important;
		}

	}

}

@include ipad-portrait {
	.mkd-large-title-text {
		.mkd-title .mkd-title-holder h1 {
			font-size: 26px;
		}

		&.mkd-title-with-subtitle .mkd-title .mkd-title-holder h1 {
			margin-bottom: 15px;
		}
	}

	.mkd-title .mkd-title-holder .mkd-subtitle {
		display: none;
	}

	.mkd-large-title-text & .mkd-title .mkd-title-holder .mkd-subtitle {
		font-size: 15px;
	}
}

@include phone-landscape {
	.mkd-large-title-text {
		.mkd-title .mkd-title-holder h1 {
			font-size: 23px;
		}

		&.mkd-title-with-subtitle .mkd-title .mkd-title-holder h1 {
			margin-bottom: 10px;
		}
	}

	.mkd-medium-title-text {
		.mkd-title .mkd-title-holder h1 {
			font-size: 20px;
		}

		&.mkd-title-with-subtitle .mkd-title .mkd-title-holder h1 {
			margin-bottom: 10px;
		}
	}

    .mkd-title .mkd-title-holder {
        h1 span {
            font-size: 0.7em;
        }
    }
}

@include phone-portrait {
	.mkd-large-title-text {
		.mkd-title .mkd-title-holder h1 {
			font-size: 20px;
		}
	}

	.mkd-medium-title-text {
		.mkd-title .mkd-title-holder h1 {
			font-size: 18px;
		}
	}

	.mkd-title .mkd-title-holder {
		.mkd-breadcrumbs {
			a, span {
				font-size: 12px;
			}
		}

		.mkd-subtitle {
			font-size: 13px;
		}
	}
}

