.mkd-blog-holder.mkd-masonry-full-width article {
  width: 18.4%;
}

.mkd-blog-holder.mkd-masonry-full-width .mkd-blog-masonry-grid-sizer {
  width: 18.4%;
}

.mkd-blog-holder.mkd-masonry-full-width .mkd-blog-masonry-grid-gutter {
  width: 2%;
}

.mkd-blog-holder.mkd-blog-type-masonry {
  margin-top: 40px;
  opacity: 0;
  transition: none !important;
  overflow: visible !important;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-full-width) {
  margin-left: -21px;
  margin-right: -21px;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-author-desc {
  padding-top: 20px;
}

.mkd-blog-holder.mkd-blog-type-masonry h2.mkd-post-title {
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 400;
  padding-top: 0px;
  line-height: 31px;
  word-wrap: break-word;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-excerpt {
  padding-bottom: 25px;
  margin-bottom: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-author-desc {
  background-color: #ffffff;
  padding-top: 27px;
  padding-bottom: 10px;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-author-desc .mkd-author-name {
  font-size: 16px;
  color: #63a8d8;
  margin: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-author-desc .mkd-author-image {
  margin-right: 18px;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-author-desc .mkd-author-image img {
  height: 54px;
  width: 54px;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-author-desc .mkd-author-name-holder {
  line-height: 51px;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-post-excerpt {
  margin-top: 13px;
  word-wrap: break-word;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-post-info-date {
  font-size: 14px;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-categories-date {
  border-top: 1px solid #eeeeee;
  padding-top: 13px;
  padding-bottom: 13px;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-categories-date .mkd-categories-list {
  width: 65%;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-categories-date .mkd-post-info {
  float: right;
  width: 35%;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-post-content .mkd-categories-date .mkd-post-info-date {
  width: 100%;
  border-right: 0;
  padding-right: 0;
  text-align: right;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-content {
  background-color: #ff3a4c;
  padding: 9px 30px 15px 38px;
  position: relative;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-content h5.mkd-author-name {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-content .mkd-post-title h2 {
  font-size: 20px;
  line-height: 33px;
  margin-top: 30px;
  margin-bottom: 8px;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-content .mkd-post-text {
  padding: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-content .mkd-post-title a:hover {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-content .mkd-post-info-date {
  color: #fff;
  border-right: 0 !important;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-mark {
  position: absolute;
  bottom: 25px;
  right: 20px;
  font-size: 35px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-title span.quote_author {
  color: #fff;
  font-size: 16px;
  line-height: 60px;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-title {
  padding-bottom: 11px;
  margin-bottom: 0 !important;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-quote .mkd-post-title h3 {
  margin-top: 0 !important;
  margin-bottom: 13px;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link .mkd-post-content {
  position: relative;
  background-size: cover;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link .mkd-post-content .mkd-post-text {
  padding-top: 40px;
  padding-bottom: 128px;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link .mkd-post-content .mkd-post-title {
  color: #ffffff;
  margin-bottom: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link .mkd-post-content .mkd-post-title a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link .mkd-post-content h5.mkd-author-name {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link .mkd-post-content .mkd-post-title a:hover {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link .mkd-post-content .mkd-post-info-date {
  position: static;
  color: #fff;
  border-right: 0 !important;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link .mkd-post-content:hover .mkd-post-title {
  opacity: 0.85;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link .mkd-post-mark {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry:not(.mkd-masonry-simple) .format-link h3.mkd-post-title {
  margin-bottom: 10px;
  padding-bottom: 20px;
  margin-top: 11px;
}

.mkd-blog-holder.mkd-blog-type-masonry article {
  display: block;
  width: 25%;
  padding: 0 21px;
  text-align: left;
  vertical-align: top;
  z-index: 100;
  margin: 0 0 42px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-audio .mkd-post-content .mkd-author-desc .mkd-author-name-holder {
  line-height: 54px;
}

.mkd-blog-holder.mkd-blog-type-masonry article:not(.format-audio) .mkd-author-desc {
  padding-top: 0;
  z-index: 10;
}

.mkd-blog-holder.mkd-blog-type-masonry article:not(.format-audio) .mkd-author-desc .mkd-author-image {
  margin-top: -15px;
}

.mkd-blog-holder.mkd-blog-type-masonry article:not(.format-audio) .mkd-author-desc .mkd-author-image img {
  padding: 3px;
  background-color: #ffffff;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote {
  position: relative;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-text,
.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-mark {
  z-index: 10;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-content {
  overflow: hidden;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-content-bgrnd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote:hover .mkd-post-content-bgrnd {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
  left: -5%;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-blog-masonry-grid-sizer {
  width: 25%;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-blog-masonry-grid-gutter {
  width: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry #infscr-loading {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-no-image .mkd-post-content .mkd-author-desc {
  padding-top: 27px;
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-no-image .mkd-post-content .mkd-author-desc .mkd-author-image {
  margin-top: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-no-image article:not(.format-link):not(.format-quote) {
  -webkit-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -moz-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-no-image article:not(.format-link):not(.format-quote) .mkd-post-text {
  -webkit-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -moz-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-no-image article:not(.format-link):not(.format-quote):hover {
  -webkit-transform: translate3d(0, -4px, 0);
  -moz-transform: translate3d(0, -4px, 0);
  transform: translate3d(0, -4px, 0);
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-no-image article:not(.format-link):not(.format-quote):hover .mkd-post-text {
  -webkit-box-shadow: 2px 2px 4px #eee;
  box-shadow: 2px 2px 4px #eee;
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-simple article {
  -webkit-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -moz-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-simple article .mkd-post-text {
  -webkit-box-shadow: 1px 1px 3px #eee;
  box-shadow: 1px 1px 3px #eee;
  -webkit-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -moz-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-simple article:hover {
  -webkit-transform: translate3d(0, -4px, 0);
  -moz-transform: translate3d(0, -4px, 0);
  transform: translate3d(0, -4px, 0);
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-simple article:hover .mkd-post-text {
  -webkit-box-shadow: 2px 2px 4px #eee;
  box-shadow: 2px 2px 4px #eee;
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-simple h2.mkd-post-title {
  font-size: 30px;
}

.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-simple article .mkd-post-text {
  padding-top: 42px;
  padding-bottom: 49px;
}

.mkd-blog-load-more-button-holder {
  text-align: center;
}

.mkd-blog-holder.mkd-blog-type-standard article {
  margin-bottom: 37px;
}

.mkd-blog-holder.mkd-blog-type-standard .format-quote .mkd-post-content .mkd-post-text {
  padding: 25px 57px 29px 47px;
  background-color: #ff3a4c;
}

.mkd-blog-holder.mkd-blog-type-standard .format-quote .mkd-post-mark {
  position: absolute;
  bottom: 25px;
  right: 20px;
  font-size: 45px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-standard .format-link .mkd-post-content {
  position: relative;
  background-size: cover;
}

.mkd-blog-holder.mkd-blog-type-standard .format-link .mkd-post-content .mkd-post-info-date {
  color: #ffffff;
  position: static;
}

.mkd-blog-holder.mkd-blog-type-standard .format-link .mkd-post-content .mkd-post-title {
  color: #ffffff;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.mkd-blog-holder.mkd-blog-type-standard .format-link .mkd-post-content .mkd-post-title a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mkd-blog-holder.mkd-blog-type-standard .format-link .mkd-post-content .mkd-post-title a:hover {
  color: #ffffff;
}

.mkd-blog-holder.mkd-blog-type-standard .format-link .mkd-post-content:hover .mkd-post-title {
  opacity: 0.85;
}

.mkd-blog-holder.mkd-blog-type-standard .format-link .mkd-post-content .mkd-post-text {
  padding-bottom: 80px;
  padding-top: 5px;
}

.mkd-blog-holder.mkd-blog-type-standard .format-link .mkd-post-content .mkd-post-mark {
  position: absolute;
  bottom: 23px;
  right: 28px;
  font-size: 32px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-simple {
  width: 58%;
  margin: 0 auto;
}

.mkd-blog-holder.mkd-blog-type-simple article {
  margin-bottom: 0;
}

.mkd-blog-holder.mkd-blog-type-simple article.format-quote {
  padding-top: 48px;
}

.mkd-blog-holder.mkd-blog-type-simple article.format-link .mkd-post-content .mkd-post-text .mkd-post-info-date span {
  color: #999;
}

.mkd-blog-holder.mkd-blog-type-simple article.format-link .mkd-post-content .mkd-post-text .mkd-post-info-date span.mkd-post-info-date-icon i {
  color: #ff3a4c;
}

.mkd-blog-holder.mkd-blog-type-simple article .mkd-post-title {
  font-size: 34px;
  padding-top: 48px;
}

.mkd-blog-holder.mkd-blog-type-simple article .mkd-post-text {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mkd-blog-holder.mkd-blog-type-simple article .mkd-post-text .mkd-post-text-inner {
  padding-bottom: 43px;
  border-bottom: 1px solid #eeeeee;
}

.mkd-blog-holder.mkd-blog-type-simple article .mkd-post-excerpt {
  margin-bottom: 0;
}

.mkd-blog-holder.mkd-blog-type-simple article:last-of-type .mkd-post-text .mkd-post-text-inner {
  border-bottom: none;
}

.mkd-blog-holder.mkd-blog-type-simple .mkd-pagination {
  padding-left: 36px;
  padding-right: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery {
  opacity: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article {
  width: 25%;
  overflow: hidden;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.mkd-post-size-large-width, .mkd-blog-holder.mkd-blog-type-masonry-gallery article.mkd-post-size-large-width-height {
  width: 50%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-image {
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-image a {
  display: block;
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-image a:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.88) 1%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 74%);
  background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.88) 1%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 74%);
  background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.88) 1%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 74%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.88) 1%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 74%);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-image a img {
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-date-title {
  position: absolute;
  left: 30px;
  bottom: 33px;
  width: calc(100% - 60px);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-date-title .mkd-post-info-date {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-date-title .mkd-post-info-date .mkd-post-info-date-icon {
  display: none;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-date-title .mkd-post-title {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 0;
  padding-top: 12px;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-date-title .mkd-post-title a:hover {
  color: #ffffff;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-date-title .mkd-post-title a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.mkd-post-size-large-width .mkd-post-image a img {
  width: auto;
  max-width: none;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-post-mark, .mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link .mkd-post-mark {
  position: absolute;
  color: #ffffff;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-post-mark a, .mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link .mkd-post-mark a {
  color: #ffffff;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-post-mark {
  font-size: 45px;
  right: 21px;
  bottom: 20px;
  z-index: 20;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote-holder .mkd-masonry-gallery-quote-holder-bgrnd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote-holder:hover .mkd-masonry-gallery-quote-holder-bgrnd {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote-author {
  display: table;
  width: 73%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote-author .mkd-masonry-gallery-quote-author-inner {
  display: table-cell;
  vertical-align: middle;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote-author .mkd-masonry-gallery-quote {
  display: block;
  color: #ffffff;
  line-height: 1.6em;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote-author .mkd-masonry-gallery-author {
  display: block;
  color: #ffffff;
  margin-top: 22px;
  font-weight: 600;
  font-size: 14px;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article:not(.format-quote) .mkd-post-image a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article:not(.format-quote) .mkd-post-image a:before {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article:not(.format-quote):hover .mkd-post-image a {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article:not(.format-quote):hover .mkd-post-image a:before {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-video .mkd-video-post-link {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 56px;
  height: 56px;
  font-size: 56px;
  color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link .mkd-date-title {
  width: calc(100% - 100px);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link .mkd-date-title .mkd-post-title {
  margin-bottom: 0 !important;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link .mkd-post-mark {
  font-size: 30px;
  right: 34px;
  bottom: 38px;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-blog-gallery, .mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .owl-wrapper-outer {
  display: block;
  height: 100%;
  width: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .owl-wrapper, .mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .owl-item, .mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-blog-gallery-item {
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-blog-gallery-item {
  background-size: cover;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-blog-gallery-item a {
  display: block;
  height: 100%;
  width: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .owl-stage-outer,
.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .owl-carousel .owl-stage {
  height: 100% !important;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery .mkd-blog-masonry-gallery-grid-sizer {
  width: 25%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery .mkd-blog-masonry-gallery-grid-gutter {
  width: 0;
}

.mkd-blog-holder article {
  padding-bottom: 0;
}

.mkd-blog-holder article .mkd-more-link-container {
  margin-bottom: 20px;
}

.mkd-blog-holder article .mkd-post-text {
  padding-left: 42px;
  padding-right: 42px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px #eee;
  -moz-box-shadow: 1px 1px 3px #eee;
  box-shadow: 1px 1px 3px #eee;
}

.mkd-blog-holder article .mkd-post-image img {
  vertical-align: middle;
}

.mkd-blog-holder article .mkd-post-text-inner > h1:not(.mkd-post-title),
.mkd-blog-holder article .mkd-post-text-inner > h2:not(.mkd-post-title),
.mkd-blog-holder article .mkd-post-text-inner > h3:not(.mkd-post-title),
.mkd-blog-holder article .mkd-post-text-inner > h4:not(.mkd-post-title),
.mkd-blog-holder article .mkd-post-text-inner > h5:not(.mkd-post-title),
.mkd-blog-holder article .mkd-post-text-inner > h6:not(.mkd-post-title) {
  margin: 15px 0;
}

.mkd-blog-holder article .mkd-post-title {
  margin-top: 0px;
  padding-top: 43px;
  margin-bottom: 14px;
}

.mkd-blog-holder article.sticky .mkd-post-title a {
  color: #ff3a4c;
}

.mkd-blog-holder article .mkd-post-info {
  font-weight: 600;
  color: #999;
  font-size: 14px;
}

.mkd-blog-holder article .mkd-post-info a,
.mkd-blog-holder article .mkd-post-info span {
  color: #999;
  font-family: "Catamaran", sans-serif;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.mkd-blog-holder article .mkd-post-info span[class*="icon"],
.mkd-blog-holder article .mkd-post-info i,
.mkd-blog-holder article .mkd-post-info a:hover,
.mkd-blog-holder article .mkd-post-info a:hover span {
  color: #ff3a4c;
}

.mkd-blog-holder article .mkd-post-info span[class*="icon"] {
  font-size: 16px;
  padding-right: 6px;
}

.mkd-blog-holder article .mkd-post-info .mkd-like i {
  margin-right: 9px;
}

.mkd-blog-holder article .mkd-post-info .mkd-like.liked i {
  color: #ff3a4c;
}

.mkd-blog-holder article .mkd-post-info .mkd-like-number {
  margin-right: 6px;
}

.mkd-blog-holder article .mkd-post-info .mkd-comment-number {
  margin-right: 1px;
}

.mkd-blog-holder article .mkd-post-info span.icon_tags {
  margin-right: 10px;
  font-size: 14px;
}

.mkd-blog-holder article .mkd-post-info > div {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}

.mkd-blog-holder article .mkd-post-excerpt {
  margin-top: 29px;
  margin-bottom: 36px;
}

.mkd-blog-holder article.format-quote .mkd-icon-quotations-holder {
  color: #bcbcbc;
}

.mkd-blog-holder article.format-quote .mkd-category span.icon_tags, .mkd-blog-holder article.format-quote .mkd-category a {
  color: #fff !important;
}

.mkd-blog-holder article.format-quote .mkd-category-holder {
  margin-top: 0;
}

.mkd-blog-holder article.format-quote ul {
  margin: 0 !important;
}

.mkd-blog-holder article.format-quote span.mkd-share-label {
  color: #bbb;
}

.mkd-blog-holder article.format-quote .mkd-post-content .mkd-post-text {
  position: relative;
}

.mkd-blog-holder article.format-quote .mkd-post-title {
  margin-top: 0;
  padding-top: 0;
}

.mkd-blog-holder article.format-quote .mkd-post-title h3 {
  margin-bottom: 22px;
  color: #fff;
  line-height: 46px;
  letter-spacing: -0.02em;
}

.mkd-blog-holder article.format-quote .mkd-post-title h3 a:hover {
  color: #fff;
}

.mkd-blog-holder article.format-quote .mkd-post-title span.mkd-quote_author {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.mkd-blog-holder article.format-link .mkd-category span.icon_tags, .mkd-blog-holder article.format-link .mkd-category a {
  color: #fff !important;
}

.mkd-blog-holder article.format-link .mkd-category-holder {
  margin-top: 8px;
}

.mkd-blog-holder article.format-link ul {
  margin: 0 !important;
}

.mkd-blog-holder article.format-link h5.mkd-author-name {
  color: #fff !important;
}

.mkd-blog-holder article.format-link .mkd-post-content .mkd-post-text {
  position: relative;
}

.mkd-blog-holder article.format-link .mkd-post-content .mkd-post-text .mkd-icon-quotations-holder {
  color: #bcbcbc;
}

.mkd-blog-holder article.format-link .mkd-post-content .mkd-post-text .mkd-post-info-date {
  margin-top: 6px;
  color: #fff;
}

.mkd-blog-holder article.format-link .mkd-post-content .mkd-post-text .mkd-post-info-date span, .mkd-blog-holder article.format-link .mkd-post-content .mkd-post-text .mkd-post-info-date i {
  color: #fff;
}

.mkd-blog-holder article.format-link .mkd-post-content .mkd-post-text h5.mkd-author-name {
  color: #bbb;
}

.mkd-blog-holder:not(.mkd-masonry-simple):not(.mkd-blog-type-simple) article.format-link .mkd-post-title {
  margin-bottom: 10px;
  color: #fff;
}

.mkd-blog-holder:not(.mkd-masonry-simple):not(.mkd-blog-type-simple) article.format-link .mkd-post-title a:hover {
  color: #fff;
}

.mkd-blog-holder:not(.mkd-masonry-simple) article.format-quote .mkd-post-text, .mkd-blog-holder:not(.mkd-masonry-simple) article.format-link .mkd-post-text {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mkd-blog-infinite-scroll-button {
  display: none;
}

.mkd-filter-blog-holder {
  text-align: center;
}

.mkd-filter-blog-holder ul {
  margin: 0;
  padding: 19px 21px;
}

.mkd-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.mkd-filter-blog-holder li:last-child {
  padding-right: 0;
}

.mkd-filter-blog-holder li:hover {
  opacity: 0.8;
}

.mkd-single-links-pages {
  margin-bottom: 20px;
}

.mkd-single-links-pages .mkd-single-links-pages-inner > a,
.mkd-single-links-pages .mkd-single-links-pages-inner > span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-quote .mkd-content-category-share-holder, .mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-content-category-share-holder {
  padding: 32px 36px 0 32px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px #eee;
  -moz-box-shadow: 1px 1px 3px #eee;
  box-shadow: 1px 1px 3px #eee;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-quote .mkd-category-share-holder, .mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-category-share-holder {
  background-color: #fff;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-quote .mkd-post-mark {
  position: absolute;
  bottom: 21px;
  right: 26px;
  font-size: 36px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-content {
  position: relative;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-content .mkd-post-image-text-holder {
  position: relative;
  background-size: cover;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-content .mkd-post-image-text-holder .mkd-post-title {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-content .mkd-post-image-text-holder .mkd-post-title a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-content .mkd-post-image-text-holder:hover .mkd-post-title {
  opacity: 0.85;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-content .mkd-post-image-text-holder:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.6);
  top: 0;
  left: 0;
  z-index: 1;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-content .mkd-post-text {
  padding-bottom: 50px;
  z-index: 2;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-content .mkd-post-info-date {
  color: #ffffff;
  position: static;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-content .mkd-post-mark {
  position: absolute;
  bottom: 23px;
  right: 28px;
  font-size: 36px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard article.format-quote .mkd-post-title h1 {
  color: #ffffff;
  font-size: 38px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard article.format-quote .mkd-post-content .mkd-post-text {
  padding: 15px 57px 29px 37px;
}

.single-post .mkd-content .mkd-content-inner > .mkd-container,
.single-post .mkd-content .mkd-content-inner > .mkd-full-width {
  background-color: #f7f7fa;
}

.single .mkd-content .mkd-content-inner > .mkd-container > .mkd-container-inner {
  padding-top: 0;
}

.single .mkd-blog-holder article .mkd-post-title {
  letter-spacing: -0.02em;
}

.single .mkd-blog-holder article .mkd-single-links-pages {
  margin-top: 20px;
}

.single .mkd-post-info {
  margin-bottom: 20px;
}

.single .mkd-blog-holder article {
  margin-bottom: 0px;
}

.single .mkd-author-description {
  padding: 20px 0;
  margin-bottom: 18px;
}

.single .mkd-author-description .mkd-author-description-inner {
  background-color: #fff;
}

.single .mkd-author-description .mkd-author-name {
  margin-top: 35px;
  margin-bottom: -3px;
}

.single .mkd-author-description .mkd-author-text {
  margin-top: 18px;
}

.single .mkd-author-description .mkd-author-social-holder {
  margin-top: 23px;
  margin-left: 2px;
  margin-bottom: 25px;
}

.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-icon {
  display: inline-block;
  width: 24px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-twitter,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-instagram,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-facebook,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-pinterest,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-tumblr,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-google-plus,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-linkedin {
  color: #999;
}

.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-twitter:hover,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-instagram:hover,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-facebook:hover,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-pinterest:hover,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-tumblr:hover,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-google-plus:hover,
.single .mkd-author-description .mkd-author-social-holder .mkd-author-social-linkedin:hover {
  color: #ff3a4c;
}

.single .mkd-author-description .mkd-author-description-image {
  float: left;
  width: 232px;
  height: 232px;
  overflow: hidden;
}

.single .mkd-author-description .mkd-author-description-image img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.single .mkd-author-description .mkd-author-description-text-holder {
  padding-left: 262px;
  position: relative;
  padding-right: 36px;
}

.single .mkd-author-description .mkd-author-description-text-holder h6.mkd-author-position {
  color: #ff3a4c;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 19px;
}

.single .mkd-single-tags-holder {
  margin: 58px 0 28px;
}

.single .mkd-single-tags-holder .mkd-single-tags-title {
  display: inline-block;
  margin-right: 5px;
  margin-left: 3px;
  font-size: 20px;
  font-weight: 700;
  color: #3e3e3e;
}

.single .mkd-single-tags-holder .mkd-tags {
  display: inline-block;
}

.single .mkd-single-tags-holder .mkd-tags a {
  margin: 0 8px 5px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  font-family: "Catamaran", sans-serif;
  color: #3e3e3e;
  padding: 3px 19px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px #eee;
  -moz-box-shadow: 1px 1px 3px #eee;
  box-shadow: 1px 1px 3px #eee;
  -webkit-transition: background-color 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out;
  transition: background-color 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out;
}

.single .mkd-single-tags-holder .mkd-tags a:hover {
  color: #ff3a4c;
}

.single .mkd-blog-single-navigation {
  padding: 23px 0;
}

.single .mkd-blog-single-navigation .mkd-icon-stack {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 22px;
  background-color: #fff;
  line-height: 45px;
  text-align: center;
  color: #3e3e3e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 3px #eee;
  -moz-box-shadow: 1px 1px 3px #eee;
  box-shadow: 1px 1px 3px #eee;
}

.single .mkd-blog-single-navigation .mkd-blog-single-prev {
  float: left;
  width: 50%;
}

.single .mkd-blog-single-navigation .mkd-blog-single-prev > a {
  display: block;
}

.single .mkd-blog-single-navigation .mkd-blog-single-prev .mkd-icon-stack {
  float: left;
}

.single .mkd-blog-single-navigation .mkd-blog-single-prev .mkd-single-prev-title-label {
  float: left;
  padding-left: 15px;
  width: calc(100% - 77px);
}

.single .mkd-blog-single-navigation .mkd-blog-single-prev .mkd-single-prev-title {
  display: block;
  text-align: left;
  color: #3e3e3e;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.single .mkd-blog-single-navigation .mkd-blog-single-prev .mkd-single-prev-title:hover {
  color: #ff3a4c;
}

.single .mkd-blog-single-navigation .mkd-blog-single-prev .mkd-single-prev-label {
  display: block;
  text-align: left;
  color: #777;
  font-weight: 600;
  font-size: 14px;
}

.single .mkd-blog-single-navigation .mkd-blog-single-next {
  float: right;
  width: 50%;
}

.single .mkd-blog-single-navigation .mkd-blog-single-next .mkd-single-next-title-label {
  float: right;
  padding-right: 15px;
  width: calc(100% - 77px);
}

.single .mkd-blog-single-navigation .mkd-blog-single-next .mkd-icon-stack {
  float: right;
}

.single .mkd-blog-single-navigation .mkd-blog-single-next .mkd-single-next-title {
  display: block;
  text-align: right;
  color: #3e3e3e;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.single .mkd-blog-single-navigation .mkd-blog-single-next .mkd-single-next-title:hover {
  color: #ff3a4c;
}

.single .mkd-blog-single-navigation .mkd-blog-single-next .mkd-single-next-label {
  display: block;
  text-align: right;
  color: #777;
  font-weight: 600;
  font-size: 14px;
}

.single .mkd-post-content .mkd-category-share-holder {
  margin-top: 25px;
}

.mkd-related-posts-holder {
  margin-bottom: 35px;
  padding-bottom: 35px;
}

.mkd-related-posts-holder .mkd-related-posts-title {
  margin-bottom: 20px;
}

.mkd-related-posts-holder .mkd-related-post {
  width: 24.8125%;
  margin-right: 0.25%;
  display: inline-block;
  float: left;
}

.mkd-related-posts-holder .mkd-related-post:nth-child(4n) {
  margin-right: 0;
}

.mkd-related-posts-holder .mkd-related-post img {
  display: block;
}

.mkd-related-posts-holder .mkd-related-post .mkd-related-post-image {
  margin-bottom: 16px;
}

.mkd-related-posts-holder .mkd-related-post .mkd-related-post-title,
.mkd-related-posts-holder .mkd-related-post .mkd-related-post-info {
  margin-bottom: 6px;
}

.mkd-related-posts-holder .mkd-related-post .mkd-related-post-info {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.mkd-column1 .mkd-related-posts-holder .mkd-related-post,
.mkd-column2 .mkd-related-posts-holder .mkd-related-post {
  width: 33.16%;
  margin-right: 0.25%;
}

.mkd-column1 .mkd-related-posts-holder .mkd-related-post:nth-child(3n),
.mkd-column2 .mkd-related-posts-holder .mkd-related-post:nth-child(3n) {
  margin-right: 0;
}

.mkd-content .mkd-share-icons ul {
  margin: 0;
}

.mkd-post-content .mkd-categories-list {
  float: left;
  width: 50%;
}

.mkd-post-content .mkd-share-icons {
  float: right;
  width: 50%;
  text-align: right;
}

.mkd-post-content .mkd-social-share-holder.mkd-list {
  display: inline-block;
  text-align: center;
}

.mkd-post-content .mkd-author-image {
  height: 100%;
  display: inline-block;
  float: left;
  margin-right: 13px;
}

.mkd-post-content .mkd-author-image img {
  width: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mkd-post-content .mkd-author-name-holder {
  position: relative;
  float: left;
}

.mkd-post-content .mkd-category-share-holder {
  width: 100%;
  display: block;
  position: relative;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkd-post-content .mkd-author-desc {
  position: relative;
}

.mkd-post-content .mkd-categories-list {
  float: left;
  width: 50%;
}

.mkd-post-content h5.mkd-author-name {
  font-size: 14px;
  font-weight: 600;
  color: #545454;
}

.mkd-post-content .mkd-post-info-category.mkd-post-info-item a {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #ff3a4c;
  font-family: "Catamaran", sans-serif;
}

.mkd-post-content .mkd-post-info-category.mkd-post-info-item .mkd-category-color {
  display: inline-block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mkd-post-content .mkd-post-info-category.mkd-post-info-item .mkd-category-name {
  padding-right: 10px;
}

.mkd-post-content .mkd-post-info-date
article.post .mkd-category-share-holder {
  position: relative;
  border-top: 1px solid #f2f2f2;
  margin-top: 57px;
  padding-top: 15px;
  padding-bottom: 24px;
}

.mkd-post-content .mkd-post-info-date
article.post .mkd-category-holder {
  width: 50%;
  float: left;
}

.mkd-post-content .mkd-post-info-date
article.post .mkd-share-icons-single {
  width: 50%;
  float: left;
  text-align: right;
}

article .mkd-category {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-family: "Catamaran", sans-serif;
}

article .mkd-category a {
  margin-left: 10px;
}

article .mkd-category span.icon_tags {
  color: #ff3a4c;
}

article .mkd-post-image {
  margin-bottom: 0;
}

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.mkd-blog-holder article .mkd-audio-image-holder {
  position: relative;
}

.mkd-blog-holder article .mkd-audio-image-holder .mkd-audio-player-holder {
  position: relative;
  width: 100%;
}

.mkd-blog-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-container .mejs-controls {
  height: 42px !important;
}

.mkd-self-hosted-video-holder .mkd-video-wrap .mejs-container,
.mkd-self-hosted-video-holder .mkd-video-wrap .mejs-overlay-play {
  height: 100% !important;
  /*!important because of the inline style*/
  width: 100% !important;
  /*!important because of the inline style*/
}

.mejs-container {
  height: 42px !important;
}

.mkd-blog-audio-transparent .mejs-container {
  background-color: transparent;
}

.mejs-container * {
  font-family: "Catamaran", sans-serif;
}

.mejs-container .mejs-controls {
  height: 42px;
  visibility: visible !important;
  opacity: 1 !important;
  background-color: transparent;
}

.mejs-container .mejs-controls div {
  height: 42px;
  text-align: center;
  line-height: 40px;
}

.mejs-controls .mejs-button button {
  background: none;
  font-family: 'ElegantIcons';
  color: #fff;
  margin: 0;
  height: 100%;
  position: static;
  width: auto;
  display: inline-block;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.mejs-controls .mejs-button button:focus {
  outline: none;
}

.mejs-container .mejs-controls .mejs-playpause-button {
  width: 46px;
}

.mejs-controls .mejs-play button {
  font-family: 'ElegantIcons';
  font-size: 22px;
  color: #ffffff;
  margin-top: -1px;
}

.mejs-controls .mejs-play button:after {
  content: "\49";
}

.mejs-controls .mejs-pause button {
  font-family: 'ElegantIcons';
  font-size: 18px;
}

.mejs-controls .mejs-pause button:after {
  content: "\5f";
}

.mejs-controls .mejs-mute button {
  font-family: 'ElegantIcons';
  font-size: 15px;
}

.mejs-controls .mejs-mute button:after {
  content: "\7a";
}

.mejs-controls .mejs-unmute button {
  font-family: 'ElegantIcons';
  font-size: 13px;
}

.mejs-controls .mejs-unmute button:after {
  content: "\78";
}

.mejs-container .mejs-controls .mejs-fullscreen-button {
  width: 32px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button {
  font-size: 13px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button:after {
  content: "\30";
}

.mejs-container .mejs-controls .mejs-time {
  height: 39px;
  padding: 0;
  width: 35px;
  font-size: 12px;
  font-weight: 600;
}

.mejs-container .mejs-controls .mejs-time.mejs-currenttime-container {
  position: absolute;
}

.mejs-container .mejs-controls .mejs-time.mejs-duration-container {
  padding-left: 6px;
  position: relative;
}

.mejs-container .mejs-controls .mejs-time.mejs-duration-container:before {
  content: '/  ';
  position: absolute;
  left: 2px;
  font-size: 20px;
  font-weight: 400;
}

.mejs-container.mejs-video .mejs-controls .mejs-time.mejs-currenttime-container {
  right: 97px;
}

.mejs-container.mejs-audio .mejs-controls .mejs-time.mejs-currenttime-container {
  right: 130px;
}

.touch .mejs-container.mejs-video .mejs-controls .mejs-time.mejs-currenttime-container {
  right: 70px;
}

.touch .mejs-container.mejs-audio .mejs-controls .mejs-time.mejs-currenttime-container {
  right: 48px;
}

.touch .mejs-container.mejs-audio .mejs-controls .mejs-time.mejs-duration-container {
  padding-right: 10px;
}

.mejs-controls div.mejs-time-rail {
  padding-top: 0;
  margin-right: 40px;
}

.mejs-controls a.mejs-horizontal-volume-slider {
  margin-right: 10px;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
  display: none !important;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  height: 5px;
  background-color: #ebeff1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
  margin-top: 17px;
}

.mejs-controls .mejs-time-rail .mejs-time-current:after {
  content: '';
  height: 13px;
  width: 13px;
  background-color: #ffffff;
  position: absolute;
  bottom: 50%;
  right: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  height: 5px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #ffffff;
  height: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/*# sourceMappingURL=blog.css.map */