@media only screen and (max-width: 1200px) {
  .mkd-grid,
  .mkd-container-inner,
  .mkd-grid-section .mkd-section-inner,
  .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-grid,
  .mkd-container-inner,
  .mkd-grid-section .mkd-section-inner,
  .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-grid,
  .mkd-container-inner,
  .mkd-grid-section .mkd-section-inner,
  .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-grid,
  .mkd-container-inner,
  .mkd-grid-section .mkd-section-inner,
  .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-grid,
  .mkd-container-inner,
  .mkd-grid-section .mkd-section-inner,
  .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .mkd-grid,
  .mkd-container-inner,
  .mkd-grid-section .mkd-section-inner,
  .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (min-width: 1490px) and (max-width: 1650px) {
  .mkd-header-vertical .mkd-grid,
  .mkd-header-vertical .mkd-container-inner,
  .mkd-header-vertical .mkd-grid-section .mkd-section-inner,
  .mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 1100px;
  }
}

@media only screen and (min-width: 1314px) and (max-width: 1490px) {
  .mkd-header-vertical .mkd-grid,
  .mkd-header-vertical .mkd-container-inner,
  .mkd-header-vertical .mkd-grid-section .mkd-section-inner,
  .mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1314px) {
  .mkd-header-vertical .mkd-grid,
  .mkd-header-vertical .mkd-container-inner,
  .mkd-header-vertical .mkd-grid-section .mkd-section-inner,
  .mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 850px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-header-vertical .mkd-grid,
  .mkd-header-vertical .mkd-container-inner,
  .mkd-header-vertical .mkd-grid-section .mkd-section-inner,
  .mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-header-vertical .mkd-grid,
  .mkd-header-vertical .mkd-container-inner,
  .mkd-header-vertical .mkd-grid-section .mkd-section-inner,
  .mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-header-vertical .mkd-grid,
  .mkd-header-vertical .mkd-container-inner,
  .mkd-header-vertical .mkd-grid-section .mkd-section-inner,
  .mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-header-vertical .mkd-grid,
  .mkd-header-vertical .mkd-container-inner,
  .mkd-header-vertical .mkd-grid-section .mkd-section-inner,
  .mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .mkd-header-vertical .mkd-grid,
  .mkd-header-vertical .mkd-container-inner,
  .mkd-header-vertical .mkd-grid-section .mkd-section-inner,
  .mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-boxed .mkd-wrapper .mkd-wrapper-inner,
  .mkd-boxed .mkd-wrapper .mkd-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-boxed .mkd-wrapper .mkd-wrapper-inner,
  .mkd-boxed .mkd-wrapper .mkd-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-boxed .mkd-wrapper .mkd-wrapper-inner,
  .mkd-boxed .mkd-wrapper .mkd-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-boxed .mkd-wrapper .mkd-wrapper-inner,
  .mkd-boxed .mkd-wrapper .mkd-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-boxed .mkd-wrapper .mkd-wrapper-inner,
  .mkd-boxed .mkd-wrapper .mkd-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .mkd-boxed .mkd-wrapper .mkd-wrapper-inner,
  .mkd-boxed .mkd-wrapper .mkd-footer-inner {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-content {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-two-columns-50-50 .mkd-column,
  .mkd-two-columns-66-33 .mkd-column1,
  .mkd-two-columns-66-33 .mkd-column2,
  .mkd-two-columns-33-66 .mkd-column1,
  .mkd-two-columns-33-66 .mkd-column2,
  .mkd-two-columns-25-75 .mkd-column1,
  .mkd-two-columns-25-75 .mkd-column2,
  .mkd-two-columns-75-25 .mkd-column1,
  .mkd-two-columns-75-25 .mkd-column2,
  .mkd-three-columns .mkd-column,
  .mkd-four-columns .mkd-column {
    width: 100%;
  }
  .mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner,
  .mkd-two-columns-66-33 .mkd-column2 .mkd-column-inner,
  .mkd-two-columns-33-66 .mkd-column1 .mkd-column-inner,
  .mkd-two-columns-33-66 .mkd-column2 .mkd-column-inner,
  .mkd-two-columns-75-25 .mkd-column1 .mkd-column-inner,
  .mkd-two-columns-75-25 .mkd-column2 .mkd-column-inner,
  .mkd-two-columns-25-75 .mkd-column1 .mkd-column-inner,
  .mkd-two-columns-25-75 .mkd-column2 .mkd-column-inner {
    padding: 0 0 0 0;
  }
  .mkd-intro-section-section-holder {
    height: auto !important;
  }
  .mkd-intro-section-section-holder .mkd-intro-section-content-outer-fixed {
    position: relative;
  }
  .mkd-intro-section-section-holder .mkd-intro-section-background {
    background-attachment: scroll;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
  }
}

@media only screen and (max-width: 320px) {
  .mkd-section-inner-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-page-not-found h2 {
    font-size: 100px;
  }
  .mkd-page-not-found p {
    font-size: 20px;
    padding: 0 5%;
  }
  .mkd-page-not-found {
    margin: 50px 0 70px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-404-page {
    height: calc(100vh - 100px);
  }
}

@media only screen and (max-width: 768px) {
  .mkd-404-page .mkd-page-not-found h2 {
    font-size: 70px;
  }
  .mkd-404-page .mkd-page-not-found p {
    padding: 0 20px;
  }
  .mkd-page-not-found {
    margin: 30px 0 64px;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-404-page .mkd-page-not-found h2 {
    font-size: 55px;
    letter-spacing: 0;
  }
  .mkd-404-page .mkd-page-not-found p {
    padding: 0 15px;
    font-size: 14px;
  }
  .mkd-page-not-found {
    margin: 30px 0 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-page-header {
    display: none;
  }
  .mkd-header-vertical .mkd-vertical-menu-area {
    display: none;
  }
  .mkd-header-vertical .mkd-content,
  .mkd-header-vertical footer {
    padding-left: 0;
  }
  .mkd-mobile-header {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-fullscreen-search-holder .mkd-search-submit {
    float: left !important;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-boxed .mkd-page-header .mkd-sticky-header,
  .mkd-boxed .mkd-page-header .mkd-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-boxed.mkd-sticky-up-mobile-header .mobile-header-appear .mkd-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-boxed.mkd-sticky-up-mobile-header .mobile-header-appear .mkd-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-boxed.mkd-sticky-up-mobile-header .mobile-header-appear .mkd-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-boxed.mkd-sticky-up-mobile-header .mobile-header-appear .mkd-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .mkd-boxed.mkd-sticky-up-mobile-header .mobile-header-appear .mkd-mobile-header-inner {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-top-bar {
    background-color: #323232 !important;
    height: auto;
  }
  .mkd-top-bar .mkd-vertical-align-containers {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mkd-top-bar .mkd-vertical-align-containers .mkd-position-left,
  .mkd-top-bar .mkd-vertical-align-containers .mkd-position-right {
    float: none;
    text-align: center;
    width: 100%;
  }
  .mkd-top-bar .mkd-vertical-align-containers .mkd-position-right,
  .mkd-top-bar .mkd-vertical-align-containers .mkd-position-center {
    display: none;
  }
  .mkd-top-bar .mkd-vertical-align-containers .mkd-position-left {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-top-bar {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  footer .mkd-footer-bottom-holder .widget.widget_nav_menu ul#menu-footer-bottom-menu li {
    padding: 0 10px !important;
  }
}

@media only screen and (max-width: 1200px) {
  footer .mkd-footer-bottom-holder .mkd-grid-col-6 {
    width: 100%;
  }
  footer .mkd-footer-bottom-holder .mkd-grid-col-6:not(:last-child) {
    margin-bottom: 20px;
  }
  footer .mkd-footer-bottom-holder .mkd-footer-bottom-right {
    text-align: center !important;
  }
  footer .mkd-footer-bottom-holder .widget.widget_nav_menu ul#menu-footer-bottom-menu {
    float: none !important;
    text-align: center !important;
  }
  footer .mkd-footer-bottom-holder .widget.mkd-footer-bottom-left.widget_text {
    float: none !important;
    text-align: center !important;
  }
  footer .mkd-footer-bottom-holder .mkd-footer-bottom-left {
    text-align: center !important;
  }
  footer .mkd-footer-bottom-holder .widget.widget_nav_menu {
    padding-left: 0 !important;
    float: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  footer .mkd-footer-top-holder .widget.widget_mkd_instagram_widget {
    max-width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  footer .mkd-footer-top:not(.mkd-footer-top-full) .mkd-container-inner {
    padding: 70px 0 50px;
  }
}

@media only screen and (max-width: 480px) {
  footer .mkd-footer-top-holder .widget.widget_mkd_instagram_widget {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-title.mkd-has-background {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .mkd-title.mkd-title-image-not-responsive .mkd-title-image {
    display: block;
  }
  .mkd-title .mkd-title-holder {
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
  }
  .mkd-title .mkd-title-holder .mkd-container {
    display: block;
    height: 100%;
  }
  .mkd-title .mkd-title-holder .mkd-container-inner {
    display: table;
    height: 100%;
  }
  .mkd-title .mkd-title-holder .mkd-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .mkd-title .mkd-title-subtitle-holder {
    padding: 0px !important;
  }
  .mkd-title.mkd-standard-type .mkd-breadcrumbs-holder {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-large-title-text .mkd-title .mkd-title-holder h1 {
    font-size: 26px;
  }
  .mkd-large-title-text.mkd-title-with-subtitle .mkd-title .mkd-title-holder h1 {
    margin-bottom: 15px;
  }
  .mkd-title .mkd-title-holder .mkd-subtitle {
    display: none;
  }
  .mkd-large-title-text .mkd-title .mkd-title-holder .mkd-subtitle {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-large-title-text .mkd-title .mkd-title-holder h1 {
    font-size: 23px;
  }
  .mkd-large-title-text.mkd-title-with-subtitle .mkd-title .mkd-title-holder h1 {
    margin-bottom: 10px;
  }
  .mkd-medium-title-text .mkd-title .mkd-title-holder h1 {
    font-size: 20px;
  }
  .mkd-medium-title-text.mkd-title-with-subtitle .mkd-title .mkd-title-holder h1 {
    margin-bottom: 10px;
  }
  .mkd-title .mkd-title-holder h1 span {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-large-title-text .mkd-title .mkd-title-holder h1 {
    font-size: 20px;
  }
  .mkd-medium-title-text .mkd-title .mkd-title-holder h1 {
    font-size: 18px;
  }
  .mkd-title .mkd-title-holder .mkd-breadcrumbs a, .mkd-title .mkd-title-holder .mkd-breadcrumbs span {
    font-size: 12px;
  }
  .mkd-title .mkd-title-holder .mkd-subtitle {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1400px) {
  .mkd-side-menu-slide-from-right .mkd-side-menu {
    padding: 3% 40px 30px;
  }
}

@media only screen and (max-width: 600px) {
  .masonry .mkd-ptf-gallery .mkd-ptf-gallery-sizer,
  .masonry .mkd-ptf-gallery .mkd-ptf-gallery-item {
    width: 100% !important;
  }
  .masonry .mkd-ptf-gallery .mkd-ptf-gallery-gutter {
    width: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .single.single-portfolio-item .small-images .mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner {
    padding: 0;
  }
  .single.single-portfolio-item .small-slider .mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner {
    padding: 0;
  }
}

/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .mkd-elements-holder.mkd-responsive-mode-1280.mkd-two-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-1280.mkd-three-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-1280.mkd-four-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-1280.mkd-five-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-1280.mkd-six-columns .mkd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-elements-holder.mkd-responsive-mode-1024.mkd-two-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-1024.mkd-three-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-1024.mkd-four-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-1024.mkd-five-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-1024.mkd-six-columns .mkd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-elements-holder.mkd-responsive-mode-768.mkd-two-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-768.mkd-three-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-768.mkd-four-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-768.mkd-five-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-768.mkd-six-columns .mkd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-elements-holder.mkd-responsive-mode-600.mkd-two-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-600.mkd-three-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-600.mkd-four-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-600.mkd-five-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-600.mkd-six-columns .mkd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-elements-holder.mkd-responsive-mode-480.mkd-two-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-480.mkd-three-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-480.mkd-four-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-480.mkd-five-columns .mkd-elements-holder-item, .mkd-elements-holder.mkd-responsive-mode-480.mkd-six-columns .mkd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-elements-holder .mkd-elements-holder-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .mkd-elements-holder.mkd-responsive-mode-1280.mkd-one-column-alignment-left .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: left;
  }
  .mkd-elements-holder.mkd-responsive-mode-1280.mkd-one-column-alignment-right .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: right;
  }
  .mkd-elements-holder.mkd-responsive-mode-1280.mkd-one-column-alignment-center .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-elements-holder.mkd-responsive-mode-1024.mkd-one-column-alignment-left .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: left;
  }
  .mkd-elements-holder.mkd-responsive-mode-1024.mkd-one-column-alignment-right .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: right;
  }
  .mkd-elements-holder.mkd-responsive-mode-1024.mkd-one-column-alignment-center .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-elements-holder.mkd-responsive-mode-768.mkd-one-column-alignment-left .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: left;
  }
  .mkd-elements-holder.mkd-responsive-mode-768.mkd-one-column-alignment-right .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: right;
  }
  .mkd-elements-holder.mkd-responsive-mode-768.mkd-one-column-alignment-center .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-elements-holder.mkd-responsive-mode-600.mkd-one-column-alignment-left .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: left;
  }
  .mkd-elements-holder.mkd-responsive-mode-600.mkd-one-column-alignment-right .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: right;
  }
  .mkd-elements-holder.mkd-responsive-mode-600.mkd-one-column-alignment-center .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-elements-holder.mkd-responsive-mode-480.mkd-one-column-alignment-left .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: left;
  }
  .mkd-elements-holder.mkd-responsive-mode-480.mkd-one-column-alignment-right .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: right;
  }
  .mkd-elements-holder.mkd-responsive-mode-480.mkd-one-column-alignment-center .mkd-elements-holder-item .mkd-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */
/* ==========================================================================
   Google Map start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkd-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */
/* ==========================================================================
# Team responsive style - begin
========================================================================== */
/* ==========================================================================
# Team responsive style - end
========================================================================== */
/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .mkd-call-to-action .mkd-call-to-action-row-75-25 .mkd-call-to-action-column1 {
    width: 60%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .mkd-call-to-action .mkd-call-to-action-row-75-25 .mkd-call-to-action-column2 {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-call-to-action .mkd-call-to-action-cell {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-call-to-action .mkd-text-wrapper .mkd-call-to-action-icon-holder {
    position: relative;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-call-to-action .mkd-text-wrapper .mkd-call-to-action-icon {
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-call-to-action .mkd-text-wrapper .mkd-call-to-action-text {
    text-align: center;
    margin-bottom: 10px;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-call-to-action.with-icon {
    padding: 0;
  }
}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */
/* ==========================================================================
# Counter responsive style - begin
========================================================================== */
/* ==========================================================================
# Counter responsive style - end
========================================================================== */
/* ==========================================================================
# Countdown responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .countdown-amount {
    font-size: 50px !important;
    line-height: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-amount {
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .countdown-period {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-period {
    font-size: 10px !important;
  }
}

/* ==========================================================================
# Countdown responsive style - end
========================================================================== */
/* ==========================================================================
# Message responsive style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .mkd-message {
    padding: 20px 22px;
  }
}

@media screen and (max-width: 320px) {
  .mkd-message .mkd-message-text {
    line-height: normal;
  }
}

/* Unique style for both types - end
========================================================================== */
/* Type with icon - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkd-message.mkd-with-icon .mkd-message-icon-holder {
    padding: 20px 22px;
  }
}

/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message responsive style - end
========================================================================== */
@media only screen and (max-width: 1200px) {
  .mkd-pricing-tables.mkd-four-columns .mkd-price-table {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-pricing-tables.mkd-two-columns .mkd-price-table,
  .mkd-pricing-tables.mkd-three-columns .mkd-price-table,
  .mkd-pricing-tables.mkd-four-columns .mkd-price-table {
    width: 100%;
    margin-bottom: 30px;
  }
  .mkd-pricing-tables.mkd-two-columns .mkd-price-table:last-child,
  .mkd-pricing-tables.mkd-three-columns .mkd-price-table:last-child,
  .mkd-pricing-tables.mkd-four-columns .mkd-price-table:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-tabs.mkd-vertical .mkd-tabs-nav, .mkd-tabs.mkd-vertical .mkd-tab-container {
    width: 100% !important;
  }
  .mkd-tabs .mkd-tabs-nav {
    overflow: visible;
  }
  .mkd-tabs .mkd-tabs-nav li:not(.mkd-tab-line),
  .mkd-tabs.mkd-horizontal .mkd-tabs-nav li:not(.mkd-tab-line) {
    float: none;
    display: block;
  }
  .mkd-tabs.mkd-horizontal .mkd-tab-container {
    border-top: 0;
  }
  .mkd-tabs.mkd-vertical .mkd-tab-container {
    padding: 35px 0;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-tabs.mkd-horizontal .mkd-tab-container, .mkd-tabs.mkd-vertical .mkd-tab-container {
    background-image: none !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1400px) {
  .mkd-tabs.mkd-horizontal .mkd-tabs-nav li:first-child {
    border-left: 0;
  }
  .mkd-tabs.mkd-horizontal .mkd-tabs-nav li a {
    border-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-accordion-holder:not(.mkd-boxed) div.mkd-accordion-content {
    padding: 10px;
  }
  .mkd-accordion-holder .mkd-title-holder .mkd-accordion-mark {
    right: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-accordion-holder .mkd-title-holder .mkd-tab-title,
  .mkd-accordion-holder .mkd-title-holder .mkd-tab-title-inner {
    line-height: 27px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-blog-list-holder.mkd-four-columns > ul > li {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-blog-list-holder.mkd-two-columns > ul > li,
  .mkd-blog-list-holder.mkd-three-columns > ul > li,
  .mkd-blog-list-holder.mkd-four-columns > ul > li {
    width: 100%;
  }
  .mkd-blog-list-holder.mkd-minimal .mkd-blog-list-item {
    padding: 10px 0 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mkd-blog-list-holder .mkd-item-info-section > div {
    display: block;
    padding: 0;
  }
}

/* ==========================================================================
# Image Gallery - begin
========================================================================== */
/* Image Gallery Grid - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-2 .mkd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-3 .mkd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-3 .mkd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-3 .mkd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-3 .mkd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-3 .mkd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-4 .mkd-gallery-image {
    width: 50%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-4 .mkd-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-4 .mkd-gallery-image:nth-child(3n+1) {
    margin-right: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-4 .mkd-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-4 .mkd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-4 .mkd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-4 .mkd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-4 .mkd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-4 .mkd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image {
    width: 24%;
    margin-right: 1.33333%;
    margin-bottom: 1.33333%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image:nth-child(4n) {
    margin-right: 0;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image:nth-child(4n+1) {
    clear: both;
    margin-right: 1.33333%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-gallery-columns-5 .mkd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-no-space .mkd-gallery-image:nth-child(3n+1),
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-no-space .mkd-gallery-image:nth-child(2n+1) {
    margin-right: 0 !important;
  }
  .mkd-image-gallery .mkd-image-gallery-grid.mkd-no-space .mkd-gallery-image {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
}

/* Image Gallery Grid - end
========================================================================== */
/* Image Gallery Slider - begin
========================================================================== */
/* Image Gallery Slider - end
========================================================================== */
/* ==========================================================================
# Image Gallery - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkd-portfolio-list-holder-outer.mkd-ptf-five-columns article,
  .mkd-portfolio-list-holder-outer.mkd-ptf-six-columns article {
    width: 33%;
  }
  .mkd-portfolio-list-holder-outer.mkd-ptf-four-columns article {
    width: 50%;
  }
  .mkd-portfolio-list-holder-outer.mkd-ptf-with-spaces.mkd-ptf-five-columns article,
  .mkd-portfolio-list-holder-outer.mkd-ptf-with-spaces.mkd-ptf-six-columns article {
    width: 32.5%;
  }
  .mkd-portfolio-list-holder-outer.mkd-ptf-with-spaces.mkd-ptf-four-columns article {
    width: 49%;
  }
  .mkd-portfolio-list-holder-outer.mkd-ptf-pinterest-five-columns .mkd-ptf-pinterest-four-columns article,
  .mkd-portfolio-list-holder-outer.mkd-ptf-pinterest-five-columns .mkd-ptf-pinterest-four-columns .mkd-portfolio-list-masonry-grid-sizer, .mkd-portfolio-list-holder-outer.mkd-ptf-pinterest-five-columns .mkd-ptf-pinterest-four-columns article,
  .mkd-portfolio-list-holder-outer.mkd-ptf-pinterest-five-columns .mkd-ptf-pinterest-four-columns .mkd-portfolio-list-masonry-grid-sizer {
    width: 33.33%;
  }
  .mkd-portfolio-list-holder-outer.mkd-ptf-masonry .mkd-portfolio-list-masonry-grid-sizer,
  .mkd-portfolio-list-holder-outer.mkd-ptf-masonry article.mkd-default-masonry-item,
  .mkd-portfolio-list-holder-outer.mkd-ptf-masonry article.mkd-large-height-masonry-item {
    width: 50%;
  }
  .mkd-portfolio-list-holder-outer.mkd-ptf-masonry .mkd-large-width-masonry-item,
  .mkd-portfolio-list-holder-outer.mkd-ptf-masonry .mkd-large-width-height-masonry-item {
    width: 100%;
  }
  .mkd-portfolio-list-holder-outer.mkd-portfolio-gallery-hover article .mkd-ptf-item-text-holder a.mkd-ptf-portfolio-overlay-icon {
    font-size: 48px;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav {
    margin-top: 50px;
  }
  .mkd-portfolio-single-holder.small-images .mkd-portfolio-single-media, .mkd-portfolio-single-holder.big-images .mkd-portfolio-single-media {
    margin-bottom: 25px;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-info-holder {
    margin-top: 25px !important;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-item-content {
    margin: 0;
  }
  .gallery.mkd-portfolio-gallery-four-columns .mkd-portfolio-single-media {
    width: 50%;
  }
  .single-portfolio-item .mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner,
  .single-portfolio-item .mkd-two-columns-75-25 .mkd-column1 .mkd-column-inner {
    padding: 0;
  }
  .single-portfolio-item .big-images .mkd-column2 .mkd-column-inner,
  .single-portfolio-item .big-slider .mkd-column2 .mkd-column-inner,
  .gallery .mkd-column2 .mkd-column-inner {
    margin-right: 0;
  }
  .mkd-portfolio-single-holder.big-slider .mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner {
    padding: 0 0 0 0 !important;
  }
  .masonry.mkd-portfolio-single-holder .mkd-ptf-gallery {
    margin-bottom: 39px;
  }
  .small-slider.mkd-portfolio-single-holder .mkd-portfolio-media,
  .small-images.mkd-portfolio-single-holder .mkd-portfolio-media {
    margin-bottom: 62px;
  }
  .masonry.mkd-portfolio-single-holder .mkd-image-author-holder,
  .small-slider.mkd-portfolio-single-holder .mkd-image-author-holder,
  .small-images.mkd-portfolio-single-holder .mkd-image-author-holder {
    margin-top: 39px;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-single-nav-image-holder {
    display: none;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-single-nav-content-holder {
    padding: 0 !important;
  }
  .gallery.mkd-portfolio-gallery-four-columns .mkd-portfolio-single-media,
  .gallery.mkd-portfolio-gallery-three-columns .mkd-portfolio-single-media,
  .gallery.mkd-portfolio-gallery-two-columns .mkd-portfolio-single-media {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-portfolio-list-holder-outer article,
  .mkd-portfolio-list-holder-outer .mkd-portfolio-list-masonry-grid-sizer {
    width: 100% !important;
  }
  .mkd-portfolio-list-holder-outer .mkd-portfolio-filter-holder-inner ul li {
    float: none;
    text-align: left;
  }
  .mkd-portfolio-list-holder-outer .mkd-portfolio-filter-holder-inner ul li span {
    padding-left: 0;
  }
  .mkd-portfolio-filter-holder .mkd-portfolio-filter-holder-inner ul li {
    float: none;
    text-align: center;
  }
  .mkd-portfolio-filter-holder .mkd-portfolio-filter-holder-inner ul li:first-child {
    padding-left: 15px;
  }
  .mkd-portfolio-filter-holder .mkd-portfolio-filter-holder-inner ul li:last-child {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 1280px) {
  .mkd-portfolio-slider-holder .mkd-portfolio-slider-list .mkd-ptfs-item-content {
    padding: 40px 39px 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-prev .mkd-icon-stack,
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-next .mkd-icon-stack,
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-back-btn {
    display: none;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-prev,
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-next {
    width: 100%;
    text-align: center;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-prev a,
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-next a {
    text-align: center;
    display: inline-block;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-next {
    margin-top: 20px;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-prev .mkd-single-prev-title-label {
    margin-left: 0;
    float: none;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-next .mkd-single-next-title-label {
    margin-right: 0;
    float: none;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-next .mkd-single-next-label {
    text-align: center;
  }
  .mkd-portfolio-single-holder .mkd-portfolio-single-nav .mkd-portfolio-single-prev .mkd-single-prev-label {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-portfolio-filter-holder .mkd-portfolio-filter-holder-inner.mkd-filter-right,
  .mkd-portfolio-filter-holder .mkd-portfolio-filter-holder-inner.mkd-filter-left {
    text-align: center !important;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-inner {
    position: relative;
  }
  .carousel-inner > .item,
  .mkd-slider .carousel-control {
    padding-top: 0px !important;
  }
  .carousel .carousel-inner .mkd-slider-content-outer {
    display: table;
    display: table;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .carousel .carousel-inner .mkd-slider-content .mkd-thumb {
    height: auto;
  }
  .carousel .carousel-inner .mkd-slider-content {
    display: table-cell;
    vertical-align: middle;
    position: static;
    top: 0 !important;
    left: 0 !important;
  }
  .carousel .carousel-inner .mkd-graphic-content {
    text-align: center;
  }
  .mkd-slider-thumbs .carousel-control.left:hover .mkd-thumb-holder {
    left: 0;
  }
  .carousel:not(.in_progress).mkd-slider-thumbs .carousel-control.left:hover .prev_nav {
    left: -200px;
  }
  .mkd-slider-thumbs .carousel-control.right:hover .mkd-thumb-holder {
    right: 0;
  }
  .carousel:not(.in_progress).mkd-slider-thumbs .carousel-control.right:hover .next_nav {
    right: -200px;
  }
  .carousel-inner .item.mkd-animate-image.zoom_center .mkd-image,
  .carousel-inner .item.mkd-animate-image.zoom_top_left .mkd-image,
  .carousel-inner .item.mkd-animate-image.zoom_top_right .mkd-image,
  .carousel-inner .item.mkd-animate-image.zoom_bottom_left .mkd-image,
  .carousel-inner .item.mkd-animate-image.zoom_bottom_right .mkd-image {
    transform: none !important;
    -webkit-transform: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-control {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .carousel .carousel-inner .mkd-slider-content-outer {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-testimonials-holder-inner .testimonials-grid.mkd-four-columns {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-testimonials-holder-inner .testimonials-grid.mkd-three-columns {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-testimonials-holder-inner .testimonials-grid.mkd-two-columns {
    width: 100%;
  }
  .mkd-testimonials-holder-inner .testimonials-grid.mkd-three-columns {
    width: 100%;
  }
  .mkd-testimonials-holder-inner .testimonials-grid.mkd-four-columns {
    width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  .mkd-process-holder .mkd-process-item-holder .mkd-pi-image-holder {
    width: 275px;
    height: 275px;
    margin-top: -20px;
  }
  .mkd-process-holder .mkd-process-item-holder .mkd-pi-holder-inner {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-process-holder .mkd-process-bg-holder {
    display: none;
  }
  .mkd-process-holder .mkd-process-item-holder .mkd-pi-image-holder {
    width: 171px;
    height: 171px;
  }
  .mkd-grid-col-9 .mkd-process-holder-items-four .mkd-process-item-holder {
    width: 50%;
    margin-bottom: 30px;
  }
  .mkd-grid-col-9 .mkd-process-holder .mkd-process-bg-holder {
    background: none;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-process-holder.mkd-process-holder-items-four .mkd-process-item-holder {
    width: 50%;
    margin-bottom: 30px;
  }
  .mkd-process-holder.mkd-process-holder-items-four .mkd-process-item-holder .mkd-pi-holder-inner {
    width: 100%;
  }
  .mkd-process-holder.mkd-process-holder-items-four .mkd-process-item-holder .mkd-pi-holder-inner .mkd-pi-content-holder {
    padding: 0 20px;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-process-holder.mkd-process-holder-items-three .mkd-process-item-holder .mkd-pi-image-holder {
    margin-top: 0;
  }
  .mkd-process-holder .mkd-process-item-holder {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .mkd-process-holder .mkd-process-item-holder .mkd-pi-holder-inner {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-section-subtitle-holder {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
  .owl-item:nth-child(3n) .mkd-carousel-item-outer-holder {
    border-right: 0 !important;
  }
}

@media only screen and (max-width: 668px) and (min-width: 500px) {
  .owl-item:nth-child(2n) .mkd-carousel-item-outer-holder {
    border-right: 0 !important;
  }
}

@media only screen and (max-width: 499px) {
  .owl-item:nth-child(n) .mkd-carousel-item-outer-holder {
    border-right: 0 !important;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-workflow .mkd-workflow-item {
    max-width: 100%;
  }
  .mkd-workflow .mkd-workflow-item .mkd-workflow-item-inner .mkd-workflow-text {
    padding: 0px 40px;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-workflow .main-line,
  .mkd-workflow .mkd-workflow-item .line,
  .mkd-workflow .mkd-workflow-item .mkd-workflow-text .circle {
    display: none !important;
  }
  .mkd-workflow .mkd-workflow-item .mkd-workflow-item-inner.reverse {
    display: block;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .mkd-workflow .mkd-workflow-text {
    width: 100% !important;
    padding: 0px !important;
  }
  .mkd-workflow .mkd-workflow-image {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
}

@media only screen and (max-width: 1400px) {
  .mkd-zooming-slider-holder .mkd-zooming-slider-item-content {
    margin: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-zooming-slider-holder .mkd-zooming-slider-item-content {
    margin: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-zooming-slider-holder {
    margin: 0 !important;
  }
}

/* ==========================================================================
   Start of Vertical Split Slider Responsive
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  body.mkd-vertical-split-screen-initialized {
    overflow-y: visible !important;
    height: auto !important;
  }
  .mkd-vertical-split-slider,
  #multiscroll-nav {
    display: none;
  }
  .mkd-vertical-split-slider-responsive {
    display: block;
  }
  .mkd-vss-ms-section {
    background-position: center center;
    background-size: cover;
  }
}

/* ==========================================================================
   End of Vertical Split Slider Responsive
   ========================================================================== */
@media only screen and (max-width: 600px) {
  .mkd-thumbnail-image-slider .flex-control-nav.flex-control-thumbs li {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-thumbnail-image-slider .flex-control-nav.flex-control-thumbs li {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-product-slider {
    width: 100%;
  }
  .mkd-product-slider > .woocommerce {
    margin: 0 !important;
  }
  .mkd-product-slider .products > li.product .mkd-woo-product-info-holder,
  .mkd-product-slider .products > li.product .mkd-btn {
    opacity: 1 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-instagram-feed.mkd-col-9 li {
    width: 33.3333%;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-instagram-feed.mkd-col-4 li {
    width: 25%;
  }
  .mkd-instagram-feed.mkd-col-6 li {
    width: 33.3333%;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-instagram-feed.mkd-col-4 li,
  .mkd-instagram-feed.mkd-col-3 li,
  .mkd-instagram-feed.mkd-col-6 li,
  .mkd-instagram-feed.mkd-col-9 li {
    width: 50%;
  }
}

/*# sourceMappingURL=modules-responsive.css.map */