/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */
/* Woocommerce product list - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .mkd-woocommerce-page .woocommerce-result-count {
    width: 100%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 20%;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-woocommerce-page .woocommerce-result-count {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-woocommerce-page .woocommerce-ordering .orderby {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .products .product,
  .columns-5 .products .product {
    width: 50%;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .products .product:nth-child(5n+1),
  .columns-5 .products .product:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .products .product,
  .columns-5 .products .product {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .mkd-woocommerce-with-sidebar .products .product {
    width: 50%;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .mkd-woocommerce-with-sidebar .products .product:nth-child(4n+1), .mkd-woocommerce-page.mkd-woocommerce-columns-5 .mkd-woocommerce-with-sidebar .products .product:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1200px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .mkd-woocommerce-with-sidebar .products .product {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .products .product,
  .columns-5 .products .product {
    width: 100%;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .products .product:nth-child(5n+1),
  .columns-5 .products .product:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .products .product,
  .columns-5 .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .mkd-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .mkd-woocommerce-with-sidebar .products .product:nth-child(4n+1), .mkd-woocommerce-page.mkd-woocommerce-columns-5 .mkd-woocommerce-with-sidebar .products .product:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-5 .mkd-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-4 .products .product,
  .columns-4 .products .product {
    width: 50%;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-4 .products .product:nth-child(4n+1),
  .columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-4 .products .product:nth-child(2n+1),
  .columns-4 .products .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-4 .products .product,
  .columns-4 .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-4 .mkd-woocommerce-with-sidebar .products .product {
    width: 50%;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-4 .mkd-woocommerce-with-sidebar .products .product:nth-child(3n+1), .mkd-woocommerce-page.mkd-woocommerce-columns-4 .mkd-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
    clear: none;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-4 .mkd-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-4 .mkd-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-3 .products .product,
  .columns-3 .products .product {
    width: 50%;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-3 .products .product:nth-child(3n+1), .mkd-woocommerce-page.mkd-woocommerce-columns-3 .products .product:nth-child(4n+1),
  .columns-3 .products .product:nth-child(3n+1),
  .columns-3 .products .product:nth-child(4n+1) {
    clear: none;
  }
  .mkd-woocommerce-page.mkd-woocommerce-columns-3 .products .product:nth-child(2n+1),
  .columns-3 .products .product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-3 .products .product,
  .columns-3 .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-3 .mkd-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page.mkd-woocommerce-columns-2 .products .product,
  .columns-2 .products .product {
    width: 100%;
  }
}

/* Woocommerce product list - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .single-product .mkd-single-product-images,
  .single-product .mkd-single-product-summary {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .single-product .mkd-tabs.mkd-horizontal .mkd-tabs-nav {
    border-bottom: 0;
    top: 0;
  }
  .single-product .mkd-tabs.mkd-horizontal .mkd-tabs-nav li {
    margin-right: 0;
    float: none;
    width: 100%;
  }
  .single-product .mkd-tabs.mkd-horizontal .mkd-tabs-nav li:not(.mkd-tab-line) {
    border-bottom: 1px solid #f2f2f2;
  }
  .single-product .mkd-tabs.mkd-horizontal .mkd-tab-container {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .single-product .mkd-tabs.mkd-horizontal li {
    float: none !important;
    display: block;
  }
  .single-product .mkd-tabs.mkd-horizontal .mkd-tabs-shadow {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .single-product .mkd-single-product-images {
    margin-bottom: 30px;
  }
  .single-product .mkd-single-product-images .mkd-thumbnails {
    width: 100%;
    margin-right: 0;
    right: 0;
    margin-top: 20px;
    padding-right: 0;
  }
  .single-product .mkd-single-product-images .mkd-thumbnails a {
    width: 25%;
  }
  .single-product .mkd-single-product-images .mkd-image {
    width: 100% !important;
    left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .single-product .product-type-grouped .mkd-single-product-summary form.cart .price .amount, .single-product .product-type-grouped .mkd-single-product-summary form.cart a {
    font-size: 14px !important;
    line-height: 1em;
  }
}

@media only screen and (max-width: 1400px) {
  .single-product .mkd-single-product-images .thumbnails a {
    margin-bottom: 16px !important;
  }
  .single-product .product-type-grouped .mkd-single-product-summary form.cart .price .amount {
    font-size: 18px;
  }
  .single-product .product-type-grouped .mkd-single-product-summary .summary.entry-summary table.group_table td.stock p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1200px) {
  .single-product .mkd-single-product-images .thumbnails a {
    margin-bottom: 14px !important;
  }
  .single-product .product.product-type-grouped table td.label {
    width: 56%;
  }
  .single-product .product.product-type-grouped table td.stock {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .single-product .product.product-type-grouped .quantity.mkd-quantity-buttons {
    border: 1px solid #ebebeb;
  }
  .single-product .product.product-type-grouped .quantity.mkd-quantity-buttons span.mkd-quantity-minus span {
    border-bottom: 1px solid #ebebeb;
    bottom: -1px;
  }
  .single-product .product.product-type-grouped .quantity.mkd-quantity-buttons span.mkd-quantity-plus span {
    border-top: 1px solid #ebebeb;
    top: -1px;
  }
  .single-product .product.product-type-grouped table tbody tr {
    border: none;
  }
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page .mkd-quantity-buttons .mkd-quantity-minus,
  .mkd-woocommerce-page .mkd-quantity-buttons .mkd-quantity-plus,
  .mkd-woocommerce-page .mkd-quantity-buttons .mkd-quantity-input {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}

/* Woocommerce quantity buttons - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page table td {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .mkd-woocommerce-page td.product-thumbnail img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page td.actions .coupon,
  .mkd-woocommerce-page td.actions .mkd-cart-proceed-update {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page td.actions .mkd-cart-proceed-update .checkout-button {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .mkd-woocommerce-page .coupon input[type="text"] {
    width: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) table.shop_table.cart .mkd-btn {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) {
    border: 0;
  }
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page .mkd-shipping-calculator {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .mkd-woocommerce-page .mkd-cart-totals {
    width: 100%;
  }
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .woocommerce-checkout .woocommerce-checkout .col-1,
  .woocommerce-checkout .woocommerce-checkout .col-2 {
    width: 100%;
  }
}

.woocommerce-checkout .checkout_coupon {
  width: 100%;
}

.select2-container .select2-choice > .select2-chosen,
.mkd-woocommerce-page .select2-container .select2-choice .select2-arrow b:after {
  color: #999;
  font-size: 16px;
}

/* Woocommerce checkout - end
========================================================================== */
/* Woocommerce cart - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) {
    margin-left: -1000px;
    margin-right: -1000px;
    padding-left: 1000px;
    padding-right: 1000px;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon input[type=text] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .mkd-cart-proceed-update a {
    margin-bottom: 10px;
  }
  .woocommerce-cart .woocommerce .cart-collaterals .mkd-shipping-calculator,
  .woocommerce-cart .woocommerce .cart-collaterals .mkd-cart-totals {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) table .product-thumbnail {
    display: none;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) table .product-remove {
    display: none;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon,
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .mkd-cart-proceed-update {
    width: 100%;
    float: none;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .coupon {
    margin-bottom: 10px;
  }
  .woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) .actions .mkd-cart-proceed-update input[type=submit] {
    margin-left: 0;
    float: left;
  }
}

/* Woocommerce dropdown cart - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .mkd-shopping-cart-outer:hover .mkd-shopping-cart-dropdown {
    display: none;
    visibility: hidden;
  }
  .mkd-top-bar .mkd-shopping-cart-outer {
    float: none;
  }
}

@media only screen and (max-width: 320px) {
  .mkd-shopping-cart-outer {
    display: none;
  }
}

/* Woocommerce dropdown cart - begin
========================================================================== */
/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */

/*# sourceMappingURL=woocommerce-responsive.css.map */