@include laptop-landscape {

    .mkd-page-not-found {
        h2 {
            font-size: 100px;
        }
        p {
            font-size: 20px;
            padding: 0 5%;
        }
    }
    .mkd-page-not-found {
        margin: 50px 0 70px;
    }
}

@include ipad-landscape {
    .mkd-404-page {
        height: calc(100vh - 100px);
    }
}

@include ipad-portrait {

    .mkd-404-page {

        .mkd-page-not-found {
            h2 {
                font-size: 70px;
            }
            p {
                padding: 0 20px;
            }
        }
    }
    .mkd-page-not-found {
        margin: 30px 0 64px;
    }
}

@include phone-landscape {
    .mkd-404-page {

        .mkd-page-not-found h2{
            font-size: 55px;
            letter-spacing: 0;
        }
        .mkd-page-not-found p {
                padding: 0 15px;
                font-size: 14px;
        }
    }
    .mkd-page-not-found {
        margin: 30px 0 40px;
    }
}