@import 'variables';
@import 'mixins';

/* ==========================================================================
   #Comments styles - start
   ========================================================================== */

.mkd-comment-holder {
	padding: 36px 0 10px;
	margin: 0 0 0;
    clear: both;

	.mkd-comment-image {
		display: block;
		width: 60px;
		float: left;
	}

	.mkd-comment-text {
		padding: 0 0 0 86px;

		.mkd-comment-info {
			display: inline-block;
			width: 100%;
			vertical-align: middle;

			span.mkd-comment-date {
				margin-left: 10px;
				font-family: $headings-font-family;
				font-size: 14px;
				color: #b8b8b8;
			}

			.mkd-comment-name {
				margin-bottom: 10px;
			}
		}

		.replay,
		.comment-edit-link {
			margin-left: 10px;
		}

		h5.mkd-comment-name {
			float: left;
			font-size: 18px;
			margin-top: 0;
			margin-bottom: 6px;
		}
	}

	.mkd-comment-image img {
		@include mkdBorderRadius(50%);
	}

	.mkd-comment {
		position: relative;
		padding:31px 24px;
		background-color: #fff;
	}

	.mkd-comment-reply-holder {

		a {
			font-size: 14px;
			font-family: $headings-font-family;
			font-weight: 600;
			color: #777777;
		}

		a.comment-reply-link:before {
			content: "\f112";
			font-family: 'FontAwesome';
			font-size: 14px;
			color: $first-main-color;
			margin-right: 10px;
			text-transform: none;
			vertical-align: middle;
		}

		.mkd-comment-date {
			display: inline-block;
			margin-left: 20px;
			font-size: 14px;
			font-weight: 600;
			color: #777777;
		}

		.mkd-comment-date-icon {
			color: $first-main-color;
			font-size: 14px;
		}
	}

}

.mkd-comment-list {
	list-style: none;
	position: relative;
	z-index: 150;
	padding-top: 17px;

	.children > li {
		margin-bottom: 30px;

		&:before {
			content: "\4a";
			font-family: ElegantIcons;
			font-size: 18px;
			color: #3e3e3e;
			position: absolute;
			top: 6px;
			margin-right: 27px;
			right: 100%;
			width: 40px;
			line-height: 40px;
			height: 40px;
			border-radius: 50%;
			text-align: center;
			background-color: #fff;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	li {
		display: inline-block;
		position: relative;
		width: 100%;
	}

	> li {
		margin-bottom: 27px;

		@include mkdBoxSizing(border-box);
	}

	.children {
		margin: 27px 0 0 0;
		padding: 0 0 0 72px;
	}
}

@include ipad-portrait {
	.mkd-comment-list {
		.children {
			padding: 0 0 0 30px;
		}
		.children > li:before {
			margin-right: 0;
			font-size: 35px;
		}
	}
}

@include phone-landscape {
	.mkd-comment-holder {
		.mkd-comment-image {
			display: none;
		}
		.mkd-comment-text {
			padding: 0;

			h5.mkd-comment-name {
				float: none;
			}
			.mkd-comment-info span.mkd-comment-date {
				margin-left: 0;
			}
		}
		.mkd-comment-reply-holder {
			.mkd-comment-date {
				display: block;
				margin-left: 0;
			}
		}
	}
    .mkd-comment-list {

        .children {
            padding: 0;
        }

        .children > li:before {
            display: none;
        }
    }
}

.mkd-comment-form {
	margin-bottom: 40px;

    .mkd-blog-single & {
        margin-bottom: 80px;
    }
}

.comment-respond {
	.comment-reply-title {
		font-size: 20px; /*font size changed because of the h-tags that are fixed by wordpress*/
		margin-bottom: 35px;
		color: #373737;

		a {
			font-size: 16px;
		}
	}

	.form-submit {
		text-align: center;
	}

	.logged-in-as {
		margin-bottom: 10px;
	}
}

.mkd-comment-text {

	.comment-respond {
		margin: 20px 0;
	}
}

%input-style {
	width: 100%;
	margin-bottom: 11px;
	padding: 10px 15px;
	border: 1px solid #f2f2f2;
	outline: 0;
	font-family: inherit;
	font-size: 13px;
	background-color: #fff;
	color: #969696;
	@include mkdBoxSizing(border-box);

	&:focus {
		border: 1px solid $first-main-color;
	}
}

body div.pp_default a.pp_next span:before,
body div.pp_default a.pp_previous span:before {
	color: #fff;
}

.wpcf7-form-control {
	&.wpcf7-text,
	&.wpcf7-number,
	&.wpcf7-date,
	&.wpcf7-textarea,
	&.wpcf7-select,
	&.wpcf7-quiz {
		@include inputStyle(true, false);
		border-color: transparent;
		margin-bottom: 20px;

		&:focus {
			border-color: transparent;
		}
	}
}

.wpcf7-form-control.wpcf7-textarea {
	height: 175px;
}

div.wpcf7-validation-errors {
	border: none;
}

p.mkd-center-button {
	text-align: center;
}

.mkd-grid-col-6.mkd-smaller-gutter {
	padding-left: 10px;
	padding-right: 10px;
}

.mkd-grid-col-12.mkd-smaller-gutter {
	padding-left: 10px;
	padding-right: 10px;
}

.wpcf7-form .mkd-grid-row-no-gutter.mkd-coming-soon .wpcf7-submit {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	display: block;
	width: 100%;
	min-width: 100%;
	padding: 14px 0;
}

.mkd-grid-row-no-gutter.mkd-coming-soon input.wpcf7-form-control.wpcf7-submit:not(.mkd-btn-custom-hover-color):hover {
	color: #fff !important;
}

.mkd-grid-row-no-gutter.mkd-coming-soon .mkd-grid-col-9 {
	padding-left: 0;
	padding-right: 0;
}

.mkd-grid-row-no-gutter.mkd-coming-soon.mkd-dark .wpcf7-form-control.wpcf7-text {
	background-color: #fafafa;
}

.mkd-grid-row-no-gutter.mkd-coming-soon.mkd-dark input.wpcf7-form-control.wpcf7-submit:hover {
	color: #fff !important;
}

input.wpcf7-form-control.wpcf7-submit.mkd-contact1:not(.mkd-btn-custom-hover-color):not(.mkd-btn-transparent):hover {
	color: #fff !important;
}

input.wpcf7-form-control.wpcf7-submit.mkd-contact2:not(.mkd-btn-custom-hover-color):not(.mkd-btn-transparent):hover {
	color: $first-main-color !important;
}

.mkd-grid-row-no-gutter.mkd-coming-soon .mkd-grid-col-3 {
	padding-left: 0;
	padding-right: 0;
}

.post-password-form input[type='password'] {
	@include inputStyle;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#respond textarea,
#respond input[type='text'] {
	@include inputStyle(false);

	background-color: #fff;
}

#respond textarea {
	margin-top: 16px;
	padding-top: 23px;
	padding-bottom: 39px;
	margin-bottom: 11px;
}

body.page {
    #respond input[type=text],
    #respond textarea,
    .post-password-form input[type=password] {
        background-color: #fafafa;
    }
}

form .mkd-newsletter {
	input[type=email]::-webkit-input-placeholder {
		font-size: 14px !important;
		font-weight: 400;
		color: #fff;
	}

	input[type=email]:-moz-placeholder {
		font-size: 14px !important;
		font-weight: 400;
		color: #fff;
	}

	input[type=email]::-moz-placeholder {
		font-size: 14px !important;
		font-weight: 400;
		color: #fff;
	}

	input[type=email]:-ms-input-placeholder {
		font-size: 14px !important;
		font-weight: 400;
		color: #fff;
	}
}

.mkd-grid-row-no-gutter.mkd-newsletter {
	position: relative;
	margin-top: 28px;

	input.wpcf7-form-control.wpcf7-submit:not(.mkd-btn-custom-hover-bg):hover {
		color: #27272f !important;
	}

	.mkd-grid-col-9 {
		padding: 0;
		width: 85%;
		float: left;
	}

	.wpcf7-form-control.wpcf7-text {
		background-color: rgba(255,255,255,.3);
		border: 1px solid transparent;
		font-size: 15px;
		line-height: 24px;
		border-radius: 30px;
		color: #fff;
	}

	.mkd-grid-col-3 {
		position: static;
		width: 13%;
		padding: 0 5px;
		float: left;
	}

	input.wpcf7-form-control.wpcf7-submit {
		background-color: #3e4048;
		border: none;
		height: 50px;
		width: 50px;
		min-width: initial;
		font-size: 19px;
		text-align: center;
		font-family: 'ElegantIcons';
		line-height: 49px;
		top: 0;
		padding: 0;
		-webkit-appearance: none;
		@include mkdType1DiagonalGradient(false);
		@include mkdBorderRadius(50%);
	}

}

/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

/* ==========================================================================
   #Pagination styles - start
   ========================================================================== */
.mkd-pagination-helper {
	display: none;
}

.mkd-pagination {

	ul {
		margin: 0;
		position: relative;
	}

	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin-top: 33px;
	text-align: center;
	margin-bottom: 72px;

	.mkd-pagination-prev {
		position: absolute;
		top: 0;
		left: 0;

		a {

            background-color: #fff;

			&:before {
				content: '\34';
				font-family: ElegantIcons;
				font-size: 22px;
			}
		}
	}

	.mkd-pagination-next {
		position: absolute;
		top: 0;
		right: 0;

		a {

            background-color: #fff;

			&:before {
				content: '\35';
				font-family: ElegantIcons;
				font-size: 22px;
			}
		}
	}

	li.mkd-pagination-prev, li.mkd-pagination-next {
		span {
			font-size: 14px;
			text-transform: capitalize;
		}
	}

	li {
		text-align: center;
		display: inline-block;
		padding: 0 4px;

		&.active span,
        &.active a  {
			color: $first-main-color;
            background-color: #fff;
		}

		a,
		span {
			position: relative;
			display: inline-block;
			line-height: 40px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: transparent;
            text-align: center;
			margin: 0;
			font-size: 16px;
			font-weight: 600;
			color: #3e3e3e;
			vertical-align: middle;
			text-decoration: none;
			cursor: pointer;
			white-space: nowrap;
			@include mkdBoxSizing(content-box);
		}

	}
}

/* ==========================================================================
   #Pagination styles - end
   ========================================================================== */

/* ==========================================================================
   #Owl Slider (Blog single, Portfolio single) - begin
   ========================================================================== */
.mkd-owl-slider {

	opacity:0;
	visibility: hidden;

	.owl-item {
		@include mkdTransform(translateZ(0));
	}

	.owl-nav {

		.owl-prev {
			position: absolute;
			top: 50%;
			@include mkdTransform(translateY(-50%));
			left: 2%;
		}

		.owl-next {
			position: absolute;
			top: 50%;
			@include mkdTransform(translateY(-50%));
			right: 2%;
		}

		.mkd-prev-icon,
		.mkd-next-icon {
			display: inline-block;
			width: 42px;
			height: 42px;
			text-align: center;

			i {
				font-size: 40px;
				color: #c2c2c2;
			}

		}

	}

	.owl-dots {
		text-align: center;

		.owl-dot {
			display: inline-block;
		}

		.owl-dot span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: 3px;
			filter: Alpha(Opacity=50);
			opacity: 0.5;
			background: #e3e3e3;

			@include mkdBorderRadius(20px);
		}

		.owl-dot.active span {
			opacity: 1;
		}

	}

}

.mkd-carousel-pagination {
	.owl-dots {
		text-align: center;
	}

	.owl-dot {
		display: inline-block;
	}

	.owl-dot span {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin: 0 5px;
		background-color: #484848;

		@include mkdBorderRadius(50%);
		@include mkdTransition(background-color 0.25s);
	}

	&.mkd-carousel-pagination-light {
		.owl-dot span {
			background-color: #fff;
		}
	}

	.owl-dot span {
		background-color: #acacac !important;
	}

	.owl-dot.active span {
		background-color: $first-main-color !important;
	}
}

/* ==========================================================================
   #Owl Slider (Blog single, Portfolio single) - end
   ========================================================================== */

/* ==========================================================================
   #404 styles - start
   ========================================================================== */

.error404 {
	footer {
		display:none;
	}

	.mkd-content .mkd-container {
		background: #000;
		background-size: cover;
		background-position: center;
		display: table;
	}
}

.mkd-404-page {
	text-align: center;
	margin: 0 auto;
	height: calc(100vh - 86px);
	@include mkdBoxSizing(border-box);
	display: table-cell;
	vertical-align: middle;
    padding: 0!important;
}

.mkd-page-not-found {
	margin: 50px 0 80px 0;
	text-align: center;

	h2 {
		margin: 0 0 14px 0;
		font-size: 150px;
		@include mkdType1DiagonalGradient('true');
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: $type1-gradient-first-color;
		display: inline-block;
		letter-spacing: -3px;
	}

	p {
		margin-bottom: 12px;
		font-size: 24px;
		color: #fff;
		padding: 0 8%;
		line-height: 1.7em;
	}
}

/* ==========================================================================
   #404 styles - end
   ========================================================================== */

/* ==========================================================================
   #Back to Top styles - start
   ========================================================================== */
#mkd-back-to-top {
	display: block;
	position: fixed;
	right: 20px;
	bottom: 20px;
	margin: 0;
	width: 59px;
	height: 59px;
	opacity: 0;
	visibility: hidden;
	@include mkdTransform(scale(.3));
	z-index: 10000;
	color: #fff;
	text-align: center;
	background-color: #37373c;

	@include mkdBoxSizing(border-box);
	@include mkdBorderRadius(50%);
	@include mkdBoxShadow(0px 0px 0px 0px #37373c, inset 0px 3px 7px #37373c);
	@include mkdTransition(all 0s cubic-bezier(0.19, 1, 0.22, 1));

	.mkd-icon-stack {
		line-height: 59px;
		font-size: 21px;

        span {
            line-height: inherit;
        }
	}

	&.off {
		opacity: 0;
		visibility: hidden;
		@include mkdTransform(scale(.3));
	}

	&.on {
		opacity: 1;
		visibility: visible;
		@include mkdTransform(scale(1));
	}

	&:hover {
		@include mkdTransition(all 1s cubic-bezier(0.19, 1, 0.22, 1));
		@include mkdBoxShadow(0px 0px 0px 7px rgba(55, 55, 60, 0), inset 0px 0px 7px rgba(55, 55, 60, 0));
	}
}

/* ==========================================================================
   #Back to Top styles - end
   ========================================================================== */

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.mkd-self-hosted-video-holder {
	.mkd-video-wrap {
		.mejs-container,
		.mejs-overlay-play {
			height: 100% !important; /*!important because of the inline style*/
			width: 100% !important; /*!important because of the inline style*/
		}
	}
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/* ==========================================================================
   #Screen reader text - start
   ========================================================================== */

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}

}

/* ==========================================================================
   #Screen reader text - end
   ========================================================================== */

.mkd-like.liked {
	color: $first-main-color;
}

/* ==========================================================================
   #Default sidebar styles - start
   ========================================================================== */
aside.mkd-sidebar,
.wpb_widgetised_column {

	.widget_search input[type=text]::-webkit-input-placeholder {
		color: #999;
		font-size: 16px;
		font-weight: 400;
	}

	.widget_search input[type=text]:-moz-placeholder {
		color: #999;
		font-size: 16px;
		font-weight: 400;
	}

	.widget_search input[type=text]::-moz-placeholder {
		color: #999;
		font-size: 16px;
		font-weight: 400;
	}

	.widget_search input[type=text]:-ms-input-placeholder {
		color: #999;
		font-size: 16px;
		font-weight: 400;
	}

	.widget_search input[type=text]:-ms-input-placeholder {
		color: #999;
		font-size: 16px;
		font-weight: 400;
	}

	.widget {

		margin-bottom: 55px;

		h4 {
			margin-bottom: 32px;
            margin-top: 0;
		}

		&.mkd-latest-posts-widget {

			h5 {
				margin-bottom: 6px;
			}

			.mkd-blog-list li {
				border-bottom: 0;
			}

			.mkd-blog-list-holder.mkd-image-in-box {
				.mkd-item-title a {
					font-size: 15px;
				}
			}

		}

		&.mkd-contact-form-7-widget {
			background-size: cover;
			background-repeat: no-repeat;

			textarea.wpcf7-form-control.wpcf7-textarea {
				height: 120px;
			}

			p {
				margin: 6px 0;
			}

			input[type=text]::-webkit-input-placeholder,
			input[type=email]::-webkit-input-placeholder,
			textarea::-webkit-input-placeholder {
				font-size: 14px;
			}

			input[type=text]:-moz-placeholder,
			input[type=email]:-moz-placeholder,
			textarea:-moz-placeholder {
				font-size: 14px;
			}

			input[type=text]::-moz-placeholder,
			input[type=email]::-moz-placeholder,
			textarea::-moz-placeholder {
				font-size: 14px;
			}

			input[type=text]:-ms-input-placeholder,
			input[type=email]:-ms-input-placeholder,
			textarea:-ms-input-placeholder {
				font-size: 14px;
			}

			.wpcf7-form-control.wpcf7-text,
			.wpcf7-form-control.wpcf7-textarea {
				padding: 9px 13px;
				margin-bottom: 7px;
			}

			input.wpcf7-form-control.wpcf7-submit {
				@include mkdBorderRadius(0);

				&:hover {
					color: #fff !important;
				}
			}

			span.mkd-sidearea-title {
				white-space: inherit;
			}

			&.mkd-widget-cf-boxed {
				padding: 15px 29px 10px 30px;
				border: 1px solid #ebebeb;

				@include mkdBoxSizing(border-box);
			}

			&.mkd-widget-cf-light {
				color: #fff;

				h5 span {
					color: #fff;
				}
			}

			.mkd-contact-form-title h5 {
				font-size: 30px;
				font-weight: 300;
				text-transform: capitalize;
				color: #242625;
				margin-bottom: 32px;
			}

			.mkd-contact-form-text h5 {
				font-size: 15px;
				font-weight: 400;
				line-height: 1.7em;
				margin-bottom: 20px;

				span.mkd-sidearea-title {
					white-space: normal;
				}
			}

		}

		&.widget_text {
			margin-bottom: 47px;

            h4 {
                margin-bottom: 20px;
            }

			select {
                margin-bottom: 55px;
			}

		}

		&.widget_archive select {
			margin-bottom: 55px;
		}

		ul li {

			a {
				font-size: 14px;
				font-weight: 600;
				display: inline-block;
				font-family: $headings-font-family;
				color: #3e3e3e;
			}
		}

		ul {
			list-style: none;
		}

		&.widget_price_filter,
		&.widget_product_categories {
			margin-bottom: 45px;
		}

		&.widget_products {
			margin-bottom: 40px;
		}

		&.widget_top_rated_products {
			margin-bottom: 38px;
		}

		.searchform {
			position: relative;

			input[type=text] {
				width: 100%;
			}

			input[type=submit] {
				position: absolute;
				right: 10px;
			}
		}

		.searchform input[type=submit] {
			outline: 0;
			font-family: 'Simple-Line-Icons';
			width: 51px;
			height: 51px;
			cursor: pointer;
			color: #999;
			background-color: transparent;
			border: none;
			font-size: 17px;

			@include mkdBorderRadius(0);
		}

		&.widget_archive select,
		&.widget_categories select,
		.searchform input[type=text],
		&.widget_text select {
			width: 100%;
			overflow: hidden;
			background-color: #fff;
			padding: 0 18px;
			height: 51px;
            line-height: 51px;
            font-size: 16px;
			outline: none;
			color: #999;
			font-family: inherit;
			border: 1px solid #ccc;
			float: left;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			@include mkdBoxSizing(border-box);
			@include mkdBorderRadius(30px);
		}


		span.mkd-sidearea-title {
				color: #3d3d3d;
				padding-right: 11px;
				white-space: nowrap;
				line-height: inherit;
		}

		&.widget_categories {
			margin-bottom: 36px;

			select {
                margin-bottom: 55px;
			}

			li {
				font-size: 14px;
				font-weight: 600;
				font-family: $headings-font-family;

				@include mkdTransition(background-color 0.2s ease-out);
			}

			ul li {
				position: relative;
				@include mkdTransition(color 0.2s ease-out);

				a:hover {
					color: #000;
				}

				a {
					padding: 4px 0 4px 20px;

                    &:before {
                        width: 7px;
                        height: 7px;
                        display: inline-block;
                        background-color: #fe4f00;
                        content: '';
                        font-size: 7px;
                        position: absolute;
                        left: 0;
                        top: 12px;
                    }

					.mkd-category-color {
						display: inline-block;
						width: 6px;
						height: 6px;
						margin-left: 11px;

						@include mkdBorderRadius(50%);
					}

					.mkd-category-name {
						padding-left: 15px;
					}

                    &:hover {
                        color: $first-main-color;
                    }
				}
			}

			ul {
				margin-top: 0;
			}

		}

		&.widget_recent_comments {

			ul li a:hover {
				color: $first-main-color;
			}

			li.recentcomments {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		&.widget_rss ul li {
			padding-bottom: 10px;
			padding-top: 10px;

			a:hover {
				color: $first-main-color;
			}
		}

		&.widget_nav_menu {

			ul.menu li a {
				padding-top: 10px;
				padding-bottom: 10px;
				display: block;

				&:hover {
					color: $first-main-color;
				}
			}

			ul.sub-menu {
				border-top: 1px solid #f2f2f2;

				> li {

					&:first-child {
						border-top: 0;
					}
				}
			}

			.current-menu-item > a {
				color: $first-main-color;
			}

			.menu-item-has-children > a {
				position: relative;

				&:after {
					content: '\35';

					position: absolute;
					right: 0;

					font-family: 'ElegantIcons';
					font-size: 12px;
					color: #cacaca;

					@include mkdTransitionTransform(0.2s, ease-out);
				}

				&.mkd-custom-menu-active {
					&:after {
						@include mkdTransform(rotate(90deg));
					}
				}
			}

			li:last-child {
				a {
					padding-bottom: 10px !important;
				}
			}

			.sub-menu {
				display: none;
			}

			.current-menu-ancestor > .sub-menu,
			.current-menu-parent > .sub-menu {
				display: block;
			}
		}

		&.widget_calendar,
		&.widget_pages {
			margin-top: 80px;
		}

		&.widget_meta ul li {

			a {
				padding-bottom: 10px;
				padding-top: 10px;

				&:hover {
					color: $first-main-color;
				}
			}
		}

		&.widget_pages ul li {

			ul.children {

				li:last-child {
					border-bottom: 0;
				}
			}

			a {
				padding-bottom: 10px;
				padding-top: 10px;

				@include mkdTransition(color 0.2s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}

		}

		&.widget_product_tag_cloud .tagcloud a,
		&.widget_tag_cloud .tagcloud a {
			display: inline-block;
			font-weight: 600;
			color: #3e3e3e;
            padding: 6px 23px 4px;
            margin: 0 1px 5px 0;
            background-color: #fff;
            font-size: 14px !important;
            text-transform: capitalize;

			@include mkdTransition(color 0.2s ease-out);

			&:hover {
				color: $first-main-color;
			}
		}

		&.widget_tag_cloud {
			h4 {
				margin-bottom: 25px;
			}
		}

		&.widget_archive ul li {
			position: relative;

			@include mkdTransition(background-color 0.2s ease-out, color 0.2s ease-out);

			&:hover {
				background-color: #fff;
				color: $first-main-color;
			}

			&:hover a {
				color: $first-main-color;
			}

			&:hover:before {
				color: $first-main-color;
			}

			&:before {
				content: "\35";
				font-family: ElegantIcons;
				position: absolute;
				top: 22px;
				left: 0;
				font-size: 24px;
				color: #999;

				@include mkdTransition(background-color 0.2s ease-out);
				@include mkdTransform(translateY(-50%));
			}

			a {
				padding-bottom: 10px;
				padding-top: 10px;
				margin-left: 32px;

				@include mkdTransition(color 0.2s ease-out);
			}
		}

		&.widget_mkd_instagram_widget {
			h5 {
				margin-bottom: 26px;
			}
		}

		&.widget_mkd_twitter_widget {
			margin-bottom: 29px;

			h5 {
				margin-bottom: 24px;
			}

			.mkd-tweet-icon {
				display: inline-block;
				color: $twitter-color;
				float: left;
				font-size: 18px;
			}

			.mkd-tweet-holder,
			.mkd_tweet_time {
				margin-left: 40px;
				line-height: 23px;
			}

			ul.mkd_twitter_widget li {
				margin-bottom: 25px;
				padding-bottom: 25px;
			}

			.mkd_tweet_text {
				font-size: 15px;
				color: #707070;
			}
		}

	}

}

@include ipad-portrait {
	.mkd-two-columns-66-33 > .mkd-column1,
	.mkd-two-columns-66-33 > .mkd-column2,
	.mkd-two-columns-33-66 > .mkd-column1,
	.mkd-two-columns-33-66 > .mkd-column2,
	.mkd-two-columns-75-25 > .mkd-column1,
	.mkd-two-columns-75-25 > .mkd-column2,
	.mkd-two-columns-25-75 > .mkd-column1,
	.mkd-two-columns-25-75 > .mkd-column2,
	.mkd-two-columns-50-50 > .mkd-two-columns-50-50-inner > .mkd-column,
	.mkd-three-columns > .mkd-three-columns-inner > .mkd-column,
	.mkd-four-columns > .mkd-four-columns-inner > .mkd-column,
	.mkd-five-columns > .mkd-five-columns-inner > .mkd-column {
		width: 100%;
	}

	.mkd-two-columns-50-50 > .mkd-two-columns-50-50-inner,
	.mkd-three-columns > .mkd-three-columns-inner,
	.mkd-four-columns > .mkd-four-columns-inner,
	.mkd-five-columns > .mkd-five-columns-inner {
		margin: 0;
	}

	.mkd-two-columns-66-33 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-66-33 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-33-66 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-33-66 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-75-25 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-75-25 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-25-75 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-25-75 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-50-50 > .mkd-two-columns-50-50-inner > .mkd-column > .mkd-column-inner,
	.mkd-three-columns > .mkd-three-columns-inner > .mkd-column > .mkd-column-inner,
	.mkd-four-columns > .mkd-four-columns-inner > .mkd-column > .mkd-column-inner,
	.mkd-five-columns > .mkd-five-columns-inner > .mkd-column > .mkd-column-inner {
		padding: 0;
	}
}

@include ipad-landscape {
	.mkd-page-sidebar.mkd-two-columns-66-33 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-66-33 .mkd-column2,
	.mkd-page-sidebar.mkd-two-columns-33-66 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-33-66 .mkd-column2,
	.mkd-page-sidebar.mkd-two-columns-25-75 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-25-75 .mkd-column2,
	.mkd-page-sidebar.mkd-two-columns-75-25 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-75-25 .mkd-column2 {
		width: 100%;
	}

	.mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column1 .mkd-column-inner {
		padding-right: 0;
	}

	.mkd-two-columns-66-33 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column2 .mkd-column-inner {
		padding-left: 0;
	}
}

/* ==========================================================================
   #Default sidebar styles - end
   ========================================================================== */

/* ==========================================================================
   #Row  - start
   ========================================================================== */

.vc_row.wpb_row.vc_row-fluid.mkd-video {
	overflow: hidden;
}

/* ==========================================================================
   #Row  - end
   ========================================================================== */

input[type=text]::-ms-clear {
    display: none;
}