.mkd-grid,
.mkd-container-inner,
.mkd-grid-section .mkd-section-inner,
.mkd-slider .carousel-inner .mkd-slider-content-outer {

	@include laptop-landscape {
		width: $grid-width-laptop-landscape;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape;
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait;
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape;
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait;
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait;
	}
}

//vertical menu responsive
.mkd-header-vertical .mkd-grid,
.mkd-header-vertical .mkd-container-inner,
.mkd-header-vertical .mkd-grid-section .mkd-section-inner,
.mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer{
    @include vertical-menu-laptop-wide-landscape {
        width: $grid-width-laptop-wide-landscape;
    }

    @include vertical-menu-laptop-landscape {
        width: $grid-width-laptop-landscape;
    }

    @include vertical-menu-small-laptop-landscape {
        width: $grid-width-vertical-menu-laptop-landscape;
    }

    @include vertical-menu-ipad-landscape {
        width: $grid-width-ipad-landscape;
    }

    @include ipad-portrait {
        width: $grid-width-ipad-portrait;
    }

    @include phone-landscape {
        width: $grid-width-phone-landscape;
    }

    @include phone-portrait {
        width: $grid-width-phone-portrait;
    }

    @include smaller-phone-portrait {
        width: $grid-width-smaller-phone-portrait;
    }

}

.mkd-boxed .mkd-wrapper .mkd-wrapper-inner,
.mkd-boxed .mkd-wrapper .mkd-footer-inner {

	@include laptop-landscape {
		width: $grid-width-laptop-landscape-boxed;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape-boxed;
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait-boxed;
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape-boxed;
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait-boxed;
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait-boxed;
	}
}

@include ipad-landscape {
	.mkd-content {
		margin-top: 0px !important;
	}
}

@include ipad-landscape {
	.mkd-two-columns-50-50 .mkd-column,
	.mkd-two-columns-66-33 .mkd-column1,
	.mkd-two-columns-66-33 .mkd-column2,
	.mkd-two-columns-33-66 .mkd-column1,
	.mkd-two-columns-33-66 .mkd-column2,
	.mkd-two-columns-25-75 .mkd-column1,
	.mkd-two-columns-25-75 .mkd-column2,
	.mkd-two-columns-75-25 .mkd-column1,
	.mkd-two-columns-75-25 .mkd-column2,
	.mkd-three-columns .mkd-column,
	.mkd-four-columns .mkd-column {
		width: 100%;
	}

	.mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-66-33 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column2 .mkd-column-inner {
		padding: 0 0 0 0;
	}


    .mkd-intro-section-section-holder {
        height: auto !important;

        .mkd-intro-section-content-outer-fixed{
            position: relative;
        }

        .mkd-intro-section-background {
            background-attachment: scroll;
            @include mkdTransform(none !important);
        }
    }
}

@include smaller-phone-portrait {
	.mkd-section-inner-margin {
		margin-left: 0px;
		margin-right: 0px;
	}
}