$grid-width: 1100px;
$grid-width-laptop-wide-landscape: 1100px;
$grid-width-laptop-landscape: 950px;
$grid-width-vertical-menu-laptop-landscape: 850px;
$grid-width-ipad-landscape: 768px;
$grid-width-ipad-portrait: 600px;
$grid-width-phone-landscape: 420px;
$grid-width-phone-portrait: 300px;
$grid-width-smaller-phone-portrait: 95%;

$grid-width-boxed: 1150px;
$grid-width-laptop-landscape-boxed: 1000px;
$grid-width-ipad-landscape-boxed: 818px;
$grid-width-ipad-portrait-boxed: 650px;
$grid-width-phone-landscape-boxed: 470px;
$grid-width-phone-portrait-boxed: 350px;
$grid-width-smaller-phone-portrait-boxed: 96%;

$grid-width-1300: 1300px;
$grid-width-1200: 1200px;
$grid-width-1000: 1000px;
$grid-width-800: 800px;

$first-main-color: #ff3a4c;
$default-background-color: #fff;

$type1-gradient-first-color: #595ea5;
$type1-gradient-second-color: $first-main-color;
$type2-gradient-first-color: #0199ef;
$type2-gradient-second-color: $first-main-color;

$header-light-color: #fff;
$header-dark-color: #000;

//typography variables
$default-font-family: 'Catamaran', sans-serif;
$default-text-color: #777;
$default-text-size: 16px;
$default-text-line-height: 28px;
$headings-font-family: 'Catamaran', sans-serif;
$headings-text-color: #3e3e3e;
$headings-text-line-height: 1.3em;
$elements-box-shadow-color: rgba(0, 0, 0, 0.08);
$shop-price-color: #999;

//responsive breakpoints
//$large-laptop: 1400px;
//$mac: 1280px;
//$laptop-landscape: 1200px;
//$ipad-landscape: 1024px;
//$ipad-portrait: 768px;
//$phone-landscape: 600px;
//$phone-portrait: 480px;
//$smaller-phone-portrait: 320px;

$breakpoints: (
    vertical-menu-laptop-wide-landscape: 1650px,
    vertical-menu-laptop-landscape: 1490px,
    large-laptop: 1400px,
    vertical-menu-ipad-landscape: 1314px,
    mac: 1280px,
    laptop-landscape: 1200px,
    ipad-landscape: 1024px,
    ipad-portrait: 768px,
    phone-landscape: 600px,
    phone-portrait: 480px,
    smaller-phone-portrait: 320px
);

$vertical-menu-width: 260px;

// social share colors
$linkedin-color: #007bb5;
$googleplus-color: #d4145a;
$tumblr-color: #32506d;
$pinterest-color: #cb2027;
$facebook-color: #3b5998;
$instagram-color: #125688;
$twitter-color: #00aced;
$vimeo-color: #aad450;

// box shadow
$shadow: 1px 1px 3px #eee;
