/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */
/* Woocommerce product list - begin
========================================================================== */
@import 'variables';
@import 'mixins';

.mkd-woocommerce-page {

	.woocommerce-result-count {

		@include phone-portrait {
			width: 100%;
			margin-bottom: 2%;
		}
	}

	.woocommerce-ordering {

		@include phone-portrait {
			width: 100%;
			margin-bottom: 20%;
		}
	}

	.woocommerce-result-count {

		@include phone-portrait {
			text-align: center;
		}

	}

	.woocommerce-ordering .orderby {

		@include phone-portrait {
			display: block;
			float: none;
			margin: 0 auto;
		}

	}

}

.mkd-woocommerce-page.mkd-woocommerce-columns-5,
.columns-5 {
	.products .product {

		@include laptop-landscape {
			width: 50%;

			&:nth-child(5n+1) {
				clear: none;
			}
		}

		@include laptop-landscape {
			width: 50%;
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-5 {
	.mkd-woocommerce-with-sidebar .products .product {

		@include laptop-landscape {
			width: 50%;

			&:nth-child(4n+1),
			&:nth-child(5n+1) {
				clear: none;
			}
		}

		@include laptop-landscape {
			width: 50%;
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-5,
.columns-5 {
	.products .product {

		@include phone-landscape {
			width: 100%;

			&:nth-child(5n+1) {
				clear: none;
			}
		}

		@include phone-landscape {
			width: 100%;
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-5 {
	.mkd-woocommerce-with-sidebar .products .product {

		@include phone-landscape {
			width: 100%;

			&:nth-child(4n+1),
			&:nth-child(5n+1) {
				clear: none;
			}
		}

		@include phone-landscape {
			width: 100%;
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-4,
.columns-4 {
	.products .product {

		@include ipad-landscape {
			width: 50%;

			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}

		@include phone-landscape {
			width: 100%;
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-4 {
	.mkd-woocommerce-with-sidebar .products .product {

		@include ipad-landscape {
			width: 50%;

			&:nth-child(3n+1),
			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}

		@include ipad-portrait {
			width: 100%;
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-3,
.columns-3 {

	.products .product {

		@include ipad-portrait {
			width: 50%;

			&:nth-child(3n+1),
			&:nth-child(4n+1) {
				clear: none;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}

		@include phone-landscape {
			width: 100%;
		}

	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-3 {
	.mkd-woocommerce-with-sidebar .products .product {
		@include ipad-portrait {
			width: 100%;
		}
	}
}

.mkd-woocommerce-page.mkd-woocommerce-columns-2,
.columns-2 {
	@include phone-landscape {
		.products .product {
			width: 100%;
		}
	}
}

/* Woocommerce product list - end
========================================================================== */

/* Woocommerce single product - begin
========================================================================== */

.single-product {
	.mkd-single-product-images,
	.mkd-single-product-summary {

		@include ipad-portrait {
			width: 100%;
			margin: 0;
		}
	}

	@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {
		.mkd-tabs.mkd-horizontal {
			.mkd-tabs-nav {
				border-bottom:0;
				top: 0;

				li {
					margin-right: 0;
					float: none;
					width: 100%;

					&:not(.mkd-tab-line) {
						border-bottom:1px solid #f2f2f2;
					}
				}
			}

			.mkd-tab-container {
				@include mkdBoxShadow(none);
			}

			li {
				float: none !important;
				display: block;
			}

			.mkd-tabs-shadow {
				display: none;
			}
		}
	}

	@include ipad-landscape {
		.mkd-single-product-images {

			margin-bottom: 30px;

			.mkd-thumbnails {
				width: 100%;
				margin-right: 0;
				right: 0;
				margin-top: 20px;
				padding-right: 0;

				a {
					width: 25%;
				}
			}

			.mkd-image {
				width: 100% !important;
				left: 0;
			}
		}
	}

	@media only screen and (min-width: map-get($breakpoints, ipad-portrait)) and (max-width: map-get($breakpoints, ipad-landscape)) {
		.product-type-grouped {
			.mkd-single-product-summary {
				form.cart .price .amount, form.cart a {
					font-size: 14px!important;
					line-height: 1em;
				}
			}
		}
	}

	@include large-laptop {
		.mkd-single-product-images .thumbnails a {
			margin-bottom: 16px !important;
		}
		.product-type-grouped {
			.mkd-single-product-summary {
				form.cart .price .amount {
					font-size: 18px;
				}
				.summary.entry-summary table.group_table td.stock p {
					font-size: 13px;
				}
			}
		}

	}

	@include laptop-landscape {

		.mkd-single-product-images .thumbnails a {
			margin-bottom: 14px !important;
		}

		.product.product-type-grouped table {
			td.label {
				width:56%;
			}
			td.stock {
				display: none;
			}
		}
	}

	@include phone-portrait{
		.product.product-type-grouped {
			.quantity.mkd-quantity-buttons {
				border:1px solid #ebebeb;

				span.mkd-quantity-minus span {
					border-bottom:1px solid #ebebeb;
					bottom:-1px;
				}

				span.mkd-quantity-plus span {
					border-top:1px solid #ebebeb;
					top:-1px;
				}
			}
			table tbody tr {
				border:none;
			}
		}
	}
}

/* Woocommerce single product - end
========================================================================== */

/* Woocommerce quantity buttons - begin
========================================================================== */

.mkd-woocommerce-page .mkd-quantity-buttons {

	.mkd-quantity-minus,
	.mkd-quantity-plus,
	.mkd-quantity-input {

		@include phone-landscape {
			width: 22px;
			height: 22px;
			line-height: 22px;
		}

	}

}

/* Woocommerce quantity buttons - end
========================================================================== */

/* Woocommerce table - begin
========================================================================== */

.mkd-woocommerce-page {

	table td {
		@include phone-landscape {
			padding: 5px 5px;
		}

	}

	td.product-thumbnail img {
		@include phone-portrait {
			display: none;
		}
	}

	td.actions {

		.coupon,
		.mkd-cart-proceed-update {
			@include phone-landscape {
				width: 100%;
				margin-bottom: 20px;
			}
		}

		.mkd-cart-proceed-update .checkout-button {
			@include phone-landscape {
				float: left;
			}
		}
	}

	.coupon {

		input[type="text"] {
			@include ipad-portrait {
				width: 150px;
			}
		}

	}

}

@include phone-landscape {
	.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) table.shop_table.cart .mkd-btn {
		font-size: 16px !important;
	}
}

@include ipad-portrait {
	.woocommerce-cart .woocommerce form:not(.woocommerce-shipping-calculator) {
		border: 0;
	}
}

/* Woocommerce table - end
========================================================================== */

/* Woocommerce shipping calculator - begin
========================================================================== */

.mkd-woocommerce-page {

	.mkd-shipping-calculator {

		@include phone-landscape {
			width: 100%;
			margin-bottom: 25px;
		}

	}

}

/* Woocommerce shipping calculator - end
========================================================================== */

/* Woocommerce totals - begin
========================================================================== */

.mkd-woocommerce-page {

	.mkd-cart-totals {
		@include phone-landscape {
			width: 100%;
		}
	}

}

/* Woocommerce totals - end
========================================================================== */

/* Woocommerce checkout - begin
========================================================================== */

.woocommerce-checkout {

	.woocommerce-checkout .col-1,
	.woocommerce-checkout .col-2 {
		@include ipad-portrait {
			width: 100%;
		}
	}

	.checkout_coupon {
		width: 100%;
	}

}

.select2-container .select2-choice>.select2-chosen,
.mkd-woocommerce-page .select2-container .select2-choice .select2-arrow b:after {
	color: #999;
	font-size: 16px;
}

/* Woocommerce checkout - end
========================================================================== */

/* Woocommerce cart - begin
========================================================================== */
.woocommerce-cart .woocommerce {
	@include ipad-portrait {
		form:not(.woocommerce-shipping-calculator) {
			margin-left: -1000px;
			margin-right: -1000px;
			padding-left: 1000px;
			padding-right: 1000px;
		}

		form:not(.woocommerce-shipping-calculator) .actions {
			.coupon {
				input[type=text] {
					width: 100%;
					margin-right: 0;
					margin-bottom: 10px;
				}
			}

			.mkd-cart-proceed-update {
				a {
					margin-bottom: 10px;
				}
			}
		}

		.cart-collaterals .mkd-shipping-calculator,
		.cart-collaterals .mkd-cart-totals {
			float: none;
			width: 100%;
			margin-bottom: 20px;
		}
	}

	@include phone-landscape {
		form:not(.woocommerce-shipping-calculator) table {
			.product-thumbnail {
				display: none;
			}

			.product-remove {
				display: none;
			}
		}

		form:not(.woocommerce-shipping-calculator) .actions {
			.coupon,
			.mkd-cart-proceed-update {
				width: 100%;
				float: none;
			}

			.coupon {
				margin-bottom: 10px;
			}

			.mkd-cart-proceed-update input[type=submit] {
				margin-left: 0;
				float: left;
			}
		}
	}
}

/* Woocommerce dropdown cart - begin
========================================================================== */

@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {
	.mkd-shopping-cart-outer:hover {
		.mkd-shopping-cart-dropdown {
			display: none;
			visibility: hidden;
		}
	}
	.mkd-top-bar .mkd-shopping-cart-outer {
		float: none;
	}
}

@media only screen and (max-width: map-get($breakpoints, smaller-phone-portrait)) {
	.mkd-shopping-cart-outer {
		display: none;
	}
}

/* Woocommerce dropdown cart - begin
========================================================================== */
/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */