@import "types/float";

.mkd-header-vertical {

    .mkd-vertical-menu-outer {
        display: table;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        text-align: inherit;
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        padding: 100px 0 150px;
        box-sizing: border-box;
    }

	.mkd-vertical-menu {

        display: table-cell;
        height: auto;
        min-height: 0;
        vertical-align: middle;

        position: relative;
		z-index: 101;
		margin: 0;
		text-align: left;

		ul {
			position: relative;
			list-style-type: none;
            margin: 0px -25px;
		}

		ul li {
			position: relative;
            @include mkdTransition(background-color 0.2s ease);
		}

		& > ul > li {
            > a {
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                position: relative;
                display: block;
                padding: 6px 10px;
                margin: 0px 15px;
                line-height: 26px;
                color: #fff;
                font-weight: 400;
                text-decoration: none;
                cursor: pointer;
                border-bottom: 1px solid rgba(255, 255, 255, 0.07);

                @include mkdTransition(
                        color 0.15s ease,
                        text-decoration 0.15s ease,
                        background-color 0.15s ease
                );
            }

            &:last-child{
                > a {
                    border-color: transparent;
                }
            }

            &:hover {
                background: rgba(25,26,30,0.07);

                .second{
                    top: -10px;
                }
            }
        }

		& > ul > li > a > span.item_inner {
			@include mkdTransition(text-decoration 0.2s ease);
		}

		ul > li.menu-item-has-children > a .plus {
			width: 16px;
			height: 16px;
			z-index: 100;
			display: block;
			position: absolute;
			top: 50%;
			right: 20px;
			display: block;
			font-size: 16px;
			line-height: 16px;
			font-family: 'ElegantIcons';
			cursor: pointer;

			@include mkdTransform(translateY(-50%));

            &:before {
                content: "\35";
            }
		}

        .q_menu_arrow {
            display: none;
        }

		.menu_icon_wrapper {
            display: inline-block;
            vertical-align: middle;
			padding-right: 15px;
		}

        .mkd-menu-featured-icon {
            color: #d4145a;
            display: inline-block !important;
            font-size: 10px;
            margin-left: 5px;
            position: relative;
            top: -3px;
        }
	}
}