/* ==========================================================================
# Portfolio Single Big Slider - begin
========================================================================== */

.mkd-portfolio-single-holder.big-slider {

	.mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner {
		padding: 0 0 0 20px;
	}

	.mkd-big-image-holder {
		margin-bottom: 78px;
	}

	h4.mkd-portfolio-item-title {
		margin-top: 7px;
	}

	.mkd-portfolio-item-content {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 30px;
	}

}

/* ==========================================================================
# Portfolio Single Big Slider - end
========================================================================== */