/* ==========================================================================
# Portfolio Single Gallery - begin
========================================================================== */
$mkd-gutter-width: 25px;

.mkd-portfolio-single-holder.gallery {
	.mkd-portfolio-single-media a {
		position: relative;
		overflow: hidden;
		display: block;

		.mkd-portfolio-gallery-text-holder {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba(255, 255, 255, 0.9);
			@include mkdTransition(opacity 0.3s ease-out);
		}

		.mkd-portfolio-gallery-text-holder-inner {
			position: relative;
			display: table;
			width: 100%;
			height: 100%;
		}

		.mkd-portfolio-gallery-text-holder-inner h4 {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			width: 100%;
			height: 100%;
		}

		img {
			display: block;
		}

		&:hover {

			.mkd-portfolio-gallery-text-holder {
				opacity: 1;
			}

		}

	}

	.mkd-portfolio-item-content {
		margin-top: 0;
		margin-bottom: 0;
	}

	.mkd-portfolio-media {
		margin-left: -($mkd-gutter-width / 2);
		margin-right: -($mkd-gutter-width / 2);
		margin-bottom: 45px;

		@include mkdClearfix;
	}

	.mkd-portfolio-single-media {
		float: left;
		padding: 0 $mkd-gutter-width / 2;
		margin-bottom: $mkd-gutter-width;

		@include mkdBoxSizing(border-box);
	}

	.mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner {
		padding: 0;
	}

}

.gallery.mkd-portfolio-gallery-three-columns {
	.mkd-portfolio-single-media {
		width: 33.33%;
	}
}

.gallery.mkd-portfolio-gallery-two-columns {
	.mkd-portfolio-single-media {
		width: 50%;
	}
}

.gallery.mkd-portfolio-gallery-four-columns {
	.mkd-portfolio-single-media {
		width: 25%;
	}
}

/* ==========================================================================
# Portfolio Single Gallery - end
========================================================================== */