@import 'small-images';
@import 'small-slider';
@import 'big-images';
@import 'big-slider';
@import 'gallery';
@import 'masonry';

.mkd-portfolio-single-holder {

	.mkd-image-author-holder {
		margin-top: 12px;
	}

	.mkd-portfolio-single-media {
		a {
			display: block;
		}

		img {
			vertical-align: middle;
		}
	}

	.mkd-portfolio-item-content {
		margin-top: 28px;
		margin-bottom: 69px;
		line-height: 30px;
	}

	.mkd-portfolio-info-item {

		&.mkd-portfolio-date h6 {
			display: inline-block;
			float: left;
			margin-right: 10px;
		}

		&.mkd-portfolio-date p {
			display: inline-block;
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		h5, h6 {
			margin-top: 0;
		}

		h5 {
			margin-bottom: 11px;
		}

		h6 {
			color: $first-main-color;
			margin-bottom: 26px;
		}
	}

	.mkd-portfolio-item-social {
		border-top: 1px solid #f2f2f2;
		padding-top: 15px;
		position: relative;

		.mkd-portfolio-single-share-holder {
			float: right;
		}

		.mkd-social-share-holder {
			display: inline-block;
		}
	}

	.mkd-portfolio-author-holder {
		.mkd-author-description-image {
			display: inline-block;
			float: left;

			img {
				width: 58px;

				@include mkdBorderRadius(50%);
			}
		}

		.mkd-author-name-position {
			padding-left: 77px;
		}

		h5.mkd-author-name {
			margin-top: 0;
			margin-bottom: 0;
			color: #222;
		}

		h6.mkd-author-position {
			font-size: 14px;
			color: #999;
			margin-top: 3px;
		}

		.mkd-author-description-text-holder {
			margin-top: 13px;
			margin-bottom: 19px;
			line-height: 30px;
		}

	}

	.mkd-portfolio-single-likes {
		.mkd-like {
			position: absolute;
			left: 0;
			top: 15px;
			color: #808080;
			font-size: 16px;

			&:before {
				content: "\f087";
				font-family: 'FontAwesome';
				color: inherit;
				margin-right: 6px;
			}

			&.liked:before {
				content: "\f164";
				margin-right: 6px;
			}
		}
	}

	.mkd-portfolio-single-nav {
		padding: 23px 0;
		position: relative;
		border-bottom: 1px solid #eee;
		margin-top: 95px;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;

		.mkd-icon-stack {
			display: block;
			height: 40px;
			width: 40px;
			font-size: 22px;
			background-color: #fff;
			line-height: 45px;
			text-align: center;
			color: #3e3e3e;

			@include mkdBorderRadius(50%);
			@include mkdBoxShadow($shadow);
		}

		.mkd-portfolio-single-prev {
			float: left;

			& > a {
				display: block;
			}

			.mkd-icon-stack {
				float: left;
			}

			.mkd-single-prev-title-label {
				float: left;
				margin-left: 20px;
			}

			.mkd-single-prev-title {
				display: block;
				text-align: left;
				color: #373737;
			}

			.mkd-single-prev-label {
				display: block;
				margin-top: 3px;
				text-align: left;
				color: #999;
			}
		}
		.mkd-portfolio-single-next {
			float: right;

			.mkd-single-next-title-label {
				float: right;
				margin-right: 20px;
			}

			.mkd-icon-stack {
				float: right;
			}

			.mkd-single-next-title-label {
				float: right;
			}

			.mkd-single-next-title {
				display: block;
				text-align: right;
				color: #373737;
			}

			.mkd-single-next-label {
				display: block;
				margin-top: 3px;
				text-align: right;
				color: #999;
			}
		}

		.mkd-portfolio-back-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 20px;

			@include mkdTransform(translate(-50%, -50%));

			a {
				color: #999;
			}
		}
	}

	.mkd-portfolio-video-lightbox {
		position: relative;
		display: block;

		img {
			vertical-align: middle;
		}
	}

	.mkd-portfolio-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;

		.mkd-portfolio-play-icon {
			position: absolute;
			font-size: 20px;
			left: 50%;
			top: 50%;

			@include mkdTransform(translateX(-50%) translateY(-50%));
		}
	}
}

.mkd-ptf-item-hover-holder {

	.mkd-ptf-portfolio-overlay-icon {
		position: absolute;
		z-index: 3;
		opacity: 0;
		font-size: 60px;
		top: 50%;
		left: 50%;

		@include mkdTransition(opacity 0.2s ease-out);
		@include mkdTransform(translateX(-50%) translateY(-50%));
	}

	.mkd-ptf-portfolio-overlay-bg {
		position: absolute;
		display: block;
		background-color: rgba(255, 255, 255, 0.98);
		opacity: 0;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		@include mkdTransition(opacity 0.2s ease-out)
	}

	&:hover .mkd-ptf-portfolio-overlay-bg {
		opacity: 1;
	}

	&:hover .mkd-ptf-portfolio-overlay-icon {
		opacity: 1;
	}
}