.mkd-header-vertical {
	.mkd-vertical-area-widget-holder {
		z-index: 100;
		position: absolute;
        bottom: 0px;
        left: 0px;
        font-size: 13px;
        line-height: 23px;
        color: #fff;
	}
}