.mkd-header-vertical {
	.mkd-vertical-dropdown-float {
		ul li {
			overflow: hidden;
			&:hover {
				overflow: visible;
			}
		}
		.menu-item .second {
            background-color: #fff;
            border: 1px solid #f5f5f5;
			position: absolute;
			top: 0;
			left: 100%;
			margin-left: 50px;
			opacity: 0;
			visibility: hidden;
			@include mkdTransition(margin 0.25s cubic-bezier(0, 0.57, 0.58, 1));

			* {
				visibility: hidden;
			}

            .inner {
                position: relative;
                display: block;
                padding: 0;
                z-index: 997;
            }
		}

		.menu-item .second.mkd-float-open {
			margin-left: 0px;
			opacity: 1;
			visibility: visible;

			* {
				visibility: visible;
			}
		}

		.menu-item .second.vertical_menu_start ul li ul,
		.menu-item .second.vertical_menu_start ul li ul * {
			visibility: hidden;
		}

		.menu-item .second.vertical_menu_start ul li ul.mkd-float-open,
		.menu-item .second.vertical_menu_start ul li ul.mkd-float-open * {
			visibility: visible;
			opacity: 1;
		}

		.second .inner ul {
            margin: 0px;
            padding: 10px 0px;

            li{
                display: block;
                padding: 0px;
                position: relative;
                overflow: hidden;
                float: none;
                height: auto;
                background: 0;
                width: 230px;
                @include mkdTransition(background-color 0.15s ease-out);

                a{
                    display: block;
                    color: #777;
					font-family: $headings-font-family;
                    height: auto;
                    font-size: 15px;
                    font-weight: 400;
                    padding: 6px 27px;
                    position: relative;
                    @include mkdTransition(color 0.2s ease-out);

                    .plus{
                        font-size: 12px;
                        line-height: 12px;
                        width: 12px;
                        height: 12px;
                    }
                }

                &:hover > a,
                &.mkd-active-item > a{
                    color: #6b6b6b;
                }

                &:hover,
                &.sub ul li:hover{
                    overflow: visible;

                }
            }
		}

		.second .inner ul ul {
            background-color: #fff;
            border: 1px solid #f5f5f5;
			position: absolute;
			top: -11px;
			left: 100%;
			margin-left: 50px;
			height: auto;
			visibility: hidden;
			width: 100%;
			opacity: 0;
			overflow: hidden;
			z-index: 10;
			@include mkdTransition(all 0.25s cubic-bezier(0, 0.57, 0.58, 1));;
		}

		.second .inner ul ul.mkd-float-open {
			opacity: 1;
			margin-left: 0;
			visibility: visible;
		}

		.second .inner > ul > li > a .menu_icon {
			@include mkdTransition(color 0.25s ease-out);
		}
	}
}