/* line 2, scss/mkd-meta-boxes.scss */
.mkd-meta-box .mkd-meta-box-holder {
    width: 100%;
}
/* line 6, scss/mkd-meta-boxes.scss */
.mkd-meta-box .mkd-meta-box-holder .mkd-page-form-section th {
    width: 250px;
}
/* line 9, scss/mkd-meta-boxes.scss */
.mkd-meta-box .mkd-meta-box-holder .mkd-page-form-section th p {
    font-weight: 400;
    color: #9e9e9e;
}
/* line 16, scss/mkd-meta-boxes.scss */
.mkd-meta-box .mkd-meta-box-holder .mkd-page-form-section .mkd-field-desc{
    width: 20%;
    padding: 15px 20px 15px 0;
    display: table-cell;
    height: 100%;
    vertical-align: middle;

}
.mkd-meta-box .mkd-meta-box-holder .mkd-page-form-section .mkd-field-desc h4 {
    margin: 0;
    line-height: 1.5em;
    padding: 0;
    color: #6F858D;
    font-size: 14px;
    font-weight: 600;
}
.mkd-meta-box .mkd-portfolio-media, .mkd-meta-box .mkd-portfolio-additional-item {
    background:#fff;
    margin-bottom: 5px;
}
.mkd-meta-box .mkd-meta-box-holder .mkd-page-form-section {
    border-top: 1px dashed #ddd;
    display: table;
    width: 100%;
}
.mkd-meta-box .mkd-portfolio-media  .mkd-page-form-section {
    border-top:none
}
.mkd-meta-box .mkd-meta-box-holder .mkd-portfolio-media .mkd-page-form-section, .mkd-meta-box .mkd-meta-box-holder .mkd-portfolio-additional-item .mkd-page-form-section {
    border-bottom: none;
    display: table;
    width: 100%;
}
.mkd-meta-box .mkd-meta-box-holder .mkd-page-form-section .mkd-field-desc p {
    color: #acb5bf;
    margin: 0;
    font-size: 13px;
}

.mkd-meta-box .mkd-meta-box-holder .mkd-page-form-section .mkd-section-content{
    padding: 20px 0;
    display: table-cell;
    width: 80%;
    height: 100%;
    vertical-align: middle;
    position: relative;
}
.mkd-meta-box .mkd-portfolio-toggle-holder {
    display: table;
    width: 100%;
    border:1px solid #dae0e8;
    position: relative;
    cursor:pointer;
}
.mkd-meta-box .mkd-portfolio-toggle {
    display: table-cell;
    vertical-align: middle;
    background: #ebeef2;
    color: #6F858D;
    height: 40px;
    padding: 0 10px;
}
.mkd-portfolio-media .mkd-portfolio-toggle-content, .mkd-portfolio-additional-item .mkd-portfolio-toggle-content {
    border: 1px solid #dbdee0;
    border-top: none;
}
.mkd-meta-box .mkd-portfolio-toggle .number {
    display: inline-block;
    background-color:#ABB7C7;
    color:#fff;
    width: 35px;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
    padding:1px 5px
}
.mkd-meta-box .mkd-portfolio-toggle.mkd-portfolio-control {
    text-align: right;
    padding-right: 40px;
    color:#ABB7C7;
    font-size:14px
}
.mkd-meta-box .mkd-portfolio-toggle.mkd-portfolio-control a {
    color:#ABB7C7;
}
.mkd-meta-box .mkd-portfolio-toggle.mkd-portfolio-control a.remove-portfolio-media, .mkd-meta-box .mkd-portfolio-toggle.mkd-portfolio-control a.remove-portfolio-item {
    position: absolute;
    right: 0;
    top: 0;
    padding:13px 11px 14px 5px;
    line-height:0;
}
.mkd-portfolio-add {
    padding-top: 10px;
}
.mkd-portfolio-add a:first-child {
    margin-right: 3px;
}
.mkd-portfolio-add a:last-child {
    margin-right: 10px;
}
.mkd-portfolio-add i {
    margin-right:5px;
}

.mkd-meta-box-hidden {
    display: none;
}
.mkd-meta-box-holder .mkd-page-form-container-holder {
    /*border-bottom: 1px solid #ececec;*/
    /*border-left: 3px solid #b2b8bd;*/
    /*	margin-left: 10px;*/
}
.mkd-meta-box-holder .mkd-page-form-container-holder .mkd-page-form-container-holder {
    border-left: none;
    margin-left: 0;
    /*	padding-left:30px;*/
}
.mkd-meta-box-holder .mkd-page-form-container-holder .mkd-page-form-container-holder .mkd-page-form-section{
    padding-left:40px;
    background:#F4F7FC
}
.mkd-meta-box-holder .mkd-page-form-container-holder .mkd-page-form-container-holder .mkd-page-form-container-holder .mkd-page-form-section{
    background:#EBEEF0
}
.mkd-meta-box-holder .mkd-page-form-container-holder .mkd-page-form-container-holder .mkd-page-form-container-holder .mkd-page-form-section:last-child {
    border-bottom: none;
}
.mkd-meta-box-holder .mkd-page-form-container-holder .mkd-page-form-section {
    padding-left: 20px;
    background: #FBFDFF;
}
div.inside > div > div > div.mkd-page-form-section:first-child {
    border-top: none;
}
.mkd-meta-box-holder .mkd-page-form-container-holder .mkd-page-form-section:first-child {
    border-top: 2px solid #dae0e8;
}

.mkd-meta-box-holder .mkd-page-form-container-holder::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 12px;
    border-top: 10px solid #dae0e8;
}

.mkd-meta-box-holder .mkd-section-content .mkd-page-form-container-holder{
    border-top: 2px solid #dae0e8;
    background: #FBFDFF;
    padding-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.mkd-meta-box-holder .mkd-section-content .mkd-page-form-container-holder::before{
    left: 15px;
}

.mkd-meta-box-holder .mkd-page-section-subtitle {
    color: #34383C;
    text-transform: uppercase;
    display: inline-block;
    margin: 30px 0 15px;
    font-size: 13px;
    position: relative;
    left: -13px;
    padding: 8px 20px;
    background-color: #DFE8F0;
    border-left: 3px solid #ABB7C7;
}
.mkd-page.mkd-meta-box .btn-default {
    margin-right:0
}
.field.switch {
    margin-top: 0;
    display: inline-block;
    border: 1px solid #57CEEB;
    border-radius: 3px;
    margin:0;
}

/* Gutenberg page CSS fix */

.block-editor-page .postbox {
    margin: 20px !important;
}

.block-editor-page .edit-post-layout__metaboxes {
    background: #f2f2f2 !important;
}


.mkd-meta-box .iris-picker,
.mkd-meta-box .iris-picker * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
