.extended-custom-icon{
	background-image: url('img/vc-extend.png');
	background-size: auto!important;
}
.extended-custom-icon.icon-wpb-elements-holder {
	background-position:0px 0px;
}
.extended-custom-icon.icon-wpb-elements-holder-item {
	background-position:-32px 0px;
}
.extended-custom-icon.icon-wpb-bordered-elements-holder-item {
	background-position:-64px 0px;
}
.extended-custom-icon.icon-wpb-blog-list {
	background-position:-96px 0px;
}
.extended-custom-icon.icon-wpb-blog-slider {
	background-position:-128px 0px;
}
.extended-custom-icon.icon-wpb-portfolio {
	background-position:-160px 0px;
}
.extended-custom-icon.icon-wpb-portfolio-slider {
	background-position:-192px 0px;
}
.extended-custom-icon.icon-wpb-testimonials {
	background-position:-224px 0px;
}
.extended-custom-icon.icon-wpb-carousel-slider {
	background-position:-256px 0px;
}
.extended-custom-icon.icon-wpb-vertical-split-slider {
	background-position:-288px 0px;
}
.extended-custom-icon.icon-wpb-vertical-split-slider-left-panel {
	background-position:-320px 0px;
}
.extended-custom-icon.icon-wpb-vertical-split-slider-right-panel {
	background-position:-352px 0px;
}
.extended-custom-icon.icon-wpb-vertical-split-slider-content-item {
	background-position:-384px 0px;
}
.extended-custom-icon.icon-wpb-image-slider-no-space {
	background-position:-416px 0px;
}
.extended-custom-icon.icon-wpb-interactive-gallery {
	background-position:-448px 0px;
}
.extended-custom-icon.icon-wpb-masonry-gallery {
	background-position:-480px 0px;
}
.extended-custom-icon.icon-wpb-google-map {
	background-position:-512px 0px;
}
.extended-custom-icon.icon-wpb-team {
	background-position:-544px 0px;
}
.extended-custom-icon.icon-wpb-clients {
	background-position:-576px 0px;
}
.extended-custom-icon.icon-wpb-client {
	background-position:-608px 0px;
}
.extended-custom-icon.icon-wpb-circles {
	background-position:-640px 0px;
}
.extended-custom-icon.icon-wpb-circle {
	background-position:-672px 0px;
}
.extended-custom-icon.icon-wpb-pricing-tables {
	background-position:-704px 0px;
}
.extended-custom-icon.icon-wpb-pricing-table {
	background-position:-736px 0px;
}
.extended-custom-icon.icon-wpb-pricing-list {
	background-position:-768px 0px;
}
.extended-custom-icon.icon-wpb-pricing-list-item {
	background-position:-800px 0px;
}
.extended-custom-icon.icon-wpb-service-table {
	background-position:-832px 0px;
}
.extended-custom-icon.icon-wpb-call-to-action {
	background-position:-864px 0px;
}
.extended-custom-icon.icon-wpb-video-button {
    background-position:-864px 0px;
}
.extended-custom-icon.icon-wpb-message {
	background-position:-896px 0px;
}
.extended-custom-icon.icon-wpb-blockquote {
	background-position:-928px 0px;
}
.extended-custom-icon.icon-wpb-custom-font {
	background-position:-960px 0px;
}
.extended-custom-icon.icon-wpb-button {
	background-position:-992px 0px;
}
.extended-custom-icon.icon-wpb-counter {
	background-position:-1024px 0px;
}
.extended-custom-icon.icon-wpb-countdown {
	background-position:-1056px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart {
	background-position:-1088px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart2 {
	background-position:-1120px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart3 {
	background-position:-1152px 0px;
}
.extended-custom-icon.icon-wpb-pie-chart-with-icon {
	background-position:-1184px 0px;
}
.extended-custom-icon.icon-wpb-progress-bar {
	background-position:-1216px 0px;
}
.extended-custom-icon.icon-wpb-vertical-progress-bar {
	background-position:-1248px 0px;
}
.extended-custom-icon.icon-wpb-progress-bar-icon {
	background-position:-1280px 0px;
}
.extended-custom-icon.icon-wpb-line-graph {
	background-position:-1312px 0px;
}
.extended-custom-icon.icon-wpb-ordered-list {
	background-position:-1344px 0px;
}
.extended-custom-icon.icon-wpb-unordered-list {
	background-position:-1376px 0px;
}
.extended-custom-icon.icon-wpb-icon-list-item {
	background-position:-1408px 0px;
}
.extended-custom-icon.icon-wpb-icons {
	background-position:-1440px 0px;
}
.extended-custom-icon.icon-wpb-social-icons {
	background-position:-1472px 0px;
}
.extended-custom-icon.icon-wpb-icon-with-text {
	background-position:-1504px 0px;
}
.extended-custom-icon.icon-wpb-separator {
    background-position:-2048px 0px;
}
.extended-custom-icon.icon-wpb-separator-with-icon {
	background-position:-1536px 0px;
}
.extended-custom-icon.icon-wpb-animated-icons-with-text {
	background-position:-1568px 0px;
}
.extended-custom-icon.icon-wpb-animated-icon-with-text {
	background-position:-1600px 0px;
}
.extended-custom-icon.icon-wpb-social-share {
	background-position:-1632px 0px;
}
.extended-custom-icon.icon-wpb-cover-boxes {
	background-position:-1664px 0px;
}
.extended-custom-icon.icon-wpb-interactive-banners {
	background-position:-1696px 0px;
}
.extended-custom-icon.icon-wpb-image-with-text-and-icon {
	background-position:-1728px 0px;
}
.extended-custom-icon.icon-wpb-image-with-text {
	background-position:-1760px 0px;
}
.extended-custom-icon.icon-wpb-image-hover {
	background-position:-1792px 0px;
}
.extended-custom-icon.icon-wpb-video {
	background-position:-1824px 0px;
}
.extended-custom-icon.icon-wpb-product-slider {
	background-position:-1856px 0px;
}
.extended-custom-icon.icon-wpb-blog-carousel {
	background-position:-1888px 0px;
}
.extended-custom-icon.icon-wpb-parallax-layers {
	background-position:-1920px 0px;
}
.extended-custom-icon.icon-wpb-accordion{
    background-position:-1952px 0px;
}
.extended-custom-icon.icon-wpb-accordion-section{
    background-position:-1984px 0px;
}
.extended-custom-icon.icon-wpb-device-slider{
    background-position:-192px 0px;
}
.extended-custom-icon.icon-wpb-product-slider{
    background-position:-1888px 0px;
}
.extended-custom-icon.icon-wpb-tab-slider{
    background-position:-2816px 0px;
}
.extended-custom-icon.icon-wpb-tab-slider-item{
    background-position:-2848px 0px;
}
.extended-custom-icon.icon-wpb-tab{
    background-position:-2880px 0px;
}
.extended-custom-icon.icon-wpb-tab-item{
    background-position:-2912px 0px;
}
.extended-custom-icon.icon-wpb-box-holder{
    background-position:-2752px 0px;
}
.extended-custom-icon.icon-wpb-static-text-slider{
    background-position:-2720px 0px;
}
.extended-custom-icon.icon-wpb-thumbnail-image-slider{
    background-position:-2784px 0px;
}
.extended-custom-icon.icon-wpb-zooming-slider{
    background-position:-2656px 0px;
}
.extended-custom-icon.icon-wpb-zooming-slider-item{
    background-position:-2688px 0px;
}
.extended-custom-icon.icon-wpb-team-slider{
    background-position:-2624px 0px;
}
.extended-custom-icon.icon-wpb-workflow{
    background-position:-2560px 0px;
}
.extended-custom-icon.icon-wpb-workflow-item{
    background-position:-2282px 0px;
}
.extended-custom-icon.icon-wpb-twitter-slider{
    background-position:-2528px 0px;
}
.extended-custom-icon.icon-wpb-working-hours{
    background-position:-2496px 0px;
}
.extended-custom-icon.icon-wpb-icon-progress-bar{
    background-position:-2464px 0px;
}
.extended-custom-icon.icon-wpb-process-slider{
    background-position:-2336px 0px;
}
.extended-custom-icon.icon-wpb-process-slider-item{
    background-position:-2368px 0px;
}
.extended-custom-icon.icon-wpb-process{
    background-position:-2272px 0px;
}
.extended-custom-icon.icon-wpb-process-item{
    background-position:-2304px 0px;
}
.extended-custom-icon.icon-wpb-info-box{
    background-position:-2240px 0px;
}
.extended-custom-icon.icon-wpb-section-subtitle{
    background-position:-2208px 0px;
}
.extended-custom-icon.icon-wpb-section-title{
    background-position:-2176px 0px;
}
.extended-custom-icon.icon-wpb-animation-holder{
    background-position:-2144px 0px;
}
.extended-custom-icon.icon-wpb-video-banner{
    background-position:-2112px 0px;
}
.extended-custom-icon.icon-wpb-image-gallery{
    background-position:-2016px 0px;
}
.extended-custom-icon.icon-wpb-cards-slider{
    background-position:-2656px 0px;
}
.extended-custom-icon.icon-wpb-cards-slider-item{
    background-position:-2688px 0px;
}
.extended-custom-icon.icon-wpb-cards-gallery{
    background-position:-448px 0px;
}
.extended-custom-icon.icon-wpb-expanding-images{
    background-position:-2656px 0px;
}


.wpb_mkd_vertical_split_slider > .wpb_element_wrapper > .vc_container_for_children{
	overflow: hidden;
}

.wpb_mkd_vertical_split_slider_left_panel,
.wpb_mkd_vertical_split_slider_with_text_over_left_panel{
	width: 50%;
	float: left;
	clear: left;
}

.wpb_mkd_vertical_split_slider_right_panel,
.wpb_mkd_vertical_split_slider_with_text_over_right_panel{
	width: 50%;
	float: right;
	clear: right;
}

.wpb_mkd_vertical_split_slider_left_panel > .controls > .column_edit,
.wpb_mkd_vertical_split_slider_right_panel > .controls > .column_edit{
	display: none;
}