/* ==========================================================================
   Instagram start styles
   ========================================================================== */
.mkd-instagram-feed {
	list-style: none;

	&:not(.without-space) {
		margin-left: -7px;
		margin-right: -7px;

		li {
			padding: 0 7px;
		}
	}

	li {
		float: left;
		margin-bottom: 14px;

		@include mkdBoxSizing(border-box);

		img, a {
			display: block !important;
			width: 100%;
		}

		a {
		    position: relative;
			overflow: hidden;
			&:before {
				content: "\e09a";
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    @include mkdTransform(translate(-50%,-50%) scale(0.7) translateZ(0));
			    font-family: 'ElegantIcons';
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			    color: #fff;
			    z-index: 333;
			    opacity: 0;
			    @include mkdTransition(all .3s ease-out);
			}
		}

		img {
			@include mkdTransition(all .4s cubic-bezier(.22,.61,.36,1));
			will-change:transform;
		}

		.mkd-instagram-item-holder {
			position: relative;
		}

		&:hover {
			img {
				@include mkdTransform(scale(1.2));
			}
			a {
				&:before {
				    opacity: 1;
				    @include mkdTransform(translate(-50%,-50%) scale(1) translateZ(0));
				}
			}
		}
	}

	&.without-space li {
		margin-bottom: 0;
	}
}

aside.mkd-sidebar ul.mkd-instagram-feed li {
	border-bottom: 0;

	a:after {
		content:'';
		position: absolute;
		top:0;
		left:0;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.45);
		z-index: 222;
		opacity: 0;
	    @include mkdTransition(all .3s ease-out);
	}

	&:hover {
		a:after {
			opacity: 1;
		}
	}
}

.mkd-instagram-feed.mkd-col-9 li {
	width: 11.11111111111111%;
}

.mkd-instagram-feed.mkd-col-6 li {
	width: 16.66666666666667%;
}

.mkd-instagram-feed.mkd-col-4 li {
	width: 25%;
}

.mkd-instagram-feed.mkd-col-3 li {
	width: 33.33%;
}

.mkd-instagram-feed.mkd-col-2 li {
	width: 50%;
}

.mkd-instagram-feed .mkd-instagram-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	@include mkdTransition(opacity 0.3s ease-out);
	color: #fff;
	text-align: center;
}

.mkd-instagram-feed li:hover .mkd-instagram-overlay {
	opacity: .8;
}

.mkd-instagram-overlay-inner {
	display: table;
	width: 100%;
	height: 100%;
}

.mkd-instagram-overlay-inner2 {
	display: table-cell;
	vertical-align: middle;
}

/* ==========================================================================
   Instagram end styles
   ========================================================================== */