/* ==========================================================================
   Accordion shortcode start styles
   ========================================================================== */
.mkd-accordion-holder {
	position: relative;

	.mkd-accordion-content {
		margin: 0;
		color: #777;
		padding: 26px 25px 26px 45px;

		&.ui-accordion-content-active {
			border-bottom: 2px solid #dbdbe1;
		}

		p {
			line-height: 27px;
			margin: 0;
		}

		&.mkd-accordion-dark.ui-accordion-content-active {
			border-bottom: 2px solid #dbdbe1 !important;
		}

	}

	.mkd-title-holder {
		cursor: pointer;
		position: relative;
		margin: 0;
		line-height: 20px;
		padding: 25px 0;
		border-bottom: 1px solid #363636;
		color: #fff;

		@include mkdBoxSizing(border-box);
		@include mkdTransform(translateZ(0px));
		@include mkdTransition(background-color 0.15s ease-out, border-color 0.15s ease-out, color 0.15s ease-out);

		&:first-child {
			margin: 0;
		}

		.mkd-tab-title,
		.mkd-tab-title-inner {
			color: inherit;
			line-height: inherit;
			//padding-left: 5px;
		}

		span.mkd-accordion-number {
			color: $first-main-color;
			font-size: 26px;
			font-weight: 700;
			margin-right: 15px;
		}

		.mkd-accordion-mark {
			position: absolute;
			top: 50%;
			right: 8px;
			display: block;
			width: 34px;
			height: 34px;
			line-height: 1em;
			color: #fff;
			border: 1px solid #363636;

			@include mkdBorderRadius(50%);
			@include mkdTransform(translateY(-50%));
			@include mkdBoxSizing(border-box);
			@include mkdTransition(background-color 0.15s ease-out, border-color 0.15s ease-out);
		}

		.mkd-accordion-mark-icon {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			line-height: 34px;
			text-align: center;
			font-size: 16px;
		}

		.mkd-accordion-mark-icon span {
			position: absolute;
			left: 7px;
			display: block;
			line-height: inherit;

			@include mkdTransition(opacity 0.15s ease-out);
		}

		.mkd-accordion-mark-icon .arrow_up {
			opacity: 0;
		}

		.mkd-accordion-mark-icon .arrow_down {
			opacity: 1;
		}

		&.mkd-accordion-dark {
			color: #3e3e3e !important;
			border-bottom: 2px solid #f5f2f2;

			.mkd-accordion-mark {
				color: #999;
				border: 1px solid #ebebeb;
			}
		}
	}

	.mkd-title-holder.ui-state-active {

		.mkd-accordion-mark-icon .arrow_up {
			opacity: 1;
		}

		.mkd-accordion-mark-icon .arrow_down {
			opacity: 0;
		}

		.mkd-accordion-mark {
			@include mkdType1DiagonalGradient(false);
			color: #fff;
		}
	}
}

.mkd-accordion-holder.mkd-initial {

	.mkd-title-holder .mkd-tab-title {
		text-align: left;

		@include mkdTableLayout;
		@include mkdBoxSizing(border-box);

		span.mkd-icon-accordion-holder {
			font-size: 18px;
			margin-right: 17px;
			margin-left: 14px;
		}

		span.mkd-tab-title-inner {
			position: relative;
			@include mkdTableCellLayout;
			text-align: left;
		}

	}

}

.mkd-accordion-holder.mkd-boxed {

	border: 1px solid #363636;

	.mkd-title-holder {
		border-bottom: 0;
		text-align: left;
		padding: 24px 50px 24px 33px;
		background-color: #1a1a1a;
		border: 1px solid #363636;
		border-top: 0 !important;

		@include mkdTransition(background-color 0.15s ease-out, border-color 0.15s ease-out);

		span.mkd-icon-accordion-holder {
			margin-right: 6px;
			font-size: 18px;
		}

		.mkd-accordion-mark {
			border: 0;
			background-color: transparent;

			@include mkdTransition(color 0.15s ease-out);
		}
	}
	.mkd-title-holder.ui-state-active,
	.mkd-title-holder.ui-state-hover {
		color: #fff;
		background-color: #1f1f22;
		border-color: #363636;

		.mkd-accordion-mark {
			color: #fff;
		}
	}
}