/* #Latest posts
   ========================================================================== */
.mkd-blog-list-holder {
	display: inline-block;
	width: 100%;

	& > ul {
		list-style: none;
		display: inline-block;
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
		padding: 0;
		vertical-align: top;

		& > li {
			display: block;
			position: relative;
		}
	}

	.mkd-excerpt {
		margin: 0;
	}

	.mkd-item-info-section > div {
		display: inline;
		padding: 0 5px;

		&:first-child {
			padding: 0 5px 0 0;
		}

		> a {
			color: inherit;
			@include mkdTransition(0.3s color ease-in-out);

			&:hover {
				color:$first-main-color;
			}
		}
	}

	.mkd-item-info-section .mkd-blog-like a i {
		margin: 0 5px 0 0;
	}

	.mkd-item-image {
		a {
			display: block;
		}

		img {
			vertical-align: middle;
		}
	}

	.mkd-item-title {
		margin-top: 0;
	}
}

/* #Blog list grid styles - start
   ========================================================================== */
.mkd-blog-list-holder {

	&.mkd-blog-list-grid {
		margin: 0 -15px;
		width: auto;

		.mkd-blog-list-item {
			padding: 0 27px;
			float: left;

			@include mkdBoxSizing(border-box);
		}
	}

	&.mkd-one-column > ul > li {
		float: none;
	}

	&.mkd-two-columns > ul > li {
		width: 50%;
	}

	&.mkd-three-columns > ul > li {
		width: 33.33%;
	}

	&.mkd-four-columns > ul > li {
		width: 25%;
	}

	&.mkd-two-columns ul.mkd-blog-list li:nth-child(2n+1),
	&.mkd-three-columns ul.mkd-blog-list li:nth-child(3n+1),
	&.mkd-four-columns ul.mkd-blog-list li:nth-child(4n+1) {
		clear: both;
	}
}

/* #Blog list grid styles - end
   ========================================================================== */

/* #Blog list grid type 1 styles - start
   ========================================================================== */
.mkd-blog-list-holder.mkd-grid-type-1 {
	.mkd-blog-list-item {
		margin-bottom: 62px;
	}

	.mkd-item-image {
		margin-bottom: 25px;
	}

	.mkd-item-title {
		margin-bottom: 28px;
		font-size: 25px;
		line-height: 1.3em;
	}

	.mkd-excerpt {
		margin-bottom: 27px;
	}

	.mkd-item-info-section {
		font-size: 14px;
		font-weight: 600;
		color: #777;

		i {
			color: $first-main-color;
			font-size: 16px;
			margin-right: 8px;
		}
	}

	&.mkd-blog-list-light {
		.mkd-item-info-section,
		.mkd-excerpt {
			color: #fff;
		}

		.mkd-item-title {
			color: #fff;

			@include mkdTransition(opacity 0.25s ease-in-out);

			&:hover {
				a {
					color: #ffffff;
				}
				opacity: 0.6;
			}
		}

		.mkd-item-info-section > div > a {
			@include mkdTransition(opacity 0.25s ease-in-out);

			&:hover {
				color: #fff;
				opacity: 0.6;
			}
		}
	}
}

/* #Blog list grid type 1 styles - end
   ========================================================================== */

/* #Blog list grid type 2 styles - start
   ========================================================================== */
%blog-list-grid-type-2 {
	.mkd-blog-list-item {
		margin-bottom: 50px;
	}

	.mkd-item-image {
		margin-bottom: 27px;
	}

	.mkd-item-title {
		margin-bottom: 22px;
	}

	.mkd-item-date {
		font-family: $headings-font-family;
		font-size: 16px;
		color: #ababab;
		font-weight: 500;

		margin-bottom: 9px;
	}

	.mkd-post-item-author-holder {
		border-top: 1px solid #f2f2f2;
		padding-top: 12px;
		margin-top: 22px;

		font-family: $headings-font-family;
		font-weight: 600;
		font-size: 14px;
		color: #545454;

		@include mkdClearfix();

		a {
			color: inherit;

			&:hover {
				color: $first-main-color;
			}
		}
	}

	.mkd-post-item-author-avatar-holder {
		overflow: hidden;
		display: inline-block;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		margin-right: 13px;

		@include mkdBorderRadius(50%);

		img {
			display: inline-block;
		}
	}

	.mkd-post-item-author-name {
		line-height: 30px;
	}
}

.mkd-blog-list-holder.mkd-grid-type-2 {

	@extend %blog-list-grid-type-2;

	&.mkd-blog-list-light {
		.mkd-item-date,
		.mkd-item-title,
		.mkd-excerpt,
		.mkd-post-item-author-holder {
			color: #fff;
		}

		.mkd-post-item-author-holder {
			border-color: rgba(255, 255, 255, 0.1);
		}
	}
}

/* #Blog list grid type 2 styles - start
   ========================================================================== */

/* #Masonry blog list styles
   ========================================================================== */
.mkd-blog-list-holder.mkd-masonry {

	.mkd-blog-list-masonry-grid-sizer {
		width: 32%;
	}

	.mkd-blog-list-masonry-grid-gutter {
		width: 2%;
	}

	.mkd-blog-list-masonry-item {
		width: 32%;
	}

	@extend %blog-list-grid-type-2;
}

/* #Masonry blog list styles - end
   ========================================================================== */

/* #Image in a box blog list styles
   ========================================================================== */
.mkd-blog-list-holder.mkd-image-in-box {
	.mkd-blog-list-item {
		padding: 10px 0;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.mkd-item-image {
		float: left;

		a img {
			width: 85px;
		}
	}

	.has-post-thumbnail {
		.mkd-item-text-holder {
			padding-left: 107px;
			text-align: left;
		}
	}

	.mkd-item-title {
		margin-top: 0;
		margin-bottom: 2px;
	}

	.mkd-item-title {

		a {
			font-size: 17px;
			line-height: 23px;
			color: #4f4f4f;
			font-weight: 700;

			&:hover {
				color: $first-main-color;
			}
		}
	}

	.mkd-item-date {
		color: #999999;
		font-weight: 600;
		font-size: 14px;
		font-family: $headings-font-family;
	}
}

/* #Image in a box blog list styles - end
   ========================================================================== */

/* #Minimal blog list styles
   ========================================================================== */
.mkd-blog-list-holder.mkd-minimal {
	.mkd-blog-list-item {
		border-bottom: 1px solid #f2f2f2;
		padding: 20px 0 17px;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.mkd-item-title {
		color: #545454;
		margin-top: 0;
		margin-bottom: 4px;
	}

	.mkd-item-date {
		color: #6b6b6b;
		font-size: 12px;
		font-family: $headings-font-family;
		font-weight: 600;
	}
}

/* #Minimal blog list styles - end
   ========================================================================== */

/* #Blog list footer styles - start
   ========================================================================== */
.mkd-page-footer {
	.mkd-blog-list-holder.mkd-minimal,
	.mkd-blog-list-holder.mkd-image-in-box {
		.mkd-blog-list-item {
			border-bottom-color: #484848;
		}
	}
}

/* #Blog list footer styles - end
   ========================================================================== */