/* ==========================================================================
   Blockquote shortcode start styles
   ========================================================================== */
blockquote {
	position: relative;
	display: table;
	margin:52px 0 42px 0;

	.mkd-icon-quotations-holder {
		display: table-cell;
		width: 1%;
		padding: 0 10px 0 15px;
		font-size: 60px;
		line-height: 60px;
		font-weight: 400;
		color: $first-main-color;
	}

	.mkd-blockquote-text {
		display: table-cell;
		vertical-align: top;
		line-height: 32px;
		padding-left: 23px;

		&:after {
			content: '';
			display: block;
			left: 0;
			position: absolute;
			top: 0;
			width: 5px;
			height: 100%;
			background-color: $first-main-color;
		}
	}

}

/* ==========================================================================
   Blockquote shortcode end styles
   ========================================================================== */