.mkd-blog-slider-holder {
	opacity: 0;

	.mkd-post-title {
		margin-bottom: 22px;
		margin-top: 0;
		word-wrap: break-word;
	}

	.mkd-post-excerpt {
		padding-bottom: 14px;
		margin-bottom: 0;
	}

	.mkd-post-content {

		.mkd-author-desc {
			padding-bottom: 9px;

			.mkd-author-name {
				font-size: 16px;
				color: #63a8d8;
				margin: 0;
			}
			.mkd-author-image {
				margin-top: -15px;
				margin-right: 18px;

				img {
					height: 54px;
					width: 54px;
					padding: 3px;
				}
			}
			.mkd-author-name-holder {
				line-height: 51px;
			}
		}

		.mkd-post-excerpt {
			margin-top: 11px;
			word-wrap: break-word;
		}

		.mkd-post-info-date {
			font-size: 14px;
			line-height: 26px;
		}

		.mkd-categories-date {
			padding-top: 13px;
			padding-bottom: 13px;

			.mkd-categories-list {
				width: 65%;
			}

			.mkd-post-info {
				float: right;
				width: 35%;

			}
			.mkd-post-info-date {
				width: 100%;
				border-right: 0;
				padding-right: 0;
				text-align: right;
			}
			.mkd-post-info-author,
			.mkd-post-info-author a {
				font-weight: 600;
				color: #777;
				font-size: 14px;
			}

			.mkd-post-info-author a:hover {
				color:$first-main-color;
			}
			.mkd-post-info-author-icon {
				@include mkdType1DiagonalGradient('false');
				border-radius: 50%;
				height: 27px;
				width: 27px;
				line-height: 27px;
				display: inline-block;
				text-align: center;
				margin-right: 15px;
				color: #fff;

				i {
					line-height: inherit;
				}
			}
		}

        .mkd-post-info-comments-icon{
            display: inline-block;
            vertical-align: middle;
        }
	}

	&.dots_navigation {
		margin-bottom:79px;
	}

	&.mkd-blog-slider-two {
		h2.mkd-post-title {
			margin-bottom: 23px;
			font-size: 30px;
			line-height: 39px;
			font-weight: 300;
		}

		.mkd-post-content .mkd-post-text{
			padding-top: 30px;
			padding-bottom: 35px;
		}

		.mkd-post-excerpt {
			line-height:28px;
		}

		.mkd-post-info-date {
			font-size: 16px;
		}

        .mkd-post-info-comments{
            color: #737373;
            padding-right: 3px;

            &:hover{
                color: $first-main-color;
            }
        }
	}

	.mkd-post-info > div {
		display: inline-block;
		position: relative;
		padding-right: 15px;
	}

	&.mkd-blog-slider-one {

		.mkd-post-image {
			overflow:hidden;

			a {
				display:block;
				@include mkdTransition(all 0.3s ease-in-out);
			}

			&:hover {
				a {
					@include mkdTransition(all 0.5s cubic-bezier(0.32, 2.13, 0.47, 0.99));
					@include mkdTransform(scale(1.1));
				}
			}
		}

		.mkd-post-image-with-author {
			position: relative;
			overflow: hidden;
			padding-bottom: 12px;
			z-index: 1000;
		}
	 	.mkd-author-image {
	 		position: relative;
	 		@include mkdTransition(all .25s);
	 		-webkit-transform-origin: 0% 50%;
	 		transform-origin: 0% 50%;
	 	}
		.mkd-author-desc {
			position: absolute;
			left:0;
			bottom:-8px;
			width: 100%;
			@include mkdBoxSizing(border-box);
			padding: 0 36px;
			background-color: transparent;
			@include mkdTransition(bottom .25s ease-in-out, background-color .15s);
		}

		.mkd-author-name-holder {
			position: relative;
			.mkd-author-name {
		 		@include mkdTransition(opacity .1s .1s);
			}
			&:before {
			    content: 'Read More';
			    position: absolute;
			    width: 100px;
			    left: 0;
			    top: 5px;
			    color: #fff;
			    opacity: 0;
			    @include mkdTransition(opacity .0s);
			}
			&:after {
			    content: "\45";
			    font-family: ElegantIcons;
			    position: absolute;
			    top: 7px;
			    left: 68px;
			    color: #fff;
			    opacity: 0;
			    @include mkdTransition(opacity .0s, left .0s .1s);
			}
		}

		.mkd-post-text {
			position: relative;
			padding-top: 20px;
		}

		.mkd-post-image {
		}

		article:hover {
			.mkd-author-desc {
				bottom: 0;
				background-color: rgba(0,0,0,.25);
				pointer-events:none;
		 	}
		 	.mkd-author-image {
		 		top:11px;
		 		@include mkdTransform(scale(.65) translateZ(0));
		 	}
		 	.mkd-author-name {
		 		opacity: 0;
		 		@include mkdTransition(none);
		 	}
		 	.mkd-author-name-holder {
		 		left: -20px;
		 		top: -5px;
		 		&:before {
		 		    opacity: 1;
		 		    @include mkdTransition(opacity .15s .1s);
		 		}
		 		&:after {
				    left: 72px;
				    opacity: 1;
				    @include mkdTransition(opacity .15s .1s, left .25s ease-out .1s);
		 		}
		 	}
		}
	}

	.slick-slide {
		padding-left: 13px;
		padding-right: 13px;
	}

	.slick-list {
		margin: 0 -13px;
	}

    .slick-prev,
    .slick-next {
        position:absolute;
        top:50%;
        padding:0;
        width:50px;
        height: 50px;
        z-index: 100;
        @include mkdTransform(translateY(-50%));
        background-color: transparent;
        border: 0;
        color: transparent;
        text-indent: -9999px;
        cursor:pointer;
		outline:none;

        &:before {
            color:#999;
            position: absolute;
            top: 0px;
            font-size: 50px;
            height: 50px;
            line-height: 50px;
            width: 50px;
			font-family: 'ElegantIcons';
            text-align: center;
            text-indent: 0;
            visibility:visible;
            cursor:pointer;
        }
    }

    .slick-prev {
        right:100%;
        @include mkdTransform(translateY(-50%));

        &:before {
            left: -14px;
            content:"\34";
        }
    }

    .slick-next {
        left:100%;

        &:before {
            content:"\35";
            right: -14px;
        }
    }

	ul.slick-dots {
		position: absolute;
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
		margin-top: 32px;
	}

	.slick-dots li {
		position: relative;
		width: 12px;
		display: inline-block;
		height: 12px;
		padding: 0;
		cursor: pointer;
        margin: 0px 5px;
		background-color: transparent;
		border: 2px solid #999;

		@include mkdBorderRadius(50%);

		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 15px;
			height: 15px;
			padding: 3px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: transparent;

			&:before {
				font-family: 'slick';
				font-size: 50px;
				line-height: 40px;
				position: absolute;
				top: -10px;
				left: 0;
				width: 20px;
				height: 20px;
				content: '';
				text-align: center;
				opacity: .25;
				color: #000;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&.slick-active {
			background-color: #999999;
		}
	}
}