@include ipad-landscape {
	.mkd-blog-list-holder {
		&.mkd-four-columns > ul > li {
			width: 50%;
		}
	}
}

@include ipad-portrait {
	.mkd-blog-list-holder {
		&.mkd-two-columns > ul > li,
		&.mkd-three-columns > ul > li,
		&.mkd-four-columns > ul > li {
			width: 100%;
		}
	}

	.mkd-blog-list-holder.mkd-minimal .mkd-blog-list-item {
		padding: 10px 0 10px;
	}
}

@media only screen and (min-width: 769px) and (max-width: map-get($breakpoints, ipad-landscape)) {
	.mkd-blog-list-holder .mkd-item-info-section > div {
		display: block;
		padding: 0;
	}
}