.mkd-btn {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	outline: none;
	padding: 12px 26px;
	font-style: normal;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 1.7em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;

	cursor: pointer;

	@include mkdBorderRadius(3em);

	@include mkdTransition(color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out, background-position 0.3s ease, opacity .2s ease-out);
	@include mkdBoxSizing(border-box);

	.mkd-btn-icon-holder {
		.mkd-btn-icon-elem {
			vertical-align: middle;
            font-size: 1.5em;
		}
	}

	.mkd-btn-icon-holder,
	.mkd-btn-text {
		position: relative;
		z-index: 2;
	}

	&.mkd-btn-icon .mkd-btn-text {
		margin-right: 6px;
	}

	.mkd-btn-helper {
		position: absolute;
		z-index: 1;

		@include mkdTransition(all 0.25s ease-out);
	}

	/* #Button types styles - start
	   ========================================================================== */
	&.mkd-btn-solid {
		background-color: $first-main-color;
		border: 2px solid $first-main-color;
		color: #fff;
	}

	&.mkd-btn-outline {
		border: 2px solid $first-main-color;
		color: $first-main-color;
		background-color: transparent;
	}

	&.mkd-btn-white {
		border: 2px solid #fff;
		background-color: #fff;
	}

	&.mkd-btn-white-outline {
		border: 2px solid #fff;
		background-color: transparent;
		color: #fff;
	}

	&.mkd-btn-black {
		border: 2px solid #303030;
		color: #fff;
		background-color: #303030;
	}

	&.mkd-btn-gradient {
		color: #fff;
		padding: 14px 28px;
		border: none;
		span {
			color: #fff;
		}
		&:hover {
            color: #fff !important;
			border-color: transparent !important;
			span {
				color: #fff !important;
			}
			background-position: 100% center;
		}
	}

	&.mkd-btn-gradient-outline {
		background: gray;
		position: relative;
		z-index: 99;
		padding: 14px 30px;
		overflow: visible;
		@include mkdType1DiagonalGradient2x();
		background-position: 0;
		background-size: 200% 200%;

		.mkd-btn-gradient-background {
			content: '';
			position: absolute;
			top: 2px;
			left: 2px;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			border-radius: 2em;
			background: white;
		}

		&:hover {
			background-position: 100% center;
		}
	}

	&.mkd-btn-transparent {
		min-width: 0!important;
        letter-spacing: 0;
        text-transform: none;

		.mkd-btn-icon-holder .mkd-btn-icon-elem {
			font-size: 1.2em;
		}

		&.mkd-btn-icon {
			.mkd-btn-icon-holder {
				left:0;
				@include mkdTransition(left .25s);
			}
		}
		&:hover {
			opacity:.85;
			.mkd-btn-icon-holder {
				left:3px;
			}
		}
	}

	/* #Button types styles - end
	   ========================================================================== */

	/* #Button hover types styles - start
    ========================================================================== */
	&.mkd-btn-hover-outline {
		&:not(.mkd-btn-custom-hover-color):not(.mkd-btn-transparent):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: $first-main-color !important;
		}

		&:not(.mkd-btn-custom-hover-bg):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: transparent !important;
		}

		&:not(.mkd-btn-custom-border-hover):not(.mkd-btn-gradient):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: $first-main-color !important;
		}
	}

	&.mkd-btn-hover-solid {
		&:not(.mkd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.mkd-btn-custom-hover-bg):not(.mkd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: $first-main-color !important;
		}

		.mkd-btn-helper {
			background-color: $first-main-color;
		}

		&:not(.mkd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: $first-main-color !important;
		}
	}

	&.mkd-btn-hover-white {
		&:not(.mkd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: $first-main-color !important;
		}

		&:not(.mkd-btn-custom-hover-bg):not(.mkd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: #fff !important;
		}

		.mkd-btn-helper {
			background-color: #fff;
		}

		&:not(.mkd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #fff !important;
		}
	}

	&.mkd-btn-hover-white-outline {
		&:not(.mkd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.mkd-btn-custom-hover-bg):not(.mkd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: transparent !important;
		}

		&:not(.mkd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #fff !important;
		}
	}

	&.mkd-btn-hover-black {
		&:not(.mkd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.mkd-btn-custom-hover-bg):not(.mkd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: #303030 !important;
		}

		.mkd-btn-helper {
			background-color: #303030;
		}

		&:not(.mkd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #303030 !important;
		}
	}

	/* #Button hover types styles - end
	========================================================================== */

	/* #Button sizes styles - start
	   ========================================================================== */
	&.mkd-btn-small {
		font-size: 11px;
		padding: 14px 26px;
		min-width: 95px;
		font-weight: 600;

		&.mkd-btn-icon .mkd-btn-text {
			margin-right: 2px;
		}

		&.mkd-btn-gradient,
		&.mkd-btn-gradient-outline {
			padding: 16px 28px;
		}
	}

	&.mkd-btn-medium {
		//same as default
		min-width: 145px;
	}

	&.mkd-btn-large {
		font-size: 15px;
		padding: 15px 37px;
		min-width: 165px;

		&.mkd-btn-gradient,
		&.mkd-btn-gradient-outline {
			padding: 17px 39px;
		}
	}

	&.mkd-btn-huge {
		min-width: 190px;
		font-size: 20px;
	}

	&.mkd-btn-huge,
	&.mkd-btn-huge-full-width {
		font-size: 22px;
		padding: 18px 60px;

		&.mkd-btn-gradient,
		&.mkd-btn-gradient-outline {
			padding: 20px 60px;
		}
	}

	&.mkd-btn-huge-full-width {
		display: block;
		text-align: center;
	}
	/* #Button sizes styles - end
	   ========================================================================== */

	/* #Hover animations - start
	   ========================================================================== */
	&.mkd-btn-fill-from-top {
		.mkd-btn-helper {
			width: 100%;
			height: 0;
			top: 0;
			left: 0;
		}

		&:hover .mkd-btn-helper {
			height: 100%;
		}
	}

	&.mkd-btn-fill-from-left {
		.mkd-btn-helper {
			width: 0;
			height: 100%;
			top: 0;
			left: 0;
		}

		&:hover .mkd-btn-helper {
			width: 100%;
		}
	}

	&.mkd-btn-fill-from-right {
		.mkd-btn-helper {
			width: 0;
			height: 100%;
			top: 0;
			right: 0;
		}

		&:hover .mkd-btn-helper {
			width: 100%;
		}
	}

	/* #Hover animations - end
	   ========================================================================== */
}

.woocommerce .button,
.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit {
	@extend .mkd-btn;
	@extend .mkd-btn-solid;
	@extend .mkd-btn-medium;
	@extend .mkd-btn-hover-outline;
}

input.wpcf7-form-control.wpcf7-submit {
	padding-left: 31px;
	padding-right: 31px;
}
