/* ==========================================================================
# Call to action style - begin
========================================================================== */

.mkd-call-to-action {

	.mkd-btn.mkd-btn-hover-solid:not(.mkd-btn-custom-border-hover):hover {
		border-color: #303030 !important;
	}

	position: relative;
	display: block;
	background-color: transparent;

	@include mkdBoxSizing(border-box);

	.mkd-call-to-action-row-75-25,
	.mkd-call-to-action-row-50-50,
	.mkd-call-to-action-row-66-33 {
		display: table;
		width: 100%;

		@include mkdBoxSizing(border-box);
	}

	.mkd-call-to-action-row-75-25 .mkd-call-to-action-column1 {
		width: 75%;
	}

	.mkd-call-to-action-row-75-25 .mkd-call-to-action-column2 {
		width: 25%;
	}

	.mkd-call-to-action-row-50-50 .mkd-call-to-action-column1,
	.mkd-call-to-action-row-50-50 .mkd-call-to-action-column2 {
		width: 50%;
	}

	.mkd-call-to-action-row-66-33 .mkd-call-to-action-column1 {
		width: 66%;
	}

	.mkd-call-to-action-row-66-33 .mkd-call-to-action-column2 {
		width: 34%;
	}

	.mkd-call-to-action-column2 {
		text-align: right;
	}

	.mkd-call-to-action-cell {
		display: table-cell;
		vertical-align: middle;
	}

	.mkd-text-wrapper .mkd-call-to-action-icon-holder {
		position: absolute;
		height: 100%;
		top: 0;
	}

	.mkd-text-wrapper .mkd-call-to-action-icon {
		display: table;
		height: 100%;

		.mkd-call-to-action-icon-inner {
			display: table-cell;
			height: 100%;
			vertical-align: middle;

			.mkd-call-to-action-icon {
				color: #8b8b8b;
				font-size: 40px;
				display: inline;
			}

		}
	}

}

.mkd-call-to-action {

	h2 {
		margin-bottom: 0;
	}

	h3 {
		margin-bottom: 0;
	}

	&.with-icon {

		.mkd-text-wrapper .mkd-call-to-action-text {
			padding: 0 20px 0 70px;
		}
	}

	.mkd-call-to-action-text {
		font-size: 37px;
		line-height: 1em;
		font-weight: 700;
		letter-spacing: -0.02em;
	}
}

/* ==========================================================================
# Call to action style - end
========================================================================== */