/* ==========================================================================
# Counter style - begin
========================================================================== */

.mkd-counter-holder {
	display: block;
	opacity: 0;
	@include mkdTransition(opacity 0.3s ease-in);
	padding: 20px 0;

	&.mkd-counter-light {
		.mkd-counter-icon,
		.mkd-counter,
		.mkd-counter-title,
		.mkd-counter-text {
			color: #fff;
		}

	}

	&.mkd-counter-dark {
		.mkd-counter-icon,
		.mkd-counter,
		.mkd-counter-title,
		.mkd-counter-text {
			color: #000;
		}

	}

    &.mkd-counter-gradient-icon {
        .mkd-counter-icon {
            i, i:before, span {
                @include mkdType1DiagonalGradient('true');
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: $type1-gradient-first-color;
            }
        }
    }

	.mkd-counter {
		font-size: 60px;
		line-height: 1em;
		font-weight: 600;
		overflow: hidden;
		color: #3e3e3e;
		font-family: $headings-font-family;
		display: inline-block !important;
		height: 1em;
	}

	.mkd-counter-title {
		margin-top: 0;
	}

	.mkd-counter-text {
		margin: 5px 0 0 0;
		color: #323232;
		font-size: 20px;
	}

	.mkd-counter-icon {
		font-size: 48px;
		margin-bottom: 20px;
	}

}

.mkd-counter-holder-show {
	opacity: 1;
}

.mkd-counter-holder.left {
	text-align: left;
}

.mkd-counter-holder.right {
	text-align: right;
}

.mkd-counter-holder.center {
	text-align: center;
	padding: 20px 20px;
}

/* ==========================================================================
# Counter style - end
========================================================================== */