.mkd-icon-shortcode {
	$transition-duration: 0.15s;
	display: inline-block;

	&.circle,
	&.square {
		background-color: $first-main-color;
		width: 2em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		margin-right: 9px;

		@include mkdTransition(
				background-color $transition-duration ease-in-out,
				border-color $transition-duration ease-in-out
		);

		a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}

		.mkd-icon-element {
			color: #fff;
			line-height: inherit;
			width: 100%;
			height: 100%;
			display: inline-block;
		}
	}

	&.circle {
		@include mkdBorderRadius(50%);
	}

	.mkd-icon-element {
		@include mkdTransition(color $transition-duration ease-in-out);
	}

    .mkd-icon-linea-icon{
        padding-left: 1px; //chrome cut off fix
    }
}

.mkd-icon-animation-holder {
	@include mkdTransform(scale(0));
	@include mkdTransition(transform 0.15s ease-in-out);
	display: inline-block;

	&.mkd-icon-animation-show {
		@include mkdTransform(scale(1));
	}
}

.mkd-icon-tiny {
	font-size: 1.33333333em;
	line-height: .75em;
	vertical-align: -15%;
}

.mkd-icon-small {
	font-size: 2em;
}

.mkd-icon-medium {
	font-size: 3em;
}

.mkd-icon-large {
	font-size: 4em;;
}

.mkd-icon-huge {
	font-size: 5em;
}