/* ==========================================================================
# Icon List Item style - begin
========================================================================== */
.mkd-icon-list-item {
	width: 100%;
	position: relative;
	margin-bottom: 10px;

	.mkd-icon-list-icon-holder {
		display: table-cell;
		vertical-align: middle;
		min-width: 13px;
	}

	.mkd-icon-list-icon-holder-inner i,
	.mkd-icon-list-icon-holder-inner span,
	.mkd-icon-list-icon-holder-inner .font_elegant {
		display: block;
		color: $first-main-color;
		font-size: 14px;
		text-align: center;
		line-height: initial;
	}

	.mkd-icon-list-text {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		padding-left: 14px;
		font-size: 16px;
		color: #777;
		font-weight: 400;
	}

	&.mkd-icon-list-item-headings-font-family .mkd-icon-list-text {
		font-family: $headings-font-family;
	}

	.mkd-top-bar & {
		display: block;
		height: auto;
		margin-bottom: 0;

		.mkd-icon-list-text {
			padding-left: 13px;
			font-size: 13px;
			color: #999;
			font-weight: 400;
		}

		.mkd-icon-list-icon-holder-inner i,
		.mkd-icon-list-icon-holder-inner .font_elegant {
			color: $first-main-color;

			.mkd-top-bar-light & {
				color: $header-light-color;
			}

			.mkd-top-bar-dark & {
				color: $header-dark-color;
			}
		}
	}
}

/* ==========================================================================
# Icon List Item style - end
========================================================================== */

