/* ==========================================================================
# Pricing table style - begin
========================================================================== */

.mkd-pricing-tables.mkd-two-columns .mkd-price-table {
	width: 50%;
}

.mkd-pricing-tables.mkd-three-columns .mkd-price-table {
	width: 33.33%;
}

.mkd-pricing-tables.mkd-four-columns .mkd-price-table {
	width: 25%;
}

.mkd-price-table {
	position: relative;
	width: 100%;
	padding: 0;
	padding: 0 14px;
	float: left;

	@include mkdBoxSizing(border-box);

	&:first-child {
		margin-left: 0;
	}
}

.mkd-price-table .mkd-price-table-inner {
	background-color: rgba(255,255,255,.75);
	text-align: center;
	padding: 57px 20px 70px;
	border:1px solid #f2f2f2;

	@include mkdBoxShadow($shadow);
	@include mkdBoxSizing(border-box);

	ul {
		position: relative;
		z-index: 10;
		list-style-type: none;
		padding: 0;
		margin: 4px 0;
	}

	.mkd-title-content,
	.mkd-price {
		color: #4b4b4b;
		margin: 0;
	}

	.mkd-price sup {
		font-size: 0.5em;
		bottom: 0.9ex;
		left: 0.5ex;

	}

	.mkd-title-content {
		letter-spacing: -0.03em;
	}

	.mkd-table-title {
		margin-bottom: 16px;
	}

	.mkd-price-in-table {
		margin-bottom: 22px;
	}

	.mkd-pt-price-period {
		font-family: $headings-font-family;
		font-size: 20px;
		color: #4b4b4b;
		font-weight: 600;
	}

	.mkd-table-content {
		margin-top: 32px;

		font-size: 18px;
		font-weight: 400;
		color: #808080;
		line-height: 30px;
	}

	.mkd-price-button {
		margin-top: 52px;
	}
}

.mkd-price-table.mkd-pt-active {

	.mkd-price-table-bgrnd-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		@include mkdTransition(all .6s);
	}
	&:hover {
		.mkd-price-table-bgrnd-overlay {
			@include mkdTransform(scaleY(2));
			top:50%;
		}
	}
	.mkd-price-table-inner {
		background-color: #fff;
		position: relative;
		overflow: hidden;
		color: #808080;

		.mkd-title-content,
		.mkd-pt-price-period {
			color: #4b4b4b;
		}

		.mkd-price,
		.mkd-price sup {
			@include mkdType1DiagonalGradient('true');
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: $type1-gradient-first-color;
		}

		.mkd-pt-label-inner {
			background-color: #fff;
			color: #545454;
		}
	}
}

/* ==========================================================================
# Pricing table style - end
========================================================================== */