.mkd-process-holder {
	position: relative;

	.mkd-process-inner {
		@include mkdClearfix;
	}

	.mkd-number-holder-inner {
		font-size: 100px;
		font-weight: 600;
		color: #fff;
		position: relative;
		height: 170px;
		width: 170px;
		line-height: 170px;
		top: 10px;
		background-color: $first-main-color;
		margin: 0 auto;
		background-size: cover;
		background-position: center;

		@include mkdBorderRadius(50%);

		span {
			position: relative;
			z-index: 999;
		}

		&:after {
			position: absolute;
			content: '';
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			border-radius: 100%;
            @include mkdType1DiagonalGradient('false');
            @include mkdTransition(opacity .15s ease-out);
		}
	}

	.mkd-process-background-image {
		.mkd-number-holder-inner {
			background-color: transparent;
		}
	}

    .mkd-process-gradient-hover {
        .mkd-number-holder-inner:hover {
            &:after {
                opacity: .35;
            }
        }
    }

	.mkd-process-bg-holder {
		position: absolute;
		top: 97px;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('img/process-bg.png') no-repeat 50% 0;
		z-index: -1;
		opacity: 0;
		margin: 0 10px;
	}

	.mkd-process-item-holder {
		text-align: center;
		float: left;
		width: 25%;

		.mkd-pi-content-holder {
			margin: 0 20px;
		}


		.no-touch & {
			opacity: 0;
		}

		.mkd-pi-holder-inner {
			margin: 0 auto;

		}

		&.mkd-pi-push-right {
			.mkd-pi-holder-inner {
				float: right;
			}
		}
	}

	&.mkd-process-holder-items-three {
		.mkd-process-item-holder {
			width: 33.33%;
		}
	}

	&.mkd-process-multiple-highlights {
		.mkd-pi-holder-inner {
			width: 100%;
		}
	}

	.mkd-pi-title-holder {
		margin-bottom: 7px;
	}

	.mkd-pi-title {
		margin-bottom: 18px;
		margin-top: 54px;
	}

	.mkd-pi-text-holder {
		p {
			margin: 0;
		}
	}

	.mkd-pi-image-holder {
		background-color: #fff;

		display: inline-block;
		width: 214px;
		height: 214px;
		border: 1px dashed #ebebeb;
		padding: 10px;
		margin-bottom: 20px;

		overflow: hidden;

		@include mkdBorderRadius(50%);
		@include mkdBoxSizing(border-box);

		img {
			vertical-align: middle;
			width: 100%;
		}
	}
}