
/* ==========================================================================
   Progress bar shortcode start styles
   ========================================================================== */
.mkd-progress-bar {
    position: relative;
    margin: 0 0 12px;
    width: 100%;
    overflow: hidden;
    text-align: left;
    
    .mkd-progress-title-holder {
        position: relative;
        margin-bottom: 12px;
        
        .mkd-progress-title {
            display: inline-block;
            z-index: 100;
        }
    }

    .mkd-progress-number-wrapper {
        text-align: right;
        position: absolute;
        right: 0;
        z-index: 10;
        opacity: 0;
        bottom: 0;
        
        .mkd-progress-number {
            font-size: 20px;
            font-weight: 700;
            color: #3e3e3e;
            display: inline-block;
            text-align: center;
            float: right;
        }

        .mkd-progress-number .mkd-percent:after {
            content: '%';
            margin-left: 0.1em;
            font-size: 1em;
        }
        
    }

    .mkd-progress-number-wrapper.mkd-floating {
        width: 100%;
        height: 100%;
        
        .mkd-progress-number {
            position:absolute;
            @include mkdTransform(translateX(-50%));
            bottom: 0;
        }

        .mkd-down-arrow {
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 3px solid $first-main-color;
            display: block;
            position: absolute;
            left: 50%;
            top: 100%;
            @include mkdTransform(translateX(-50%));
        }
        
    }
    
    .mkd-progress-number-wrapper.mkd-floating-inside .mkd-progress-number {
        @include mkdTransform(translateX(-100%));
        height: 16px;
        line-height: 16px;
        
        .mkd-percent {
            display: inline-block;
        }
    }

    .mkd-progress-content-outer {
        background-color: #f2f2f2;
        position: relative;
        overflow: hidden;
        height: 9px;
        
        .mkd-progress-content {
            max-width: 100%;
            overflow: hidden;
            height: 9px;
            border: 0;
            width: 0%; /* initial state */
            background-color: $first-main-color;

			@include mkdBoxSizing(border-box);
        }
    }
}
/* ==========================================================================
   Progress bar shortcode end styles
   ========================================================================== */