.mkd-section-title-holder {
	.mkd-section-title {
		text-transform: none;
		margin-top: 0;
		margin-bottom: 25px;
		line-height: 62px;
		letter-spacing: -0.02em;

		.mkd-section-highlighted {
			color: $first-main-color;
		}

		&.mkd-section-title-large {
			font-size: 72px;
			line-height: 82px;
			margin-bottom: 18px;
		}

		&.mkd-section-title-medium {
			font-size: 30px;
		}

		&.mkd-section-title-small {
			font-size: 26px;
		}
	}
}

.mkd-section-subtitle-holder {
	.mkd-section-subtitle {
		font-size: 18px;
		line-height: 33px;
		margin: 0;
		color: #777;
	}
}