.mkd-separator-with-icon-holder {
	position: relative;

	.mkd-separator-left {
		float: left;
		width: calc((100% - 115px) / 2);
	}

	.mkd-separator-right {
		float: right;
		width: calc((100% - 115px) / 2);
	}

	.mkd-icon-holder {
		display: inline-block;
		background-color: #fff;
		height: 75px;
		width: 75px;
		font-size: 30px;
		line-height: 75px;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		border: 1px solid #eee;

		@include mkdTransform(translateX(-50%) translateY(-50%));
		@include mkdBorderRadius(50%);
		@include mkdBoxShadow($shadow);

		.mkd-icon-simple-line-icon {
			line-height: inherit;
		}

	}

}