/* ==========================================================================
# Social Share style - begin
========================================================================== */

.mkd-social-share-holder {
	
	ul {
		list-style: none;
		display: inline-block;
		margin: 0;
	}
	
}

.mkd-share-label {
	font-size: 14px;
	font-weight: 600;
	color: #999;
	font-family: $headings-font-family;
	margin-right: 8px;
}

/* List type - begin
========================================================================== */


.mkd-social-share-holder.mkd-list {
	font-size: 15px;

	li {
		display: inline-block;

		a {
			color: #999;
			padding: 0 7px;

			&:hover {
				color: $first-main-color;
			}
		}

		&:first-child a {
			padding-left: 0;
		}

		&:last-child a {
			padding-right: 0;
		}
	}

}

/* List type - end
========================================================================== */

/* Dropdown type - begin
========================================================================== */

.mkd-social-share-holder.mkd-dropdown {
	position: relative;
	display: inline-block;

	.mkd-social-share-dropdown-opener {
		display: block;
	}

	.mkd-social-share-title {
		display: inline-block;
		margin-left: 5px;
	}

	.mkd-social-share-dropdown {
		visibility: hidden;
		z-index: 950;
		float: left;

		ul {
			position: relative;
			display: block;
			z-index: 990;
			padding: 0 !important;
			min-width: 50px;
			font-weight: 400;
		}

		ul li {
			visibility: hidden;
			position: absolute;
			text-align: center;
			min-width: 50px;
			float:left;
			opacity: 0.2;
			@include mkdTransition(all 0.2s ease-out);
		}

		img {
			width: 8px;
			margin-right: 10px;
		}

	}

}

.mkd-social-share-holder.mkd-dropdown:hover {

	.mkd-social-share-dropdown ul li {
		opacity: 1;
		visibility: visible;
		cursor: pointer;
	}

	.mkd-social-share-dropdown ul li {

		&:nth-child(2) {
			left: 50px;
			transition-delay: .1s;
		}

		&:nth-child(3){
			left: 100px;
			transition-delay: .2s;
		}

		&:nth-child(4){
			left: 150px;
			transition-delay: .3s;
		}

		&:nth-child(5){
			left: 200px;
			transition-delay: .4s;
		}

		&:nth-child(6){
			left: 250px;
			transition-delay: 0.5s;
		}

		&:nth-child(7){
			left: 300px;
			transition-delay: 0.6s;
		}

	}

}

/* Dropdown type - end
========================================================================== */

/* ==========================================================================
# Social Share style - end
========================================================================== */








