@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {
	.mkd-tabs.mkd-vertical .mkd-tabs-nav, .mkd-tabs.mkd-vertical .mkd-tab-container {
		width: 100% !important;
	}

	.mkd-tabs .mkd-tabs-nav {
		overflow: visible;
	}

	.mkd-tabs .mkd-tabs-nav li:not(.mkd-tab-line),
	.mkd-tabs.mkd-horizontal .mkd-tabs-nav li:not(.mkd-tab-line) {
		float: none;
		display: block;
	}

	.mkd-tabs.mkd-horizontal .mkd-tab-container {
		border-top: 0;
	}

	.mkd-tabs.mkd-vertical .mkd-tab-container {
		padding: 35px 0;
	}
}

@media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {
	.mkd-tabs.mkd-horizontal .mkd-tab-container, .mkd-tabs.mkd-vertical .mkd-tab-container {
		background-image:none!important;
		padding: 0 !important;
	}
}

@media only screen and (max-width: map-get($breakpoints, large-laptop)) {
	.mkd-tabs.mkd-horizontal .mkd-tabs-nav li:first-child {
		border-left: 0;
	}
	.mkd-tabs.mkd-horizontal .mkd-tabs-nav li a {
		border-top: 0;
	}
}