/* ==========================================================================
# Team style - begin
========================================================================== */

/* Team type main info on hover - begin
========================================================================== */

.mkd-team {

	&.main-info-on-hover {

		.mkd-team-name {
			color: #fff;
			margin-top: 0;
			margin-bottom: 15px;
			@include mkdTransform(translateY(-35px));
			opacity:0;
			-webkit-transition: -webkit-transform .0s .3s, opacity .3s;
			transition: transform .0s .3s, opacity .3s;
		}

		.mkd-team-social-wrapp {
			margin: 17px 0 0 0;
		}

		.mkd-team-text {
			padding: 0;
			color: #fff;
		}

		.mkd-team-social-wrapp span a {
			font-size: 20px;
			color: #fff;
			margin-right: 16px;
		}

		.mkd-team-position {
			color: #fff;
			margin-top: -5px;
			margin-bottom: 0px;
			@include mkdTransform(translateY(-35px));
			opacity: 0;
			-webkit-transition: -webkit-transform .0s .3s, opacity .3s;
			transition: transform .0s .3s, opacity .3s;
		}

		.mkd-team-image img {
			width: 100%;
			vertical-align: middle;
		}

		.mkd-team-social {
			position: relative;
		}

		.mkd-team-social-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;

			@include mkdTransform(translateX(-50%) translateY(-50%));
		}

		.mkd-team-social-wrapp {
			@include mkdTransform(translateY(-35px));
			opacity: 0;
			-webkit-transition: -webkit-transform .0s .3s, opacity .3s;
			transition: transform .0s .3s, opacity .3s;
		}

		&:hover {
			.mkd-team-name,
			.mkd-team-position,
			.mkd-team-social-wrapp {
				opacity:1;
				@include mkdTransform(translateY(0));
				@include mkdTransition(all .25s ease-out);
			}

		}
	}

	.mkd-team-image {
		position: relative;
	}

	.mkd-team-description {
		display: table;
		width: 100%;
		height: 100%;
	}

	.mkd-team-text {
		padding: 20px 0 20px;
	}

	.mkd-team-social-wrapp {
		margin: 30px 0 0 0;

		span a {
			color: #999;
			@include mkdTransition(color 0.05s ease-out);
		}

		.mkd-icon-shortcode.circle, .mkd-icon-shortcode.square {
			width: 1.6em;
			height: 1.6em;
			line-height: 1.6em;
		}
	}

	.mkd-team-social {
		display: table;
		width: 100%;
		height: 100%;

		.mkd_icon_ion_icon:before,
		.mkd_icon_linea_icon:before {
			line-height: inherit;
		}

	}

	.mkd-team-social-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		position: relative;
	}

	.mkd-team-hover {
		background-color: $first-main-color;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		@include mkdTransition(opacity 0.45s ease-out);
	}

	.mkd-team-social-holder {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		display: table-cell;
		vertical-align: middle;
		@include mkdTransition(opacity .45s ease-out);
		@include mkdTransform(translateZ(0px));

		.social_icon {
			font-size: inherit;
			line-height: inherit;
		}

		.social_icon {
			display: block;

			&:before {
				display: block;
			}

		}

	}

	&:hover {

		.mkd-team-social-holder {
			opacity: 1;
			filter: alpha(opacity=100);
		}
		.mkd-team-hover {
			opacity: 0.55;
			filter: alpha(opacity=65);
		}
	}

}

.touch .mkd-team .mkd-team-social-holder {
	cursor: pointer;
}

/* Team type main info on hover - end
========================================================================== */

/* Team type main info below image - begin
========================================================================== */

.mkd-team.main-info-below-image {
	-webkit-transform: translateZ(0);

	.mkd-team-inner {
		text-align:center;
	}

	.mkd-team-image {
		display:inline-block;
	}

	&.mkd-team-boxed {
		background-color: rgba(72,72,72,.5);
		padding: 34px 5px 26px 5px;

		.mkd-team-name {
			color: #999;
		}

		.mkd-team-social-wrapp span a:hover  {
			color: $first-main-color;
		}
	}

	.mkd-team-info {
		text-align: center;

		.mkd-team-name {
			margin-bottom: 4px;
			margin-top: 40px;
		}

		.mkd-team-name.light {
			color: #fff;
		}

		.mkd-team-description.light p {
			color: #fbfbfc;
		}

		.mkd-team-social-inner {
			.mkd-icon-shortcode {
				margin: 0 7px;
			}
		}

		.mkd-team-position {
			font-size: 16px;
			color: #999;
			display: inline-block;
			padding: 0px 14px 0px 14px;
			margin: 0;
			@include mkdBorderRadius(25px);
		}

	}

	.mkd-team-image {
		overflow: visible;
		text-align: center;
		margin-bottom: 15px;

		img {
			vertical-align: middle;
			position: relative;
			z-index: 2;
			border: 4px solid transparent;
			@include mkdBoxSizing(border-box);
			@include mkdBorderRadius(50%);
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			@include mkdTransform(scale(0.95));
			@include mkdTransition(all .2s ease-in-out);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include mkdType1DiagonalGradient('false');
			border-radius: 50%;
			z-index: 1;
			@include mkdTransform(scale(0.97));
			@include mkdTransition(all .2s ease-in-out);
		}

		&:hover {
			img {
				@include mkdTransform(scale(1));
			}
			&:after {
				@include mkdTransform(scale(1.04));
			}
		}

	}

	.mkd-team-social-wrapp ul {
		list-style: none;
		position: relative;
		display: block;
		z-index: 990;
	}

	.mkd-team-social-wrapp a:hover  {
		color: $first-main-color;
	}

	.mkd-team-social-wrapp ul li {

		&:first-child {
			bottom: 56px; /* social share icon + space between icons */
			transition-delay: .5s;
		}

		&:nth-child(2) {
			bottom: 102px; /* previous icon position + icon height + space between icons */
			transition-delay: .4s;
		}

		&:nth-child(3) {
			bottom: 148px; /* previous icon position + icon height + space between icons */
			transition-delay: .3s;
		}

		&:nth-child(4) {
			bottom: 194px; /* previous icon position + icon height + space between icons */
			transition-delay: .2s;
		}

		&:nth-child(5) {
			bottom: 240px; /* previous icon position + icon height + space between icons */
			transition-delay: .1s;
		}

	}

	.mkd-team-social.normal-social .mkd-team-social-wrapp ul li {

		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		opacity: 0;
		-webkit-transition: opacity .03s ease-out, position .1s ease-out;
		transition: opacity .03s ease-out, position .1s ease-out;

		&:first-child {
			bottom: 50px;
		}

		&:nth-child(2) {
			bottom: 90px;
		}

		&:nth-child(3) {
			bottom: 130px;
		}

		&:nth-child(4) {
			bottom: 170px;
		}

		&:nth-child(5) {
			bottom: 210px;
		}

	}

	.mkd-team-info {
		margin-top: 0;
		padding: 0px 20px 10px 20px;
	}

	.mkd-team-text {
		padding: 0;
	}

	&:hover {

		.mkd-team-social-wrapp ul li {
			opacity: 1;
			cursor: pointer;

			&:first-child {
				transition-delay: .1s;
			}

			&:nth-child(2) {
				transition-delay: .2s;
			}

			&:nth-child(3) {
				transition-delay: .3s;
			}

			&:nth-child(4) {
				transition-delay: .4s;
			}

			&:nth-child(5) {
				transition-delay: .5s;
			}

		}

		.mkd-team-image img {
			-webkit-filter: none;
			filter: none;
		}

	}
	.mkd-team-social-wrapp.light .mkd-icon-shortcode.circle,
	.mkd-team-social-wrapp.light .mkd-icon-shortcode.square {
		background-color: transparent;
		border: 1px solid #474747;
		margin-right: 5px;
	}

	.mkd-icon-shortcode.circle .mkd-icon-element,
	.mkd-icon-shortcode.square .mkd-icon-element {
		font-size: 11px;
	}

	.mkd-team-description {
		margin-top: 15px;
	}

}

/* Team type main info below image - end
========================================================================== */

/* ==========================================================================
# Team style - end
========================================================================== */