.mkd-team-slider-holder {
	padding-bottom: 60px;

	.slick-track {
		padding-bottom: 40px;
	    padding-top: 40px;
	}

	&.mkd-without-bullets {
		padding-bottom: 0;
		.slick-track {
			padding:0;
		}
	}

	.mkd-team-slider {
		opacity: 0;
	}

	&.mkd-nav-light .slick-slider .slick-dots li {

		&.slick-active button:before {
			color: $first-main-color !important;
		}

		button:before {
			color: #fff !important;
		}
	}

	.mkd-team-item-wrapper {
		padding: 0 12px;
	}

	.slick-list {
		margin: 0 -12px;
		padding: 0;
	}

	.mkd-team.main-info-below-image {
		background-color: #fff;
		padding: 32px 0 27px;
		text-align: center;
	}

	.slick-slide img {
		display: inline-block;
	}

	button.slick-next.slick-arrow,
	button.slick-prev.slick-arrow {
		display: none !important;
	}

	ul.slick-dots {
		position: absolute;
		bottom: -48px;
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	.slick-dots li {

		position: relative;
		width: 20px;
		display: inline-block;
		height: 20px;
		padding: 0;
		cursor: pointer;
        margin: 0px 1px;

		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 20px;
			height: 20px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: transparent;

			&:before {
				font-family: 'slick';
				font-size: 50px;
				line-height: 40px;
				position: absolute;
				top: -10px;
				left: 0;
				width: 20px;
				height: 20px;
				content: '•';
				text-align: center;
				opacity: .25;
				color: #000;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&.slick-active button:before {
			opacity: 1;
			color: $first-main-color !important;
		}

	}

	.mkd-team.main-info-below-image.mkd-team-boxed {
		@include mkdBoxShadow(none); //add the desired box shadow inline
	}

	.mkd-team.main-info-below-image.mkd-team-flip {
		position: relative;
		-webkit-perspective: 1000;
		-moz-perspective: 1000px;
		perspective: 1000px;
		background-color: transparent;
		padding:0;
		@include mkdBoxShadow(none); //add the desired box shadow inline


		>div {
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			outline: 1px solid transparent; //moz pixelation fix
		}

		.mkd-team-front {
			opacity: 1;
			@include mkdTransform(rotateY(0deg));
			@include mkdTransition(all .6s cubic-bezier(0.25, 0.1, 0.11, 1.33));
			background-color: #fff;
			padding: 50px 0 55px;
			.mkd-team-info {
				padding:0 20px;
			}
		}

		.mkd-team-back {
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left: 0;
		    opacity:0;
		    @include mkdTransform(rotateY(-180deg));
		    -webkit-transition: -webkit-transform .6s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .35s;
		    transition: transform .6s cubic-bezier(0.25, 0.1, 0.11, 1.33), opacity .35s;
			background-color: $first-main-color;
			background-size:cover;
			background-repeat: no-repeat;

			a {
				color: inherit;
				@include mkdTransition(opacity .2s);
				&:hover {
					opacity: .85;
				}
			}

			.mkd-team-back-table {
				@include mkdTableLayout();
			}
			.mkd-team-back-cell {
				@include mkdTableCellLayout();
				ul {
					display: inline-block;
					list-style: none;
					text-align: left;
				}
			}
			.mkd-team-back-title {
				> h5,
				> i {
					color: inherit;
				}

				>i {
					font-size:24px;
				}

				>h5 {
					margin-bottom:40px;
				}
			}

			.mkd-team-phone {
				margin-bottom: 10px;
			}

			.mkd-team-mail {
				margin-bottom: 15px;
			}

			.mkd-icon-shortcode {
			    margin: 0 7px;
			}
		}

		&:hover {
			.mkd-team-front {
				@include mkdTransform(rotateY(180deg));
				opacity: 0;
			}
			.mkd-team-back {
			    @include mkdTransform(rotateY(0deg));
			    opacity:1;
			}
		}
	}

}