/* ==========================================================================
   Section Title Type Out start
   ========================================================================== */
.mkd-typed-wrap {
    width:0;
    white-space: nowrap;
    padding: 0px 10px 5px;
    visibility: hidden;
    opacity:0;
    &.mkd-typing {
        visibility: visible;
        opacity:1;
    }

    .typed-cursor{
        display: inline-block;
        position: relative;
        top: -3px;
        opacity: 1;
        -webkit-animation: blink 0.8s ease infinite;
        animation: blink 0.8s ease infinite;
    }

    @-webkit-keyframes blink{
        0% { opacity:1; filter: alpha(opacity=100); }
        50% { opacity:0; filter: alpha(opacity=0); }
        100% { opacity:1; filter: alpha(opacity=100); }
    }

    @keyframes blink{
        0% { opacity:1; filter: alpha(opacity=100); }
        50% { opacity:0; filter: alpha(opacity=0); }
        100% { opacity:1; filter: alpha(opacity=100); }
    }

    .mkd-typed {
        display: inline-block;

        span {
            display: none; //remove initial strings
        }
    }
}
/* ==========================================================================
   Section Title Type Out end
   ========================================================================== */