/* ==========================================================================
   Video Button shortcode start styles
   ========================================================================== */
.mkd-video-button-play {
	width: 2.25em;
	height: 2.25em;
	display: block;
	line-height: 2.25em;
	font-size: 40px;
	margin: 0 auto;


	.mkd-video-button-wrapper {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		color: $first-main-color;
		@include mkdTransition(background-color .15s ease, color .15s ease);
		@include mkdBorderRadius(50%);
		border: 2px solid $first-main-color;

		span, i {
			position: absolute;
			top: 50%;
			left: 50%;
			@include mkdTransform(translate(-40%, -50%));
		}
	}
}

.mkd-video-button {
	will-change:transform;
    @include mkdTransition(all .3s cubic-bezier(.25,.1,.11,1.33));
	&:hover {
		@include mkdTransform(scale(1.2));
	}
}

.mkd-video-button.mkd-light {
	.mkd-video-button-title,
	.mkd-video-button-wrapper {
		color: #fff;
		border-color: #fff;
	}
}

.mkd-video-button-title {
	text-align: center;
	margin-top: 20px;
}

/* ==========================================================================
   Video Button shortcode end styles
   ========================================================================== */