@include large-laptop {
	.mkd-zooming-slider-holder {
		.mkd-zooming-slider-item-content {
			margin: 20px;
		}
	}
}

@include laptop-landscape {
    .mkd-zooming-slider-holder {
        .mkd-zooming-slider-item-content {
            margin: 30px;
        }
    }
}

@include ipad-portrait {
    .mkd-zooming-slider-holder {
        margin: 0 !important;
    }
}