.mkd-blog-holder {

	&.mkd-blog-single {

		&.mkd-blog-standard {

			.format-quote, .format-link {
				.mkd-content-category-share-holder {
					padding: 32px 36px 0 32px;
					background-color: #fff;

					@include mkdBoxShadow($shadow);
				}

				.mkd-category-share-holder {
					background-color: #fff;
				}

			}

			.format-quote .mkd-post-mark {
				position: absolute;
				bottom: 21px;
				right: 26px;
				font-size: 36px;
				color: #fff;
			}

			.format-link {

				.mkd-post-content {
					position: relative;

					.mkd-post-image-text-holder {
						position: relative;
						background-size:cover;

						.mkd-post-title {
							@include mkdTransition(opacity 0.25s ease-in-out);

							a:before {
								content:'';
								position:absolute;
								top:0;
								left:0;
								height:100%;
								width:100%;
							}
						}

						&:hover {
							.mkd-post-title {
								opacity:0.85;
							}
						}

						&:after {
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							background-color: rgba(48,48,48,.6);
							top: 0;
							left: 0;
							z-index: 1;
						}
					}

					.mkd-post-text {
						padding-bottom: 50px;
						z-index: 2;
					}

					.mkd-post-info-date {
						color:#ffffff;
						position: static;
					}

					.mkd-post-text {
					}

					.mkd-post-mark {
						position: absolute;
						bottom: 23px;
						right: 28px;
						font-size: 36px;
						color: #fff;
					}
				}
			}

			article.format-quote {
				.mkd-post-title h1 {
					color: #ffffff;
					font-size: 38px;
				}

				.mkd-post-content .mkd-post-text {
					padding: 15px 57px 29px 37px;
				}
			}
		}
	}
}