/* Fullscreen search general style - start
========================================================================== */
.mkd-fullscreen-search-holder {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 105;
	opacity: 0;

	.mkd-search-label {
		font-size: 30px;
		line-height: 1em;
		color: #a1a1a1;
		vertical-align: bottom;
	}

	.mkd-field-holder {
		width: 30%;
		display: inline-block;
		vertical-align: bottom;
		position: relative;
		border-bottom: 2px solid rgba(255,255,255, 0.14);
		padding-bottom: 6px;

		.mkd-line {
			position: absolute;
			bottom: -1px;
			left: 0;
			height: 1px;
			width: 0;
			background-color: #fff;
			@include mkdTransition(width 0s .5s);
		}

	}

	.mkd-search-field {
		width: 80%;
		width: calc(100% - 50px);
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: none;
		background: transparent;
		outline: none;
		height: 100%;
		font-size: 30px;
		color: #fff;
		line-height: 1.6em;
		position: relative;
		float: left;
		font-family: $default-font-family;

		&::-webkit-input-placeholder {
			color: #fff;
			font-size: 36px !important;
			font-weight: 300 !important;
			font-family: $default-font-family;
		}

		&:-moz-placeholder {
			color: #fff;
			font-size: 36px !important;
			font-weight: 300 !important;
			font-family: $default-font-family;
		}

		&::-moz-placeholder {
			color: #fff;
			font-size: 36px !important;
			font-weight: 300 !important;
			font-family: $default-font-family;
		}

		&:-ms-input-placeholder {
			color: #fff;
			font-size: 36px !important;
			font-weight: 300 !important;
			font-family: $default-font-family;
		}
	}

	.mkd-search-submit {
		border: none;
		background: transparent;
		outline: none;
		width: auto;
		cursor: pointer;
		font-family: 'ElegantIcons';
		font-size: 30px;
		line-height: 1.8em;
		color: rgba(255,255,255,.6);
		float: right;
		@include mkdTransition(color 0.2s ease);
	}

	.mkd-search-submit:hover {
		color: #fff;
	}

	.mkd-search-close-holder {
		float: right;
		margin-right: 45px;
	}

	.mkd-fullscreen-search-close-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;

		a {
            font-size: 31px;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: opacity 0.2s ease, color 0.2s ease;
			transition: opacity 0.2s ease, color 0.2s ease;
			position: absolute;
			color: #fff;
			top: 20px;
			right: 20px;
			height: 42px;
			width: 42px;
			line-height: 42px;
		}

	}

}

.mkd-fullscreen-search-table {
	display: table;
	width: 100%;
	height: 100%;
}

.mkd-fullscreen-search-cell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;
}

//Fix for woocommerce page
.mkd-fullscreen-search-opened .mkd-form-holder .mkd-search-field {
	width: 80%;
    width: calc(100% - 50px);
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: none;
	background: transparent;
	outline: none;
	height: 100%;
	font-size: 37px;
	font-weight: 700;
	color: #fff;
	line-height: 1.6em;
	position: relative;
	padding: 0;
	float: left;

	&::-webkit-input-placeholder {
		color: #fff;
		font-size: 37px;
		font-weight: 700!important;
	}

	&:-moz-placeholder {
		color: #fff;
		font-size: 37px;
		font-weight: 700!important;
	}

	&::-moz-placeholder {
		color: #fff;
		font-size: 37px;
		font-weight: 700!important;
	}

	&:-ms-input-placeholder {
		color: #fff;
		font-size: 37px;
		font-weight: 700!important;
	}
}

/* Fullscreen search general style - end
========================================================================== */

/* Fullscreen search from circle style - start
========================================================================== */

.mkd-fullscreen-search-overlay {
	position: absolute;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	top: 50%;
	left: 0;
	border-radius: 100%;
	opacity: 0;
	z-index: 99;
	-ms-transform-origin: 50%;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	@include mkdTransform(scale(0));
	background-color: rgba(255, 255, 255, 0.98);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.mkd-fullscreen-search-overlay.mkd-animate {
	@include mkdTransform(scale(3));
	opacity: 1;
}

.mkd-search-from-circle .mkd-fullscreen-search-holder {
	@include mkdTransition(opacity 0.3s ease);
	display: none;
	opacity: 0;
	visibility: visible;
	z-index: 112;
}

/* Fullscreen search from circle style - end
========================================================================== */

/* Fullscreen search fade style - start
========================================================================== */

.mkd-search-fade .mkd-fullscreen-search-holder {
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	z-index: 112;

	@include mkdBoxSizing(border-box);

	.mkd-fullscreen-search-table {
		@include mkdType1DiagonalGradient('false');
	}
}

body.mkd-fullscreen-search-with-bg-image.mkd-search-fade .mkd-fullscreen-search-table {
	background-color: transparent;
}

.mkd-search-fade-out.mkd-search-fade .mkd-fullscreen-search-holder {
	@include mkdAnimation(search_fade_out .25s linear both);
}

.mkd-search-fade-in.mkd-search-fade .mkd-fullscreen-search-holder.mkd-animate {
	@include mkdAnimation(search_fade_in .25s linear both);
}

.mkd-search-fade .mkd-fullscreen-search-holder.mkd-animate .mkd-fullscreen-search-close {
	opacity: 1;
	visibility: visible;
}

@-webkit-keyframes search_fade_out {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes search_fade_out {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@-webkit-keyframes search_fade_in {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes search_fade_in {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

/* Fullscreen search fade style - end
========================================================================== */

/*---------------Fade animation with PUSH TEXT TOP------------*/

@-webkit-keyframes search_push_text_top {
	0% {
		opacity: 0;
		-webkit-transform: translateY(60px);
		transform: translateY(60px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes search_push_text_top {
	0% {
		opacity: 0;
		-webkit-transform: translateY(60px);
		transform: translateY(60px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

.mkd-search-fade.mkd-fullscreen-search-opened .mkd-fullscreen-search-holder .mkd-form-holder {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include mkdAnimation(search_push_text_top .4s cubic-bezier(0.19, 1, 0.22, 1) both .25s);
}

.mkd-search-fade.mkd-fullscreen-search-opened .mkd-fullscreen-search-holder .mkd-field-holder {
	.mkd-line {
		@include mkdTransition(width 0.3s ease);
	}
}

.mkd-search-fade-out.mkd-search-fade .mkd-fullscreen-search-holder .mkd-search-label,
.mkd-search-fade-out.mkd-search-fade .mkd-fullscreen-search-holder .mkd-search-submit,
.mkd-search-fade-out.mkd-search-fade .mkd-fullscreen-search-holder .mkd-field-holder {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include mkdTransform(translateY(0));
	@include mkdTransition(transform 0.5s cubic-bezier(0.19, 1, 0.22, 1));
}

/*----------------------FULLSCREEN SEARCH style end--------------------------*/
