.mkd-header-divided {

    .mkd-menu-area {
        background-color: #fff;
        border-bottom: 1px solid #e9e9e9;
        box-sizing: border-box;
        opacity: 0;

    	.mkd-grid {
    		height: 100%;
    	}
    }

    .mkd-logo-wrapper {

        a {

            img {
                margin: 0 auto;
            }
        }
    }

    .mkd-main-menu {
        width: auto;
        margin: 0;

        & > ul > li > a span.item_inner{
            padding: 0px 17px;
        }
    }

    .mkd-vertical-align-containers {

        padding: 0;

        .mkd-position-left {
            text-align: right;

            .mkd-position-left-inner {
                height: 100%;
                text-align: left;
                padding-right: 30px;
            }
        }

        .mkd-position-right {
            text-align: left;
            
            .mkd-position-right-inner {
                height: 100%;
                padding-left: 30px;
            }
        }
    }

//    .mkd-sticky-header {
//
//        .mkd-vertical-align-containers {
//
//            .mkd-position-left {
//
//                .mkd-position-left-inner {
//                    height: auto;
//                }
//            }
//
//            .mkd-position-right {
//
//                .mkd-position-right-inner {
//                    height: auto;
//                }
//            }
//        }
//    }

    .mkd-page-header .mkd-vertical-align-containers .mkd-position-center {
        position: absolute;
        width: 100%;
    }

    &.mkd-header-divided-border-disable .mkd-menu-area,
    &.mkd-header-divided-in-grid-border-disable .mkd-page-header .mkd-menu-area .mkd-grid .mkd-vertical-align-containers{
        border-bottom: none;
    }
}