@import 'types/masonry_full_width';
@import 'types/masonry';
@import 'types/standard';
@import 'types/simple';
@import 'types/masonry_gallery';

.mkd-blog-holder {

	article {
		padding-bottom: 0;

		.mkd-more-link-container {
			margin-bottom: 20px;
		}

		.mkd-post-text {
			padding-left: 42px;
			padding-right: 42px;
			background-color: #fff;

			@include mkdBoxShadow($shadow);
		}

		.mkd-post-image {

			img {
				vertical-align: middle;
			}
		}

		.mkd-post-text-inner {

			> h1:not(.mkd-post-title),
			> h2:not(.mkd-post-title),
			> h3:not(.mkd-post-title),
			> h4:not(.mkd-post-title),
			> h5:not(.mkd-post-title),
			> h6:not(.mkd-post-title) {
				margin: 15px 0;
			}
		}

		.mkd-post-title {
			margin-top: 0px;
			padding-top: 43px;
			margin-bottom: 14px;
		}

		&.sticky {
			.mkd-post-title a {
				color: $first-main-color;
			}
		}

		.mkd-post-info {
			font-weight: 600;
			color: #999;
			font-size: 14px;

			a,
			span {
				color: #999;
				font-family: $headings-font-family;
				font-size: 14px;
				font-weight: 600;

				@include mkdTransition(color 0.15s ease-out);
			}

			span[class*="icon"],
			i,
			a:hover,
			a:hover span {
				color: $first-main-color;
			}

			span[class*="icon"] {
				font-size: 16px;
				padding-right: 6px;
			}

			.mkd-like i {
				margin-right: 9px;
			}

			.mkd-like.liked i {
				color: $first-main-color;
			}

			.mkd-like-number {
				margin-right: 6px;
			}
			.mkd-comment-number {
				margin-right: 1px;
			}

			span.icon_tags {
				margin-right: 10px;
				font-size: 14px;
			}

			> div {
				display: inline-block;
				position: relative;
				padding-right: 15px;
			}
		}

		.mkd-post-excerpt {
			margin-top: 29px;
			margin-bottom: 36px;
		}

		&.format-quote {

			.mkd-icon-quotations-holder {
				color: #bcbcbc;
			}

			.mkd-category {

				span.icon_tags, a {
					color: #fff !important;
				}
			}

			.mkd-category-holder {
				margin-top: 0;
			}

			ul {
				margin: 0 !important;
			}

			span.mkd-share-label {
				color: #bbb;
			}

			.mkd-post-content .mkd-post-text {
				position: relative;
			}

			.mkd-post-title {
				margin-top: 0;
				padding-top: 0;

				h3 {
					margin-bottom: 22px;
					color: #fff;
					line-height: 46px;
					letter-spacing: -0.02em;

					a:hover {
						color: #fff;
					}
				}

				span.mkd-quote_author {
					font-size: 20px;
					font-weight: 700;
					color: #fff;
					line-height: 40px;
					letter-spacing: -0.02em;
				}
			}
		}

		&.format-link {

			.mkd-category {

				span.icon_tags, a {
					color: #fff !important;
				}
			}

			.mkd-category-holder {
				margin-top: 8px;
			}

			ul {
				margin: 0 !important;
			}

			h5.mkd-author-name {
				color: #fff !important;
			}

			.mkd-post-content .mkd-post-text {
				position: relative;

				.mkd-icon-quotations-holder {
					color: #bcbcbc;
				}

				.mkd-post-info-date {
					margin-top: 6px;
					color: #fff;

					span, i {
						color: #fff;
					}
				}

				h5.mkd-author-name {
					color: #bbb;
				}
			}
		}

	}

    &:not(.mkd-masonry-simple):not(.mkd-blog-type-simple){
        article.format-link {
            .mkd-post-title {
                margin-bottom: 10px;
                color: #fff;

                a:hover {
                    color: #fff;
                }
            }
        }
    }
}

.mkd-blog-holder:not(.mkd-masonry-simple) {

	article {
		&.format-quote .mkd-post-text, &.format-link .mkd-post-text {
			background-color: transparent;

			@include mkdBoxShadow(none);
		}
	}
}

.mkd-blog-infinite-scroll-button {
	display: none;
}

.mkd-filter-blog-holder {

	text-align: center;

	ul {
		margin: 0;
		padding: 19px 21px;
	}

	li {
		display: inline-block;
		padding: 0 8px;
		cursor: pointer;
		font-size: 15px;

		@include mkdTransition(color 0.25s ease-in-out);

		&:last-child {
			padding-right: 0;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.mkd-single-links-pages {
	margin-bottom: 20px;

	.mkd-single-links-pages-inner {
		> a,
		> span {
			display: inline-block;
			height: 30px;
			width: 30px;
			line-height: 30px;
			text-align: center;
		}
	}
}