.mkd-blog-holder.mkd-blog-type-masonry-gallery {
	opacity: 0;
	article {
		width: 25%;
		overflow: hidden;

		&.mkd-post-size-large-width, &.mkd-post-size-large-width-height {
			width: 50%;
		}

		.mkd-post-image {
			height: 100%;

			a {
				display: block;
				height: 100%;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					@include mkdGradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.88) 1%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 74%);
				}

				img {
					height: 100%;
				}
			}
		}

		.mkd-date-title {
			position: absolute;
			left: 30px;
			bottom: 33px;
			width: calc(100% - 60px);

			.mkd-post-info-date {
				color: #ffffff;
				font-weight: 600;
				font-size: 14px;

				.mkd-post-info-date-icon {
					display: none;
				}
			}

			.mkd-post-title {
				color: #ffffff;
				font-size: 30px;
				margin-bottom: 0;
				padding-top: 12px;

				a:hover {
					color: #ffffff;
				}

				a:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		&.mkd-post-size-large-width .mkd-post-image a img {
			width: auto;
			max-width: none;
		}

		&.format-quote, &.format-link {
			.mkd-post-mark {
				position: absolute;
				color: #ffffff;
				a {
					color: #ffffff;
				}
			}
		}

		&.format-quote {
			.mkd-post-mark {
				font-size: 45px;
				right: 21px;
				bottom: 20px;
				z-index: 20;
			}

			.mkd-masonry-gallery-quote-holder {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				.mkd-masonry-gallery-quote-holder-bgrnd {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					@include mkdTransition(all 1s);
				}
				&:hover {
					.mkd-masonry-gallery-quote-holder-bgrnd {
						@include mkdTransform(scale(2));
					}
				}
			}

			.mkd-masonry-gallery-quote-author {
				display: table;
				width: 73%;
				height: 100%;
				margin: 0 auto;
				position: relative;
				z-index: 20;

				.mkd-masonry-gallery-quote-author-inner {
					display: table-cell;
					vertical-align: middle;
				}

				.mkd-masonry-gallery-quote {
					display: block;
					color: #ffffff;
					line-height: 1.6em;
				}

				.mkd-masonry-gallery-author {
					display: block;
					color: #ffffff;
					margin-top: 22px;
					font-weight: 600;
					font-size: 14px;
				}
			}
		}

		&:not(.format-quote) {
			.mkd-post-image {
				a {
					@include mkdTransition(all .3s ease-out);
					&:before {
						@include mkdTransition(all .3s ease-out);
					}
				}
			}

			&:hover {
				.mkd-post-image {
					a {
			            @include mkdTransform(scale(1.05));
						@include mkdTransition(all .4s cubic-bezier(0.22, 0.61, 0.36, 1));
						&:before {
							-webkit-transform-origin: 50% 100%;
							transform-origin: 50% 100%;
							@include mkdTransform(scale(1.1));
						}
					}
				}
			}
		}

		&.format-video {
			.mkd-video-post-link {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 56px;
				height: 56px;
				font-size: 56px;
				color: #ffffff;

				@include mkdTransform(translate(-50%, -50%));

			}
		}

		&.format-link {
			.mkd-date-title {
				width: calc(100% - 100px);

				.mkd-post-title {
					margin-bottom: 0!important;
				}
			}

			.mkd-post-mark {
				font-size: 30px;
				right: 34px;
				bottom: 38px;
			}
		}

		&.format-gallery {
			.mkd-blog-gallery, .owl-wrapper-outer {
				display: block;
				height: 100%;
				width: 100%;
			}
			.owl-wrapper, .owl-item, .mkd-blog-gallery-item {
				height: 100%;
			}
			.mkd-blog-gallery-item {
				background-size: cover;

				a {
					display: block;
					height: 100%;
					width: 100%;
				}

			}

            .owl-stage-outer,
            .owl-carousel .owl-stage{
                height: 100% !important;
            }

		}
	}

	.mkd-blog-masonry-gallery-grid-sizer {
		width: 25%;
	}
	.mkd-blog-masonry-gallery-grid-gutter {
		width: 0;
	}
}