.mkd-blog-holder {
	&.mkd-blog-type-masonry {
		margin-top:40px;
		opacity: 0;
		transition: none !important;
		overflow: visible !important;

		&:not(.mkd-masonry-full-width) {
			margin-left:-21px;
			margin-right:-21px;
		}

		.mkd-author-desc {
			padding-top: 20px;
		}

		h2.mkd-post-title {
			margin-bottom: 23px;
			font-size: 20px;
			font-weight: 400;
			padding-top: 0px;
			line-height: 31px;
			word-wrap: break-word;
		}

		.mkd-post-excerpt {
			padding-bottom: 25px;
			margin-bottom:0;
		}

		.mkd-post-content {
			.mkd-author-desc {
				background-color: #ffffff;
				padding-top: 27px;
				padding-bottom:10px;

				.mkd-author-name {
					font-size: 16px;
					color: #63a8d8;
					margin: 0;
				}
				.mkd-author-image {

					margin-right: 18px;

					img {
						height: 54px;
						width: 54px;
					}
				}
				.mkd-author-name-holder {
					line-height: 51px;
				}
			}

			.mkd-post-excerpt {
				margin-top:13px;
				word-wrap: break-word;
			}

			.mkd-post-info-date {
				font-size:14px;
			}

			.mkd-categories-date {
				border-top:1px solid #eeeeee;
				padding-top:13px;
				padding-bottom:13px;

				.mkd-categories-list {
					width:65%;
				}

				.mkd-post-info {
					float:right;
					width:35%;

				}
				.mkd-post-info-date {
					width:100%;
					border-right: 0;
					padding-right: 0;
					text-align: right;
				}
			}
		}
		&:not(.mkd-masonry-simple) {
			.format-quote {

				.mkd-post-content {
					background-color: $first-main-color;
					padding: 9px 30px 15px 38px;
					position: relative;

					h5.mkd-author-name {
						color: #fff;
					}

					.mkd-post-title h2 {
						font-size: 20px;
						line-height: 33px;
						margin-top: 30px;
						margin-bottom: 8px;
					}
					.mkd-post-text {
						padding: 0;
					}

					.mkd-post-title a:hover {
						color: #fff;
					}

					.mkd-post-info-date {
						color: #fff;
						border-right: 0 !important;
					}
				}

				.mkd-post-mark {
					position: absolute;
					bottom: 25px;
					right: 20px;
					font-size: 35px;
					color: #fff;
				}

				.mkd-post-title span.quote_author {
					color: #fff;
					font-size: 16px;
					line-height: 60px;
				}

				.mkd-post-title {
					padding-bottom: 11px;
					margin-bottom: 0 !important;

					h3 {
						margin-top: 0 !important;
						margin-bottom: 13px;
					}
				}

			}
		}
		&:not(.mkd-masonry-simple) {
			.format-link {

				.mkd-post-content {
					position: relative;
					background-size:cover;

					.mkd-post-text {
						padding-top: 40px;
						padding-bottom:128px;
					}

					.mkd-post-title {
						color: #ffffff;
						margin-bottom: 0;

						@include mkdTransition(opacity 0.25s ease-in-out);

						a:before {
							content:'';
							position:absolute;
							top:0;
							left:0;
							height:100%;
							width:100%;
						}
					}

					h5.mkd-author-name {
						color: #fff;
					}

					.mkd-post-title a:hover {
						color: #fff;
					}

					.mkd-post-info-date {
						position:static;
						color: #fff;
						border-right: 0 !important;
					}

					&:hover {
						.mkd-post-title {
							opacity:0.85;
						}
					}
				}

				.mkd-post-mark {
					position: absolute;
					bottom: 20px;
					right: 20px;
					font-size: 30px;
					color: #fff;
				}

				h3.mkd-post-title {
					margin-bottom: 10px;
					padding-bottom: 20px;
					margin-top: 11px;
				}

			}
		}

		article {
			display: block;
			width: 25%;
			padding: 0 21px;
			text-align: left;
			vertical-align: top;
			z-index: 100;
			margin: 0 0 42px;

			@include mkdBoxSizing(border-box);
			@include mkdTransition(border-color 0.15s ease-out);

			&.format-audio .mkd-post-content .mkd-author-desc .mkd-author-name-holder {
				line-height: 54px;
			}

			&:not(.format-audio){

				.mkd-author-desc {
					padding-top:0;
					z-index:10;

					.mkd-author-image {
						margin-top:-15px;

						img {
							padding: 3px;
							background-color: #ffffff;
						}
					}
				}
			}

			&.format-quote {
				position: relative;
				.mkd-post-text,
				.mkd-post-mark {
					z-index: 10;
				}
				.mkd-post-content {
					overflow: hidden;
				}
				.mkd-post-content-bgrnd{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					@include mkdTransition(all 1s);
				}
				&:hover {
					.mkd-post-content-bgrnd{
						@include mkdTransform(scale(2));
						left: -5%;
					}
				}
			}

		}
		.mkd-blog-masonry-grid-sizer {
			width: 25%;
		}
		.mkd-blog-masonry-grid-gutter {
			width: 0;
		}

		#infscr-loading {
			position: absolute;
			bottom: -35px;
			left: 50%;
			@include mkdTransform(translateY(-50%));
		}

		&.mkd-masonry-no-image {
			.mkd-post-content {
				.mkd-author-desc {
					padding-top: 27px;

					.mkd-author-image {
						margin-top:0;
					}
				}
			}
			article:not(.format-link):not(.format-quote) {
				@include mkdTransition(all .15s cubic-bezier(.33,.66,.66,1));
				-webkit-backface-visibility: hidden;
				-webkit-perspective: 1000px;
				-webkit-transform-style: preserve-3d;
				@include mkdTransform(translateZ(0));
				.mkd-post-text {
					@include mkdTransition(all .15s cubic-bezier(.33,.66,.66,1));
				}
				&:hover {
					@include mkdTransform(translate3d(0,-4px,0));
					.mkd-post-text {
						-webkit-box-shadow: 2px 2px 4px #eee;
						box-shadow: 2px 2px 4px #eee;
					}
				}
			}
		}

		&.mkd-masonry-simple {
			article {
				@include mkdTransition(all .15s cubic-bezier(.33,.66,.66,1));
				-webkit-backface-visibility: hidden;
				-webkit-perspective: 1000px;
				-webkit-transform-style: preserve-3d;
				@include mkdTransform(translateZ(0));
				.mkd-post-text {
					-webkit-box-shadow: 1px 1px 3px #eee;
					box-shadow: 1px 1px 3px #eee;
					@include mkdTransition(all .15s cubic-bezier(.33,.66,.66,1));
				}
				&:hover {
					@include mkdTransform(translate3d(0,-4px,0));
					.mkd-post-text {
						-webkit-box-shadow: 2px 2px 4px #eee;
						box-shadow: 2px 2px 4px #eee;
					}
				}
			}
		}

	}
}

.mkd-blog-holder {
	&.mkd-blog-type-masonry.mkd-masonry-simple {
		h2.mkd-post-title {
			font-size:30px;
		}
		article {
			.mkd-post-text {
				padding-top:42px;
				padding-bottom:49px;
			}
		}
	}
}

.mkd-blog-load-more-button-holder {
	text-align: center;
}