.mkd-blog-holder {
	&.mkd-blog-type-standard {

		article {
			margin-bottom: 37px;
		}

		.format-quote {
			.mkd-post-content .mkd-post-text {
				padding: 25px 57px 29px 47px;
				background-color: $first-main-color;
			}

			.mkd-post-mark {
				position: absolute;
				bottom: 25px;
				right: 20px;
				font-size: 45px;
				color: #fff;
			}

		}

		.format-link {
			.mkd-post-content {
				position: relative;
				background-size:cover;

				.mkd-post-info-date {
					color:#ffffff;
					position:static;
				}

				.mkd-post-title {
					color:#ffffff;

					@include mkdTransition(opacity 0.25s ease-in-out);

					a:before {
						content:'';
						position:absolute;
						top:0;
						left:0;
						height:100%;
						width:100%;
					}

					a:hover {
						color:#ffffff;
					}
				}

				&:hover {
					.mkd-post-title {
						opacity:0.85;
					}
				}

				.mkd-post-text {
					padding-bottom: 80px;
					padding-top: 5px;
				}

				.mkd-post-mark {
					position: absolute;
					bottom: 23px;
					right: 28px;
					font-size: 32px;
					color: #fff;
				}
			}
		}
	}
}