/* Portfolio slider styles - start
   ========================================================================== */
.mkd-portfolio-slider-holder {

	> .mkd-portfolio-slider-list {
		visibility: hidden;
	} 

	.mkd-masonry-slider.mkd-portfolio-slider-list {
		margin: 0;

		a.mkd-ptf-portfolio-overlay-icon.mkd-eye .lnr-eye:before {
			position: absolute;
			bottom: 30px;
			right: 39px;
		}

		li {
			overflow: hidden;
			padding: 0;

			&:hover .mkd-ptf-item-text-overlay {
				opacity: 1;
			}

			&:hover .mkd-ptf-item-gradient {
				opacity: .8;
			}
		}

		.mkd-ptf-item-image-holder img {
			vertical-align: middle;
		}

		.mkd-portfolio-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.mkd-ptf-item-gradient {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;

			@include mkdTransition(opacity 0.3s ease-out);
		}

		.mkd-ptf-item-text-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;

			@include mkdTransition(opacity 0.3s ease-out);
		}

		.mkd-ptf-item-text-holder {
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			transform: translate(0) !important;
			text-align: left !important;
			display: table-cell;
			vertical-align: bottom;
		}

		a.mkd-ptf-portfolio-overlay-icon {
			float: right;
			font-size: 30px !important;
			color: #fff;
		}

		.mkd-ptf-item-title {
			font-size: 20px;
			padding-left: 39px;
			padding-bottom: 17px;
			color: #fff;

			@include mkdBoxSizing(border-box);
		}

		.mkd-ptf-item-text-overlay-inner {
			position: relative;
			display: table;
			table-layout: fixed;
			height: 100%;
			width: 100%;
		}

		.mkd-ptf-item-text-overlay-inner {
			@include mkdTransform(scale(.7));
			opacity: 0;
			-webkit-transition: -webkit-transform .0s .2s, opacity .2s;
			transition: transform .0s .2s, opacity .2s;
		}

		.mkd-ptf-item-image-holder img {
			@include mkdTransition(all .3s cubic-bezier(0.22, 0.61, 0.36, 1));
			@include mkdTransform(scale(1) translateZ(0));
			-webkit-transform-origin: 50% 100%;
			transform-origin: 50% 100%;
		}
		li:hover {
			.mkd-ptf-item-text-overlay-inner {
				@include mkdTransition(all .4s cubic-bezier(0.22, 0.61, 0.36, 1));
				@include mkdTransform(scale(1) translateZ(0));
				opacity:1;
			}

			.mkd-ptf-item-image-holder img {
				@include mkdTransform(scale(1.1) translateZ(0));
			}
		}
	}

	.mkd-portfolio-slider-list {
		list-style-type: none;
		text-align: center;

		width: auto;

		margin: 0 -12px;

		li {
			padding: 0 12px;
		}

		.mkd-ptfs-item-content {
			padding: 40px 45px 50px 45px;
			background-color: #fff;

			@include mkdBoxShadow($shadow);
		}
	}

	.mkd-ptfs-item-image {

		a {
			display: block;
		}

		img {
			vertical-align: middle;
		}
	}

	.mkd-ptfs-item-title {
		margin-top: 0;
		margin-bottom: 15px;
	}

	.mkd-ptfs-item-excerpt-holder {
		p {
			margin: 0;
		}
	}

	.owl-dots {
		margin-top: 55px;
	}

	&.mkd-portfolio-slider-with-read-more {
		.mkd-portfolio-slider-list li {
			padding:0;
			margin: 0 12px 3px;
			@include mkdBoxShadow($shadow);
		}
		.mkd-ptfs-item {
			position: relative;
			overflow: hidden;

			.mkd-ptfs-item-image {
				overflow: hidden;
				img {
					@include mkdTransform(translateZ(0));
					@include mkdTransition(transform 0.3s ease-out);
					-webkit-transform-origin: 50% 100%;
					transform-origin: 50% 100%;
				}
			}

			.mkd-ptfs-item-content { 
				@include mkdTransform(translateZ(0));
				@include mkdTransition(all .15s ease-out);
				margin-left: -10px;
				margin-right: -10px;
				padding-left: 55px;
				padding-right: 55px;
			}

			.mkd-btn-holder {
				position: absolute;
				width: 100%;
				height: 65px;
			    bottom: -40px;
			    left: 50%;
			    background-color: inherit;
			    @include mkdTransform(translateX(-50%) translateZ(0));
			    .mkd-btn {
			    	padding-top: 0;
			    	opacity: 0;
					@include mkdTransition(opacity .2s ease-out);
					&:hover {
						@include mkdTransition(opacity .2s ease-out);
					}
			    }
			}

			&:hover {
				.mkd-ptfs-item-content { 
					@include mkdTransform(translateY(-40px) translateZ(0));
					@include mkdTransition(all .4s cubic-bezier(.19,1,.22,1));
				}
				.mkd-btn { 
					opacity:1;
					@include mkdTransition(opacity .4s ease-out);
				}
				.mkd-ptfs-item-image {
					img {
						@include mkdTransform(translateZ(0) scale(1.1));
						@include mkdTransition(transform 1.2s cubic-bezier(.19,1,.22,1));
					}
				}
			}

		}
		.owl-dots {
			margin-top: 52px;
		}
	}

	&.mkd-portfolio-slider-light {
		.mkd-ptfs-item-title,
		.mkd-ptfs-item-excerpt-holder {
			color: #fff;
		}
	}
}

/* Portfolio slider styles - end
   ========================================================================== */