$portfolio-gallery-layers: (
		background-overlay: 1,
		item-link: 2,
		item-content: 3
);

@import 'portfolio-types/standard';
@import 'portfolio-types/gallery';
@import 'portfolio-types/pinterest';
@import 'portfolio-types/masonry';
@import 'portfolio-slider';

/* ==========================================================================
   Portfolio shortcode styles - begin
   ========================================================================== */

/* #General portfolio list styles - start
  ========================================================================== */
.mkd-portfolio-list-holder {
	height: 100%;

	&.standard {
		.mkd-ptf-item-text-overlay {
			background-color: rgba(89, 94, 165, 0.9);
		}

		article h5.mkd-ptf-item-title {
			font-size: 24px !important;
			margin-top: 9px !important;
		}
	}

	&.gradient article {

		.mkd-ptf-item-title {
			color: #fff;
		}

		.mkd-ptf-item-gradient {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;

			@include mkdTransition(opacity 0.3s ease-out);
		}

		&:hover .mkd-ptf-item-gradient {
			opacity: 0.8;
		}

		.mkd-ptf-item-text-overlay {
			opacity: 0;
		}

	}

	&.mkd-without-title .mkd-ptf-item-title {
		display: none;
	}

	.mkd-portfolio-list-holder-outer.mkd-info-bottom & { 
		.mkd-ptf-item-text-holder {
			vertical-align: bottom;
			text-align: right;
		}

		.mkd-ptf-item-title {
			position: absolute;
			left: 15px;
			bottom: 25px;
			max-width: 70%;
			text-align: left;
			margin:0;
		}

		.mkd-ptf-category-holder {
			margin: 0 15px 10px 0;
		}

		&.gradient {
			.mkd-ptf-item-title {
				left: 30px;
				bottom: 30px;
			}
			a.mkd-ptf-portfolio-overlay-icon {
				position: absolute;
			}
		}

		.mkd-ptf-item-text-overlay a.mkd-ptf-portfolio-overlay-icon {
			&.mkd-eye {
				font-size: 30px !important;
				color: #fff;

				.lnr-eye:before {
					position: absolute;
					bottom: 30px;
					right: 39px;
				}
			}
		}
	}

	.mkd-portfolio-list-holder-outer.mkd-info-center & { 
		.mkd-ptf-item-text-holder {
			padding: 10%;
		}
	}

	article {
		position: relative;
		vertical-align: top;


		.mkd-ptf-item-title {
			margin: 0;
		}

		.mkd-ptf-item-image-holder {
			position: relative;

			a {
				display: block;
			}

			img {
				vertical-align: middle;
				height: auto;
				max-width: 100%;
			}
		}

		.mkd-like {
			color: #808080;

			&:after {
				content: '\e030';
				font-family: 'ElegantIcons';
				color: inherit;
			}

			&.liked:after {
				content: '\e089';
			}

		}
	}

	article.mix {
		display: none;
		visibility: hidden;
		float: left;
	}
}

.mkd-portfolio-list-holder-outer.mkd-portfolio-gallery-hover {

	.gradient article .mkd-ptf-category-holder {
		color: #fff;
	}

	article {
		.mkd-ptf-item-title {
			position: relative;
			z-index: 3;
			color: #fff;
			margin-bottom: 14px;
		}

		.mkd-ptf-category-holder {
			color: #fff;
			font-weight: 300;
			font-size: 18px;
		}

		.mkd-ptf-item-bottom {
			position: relative;
			margin-top: 5px;

			.mkd-ptf-category-holder {
				padding-right: 50px;
			}

			.mkd-like {
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.mkd-ptf-item-image-holder {
			overflow: hidden;
		}

		.mkd-portfolio-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.mkd-ptf-item-text-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;
            color: #fff;

			@include mkdTransition(opacity 0.3s ease-out);
		}

		.mkd-ptf-item-text-overlay-inner {
			@include mkdTableLayout;
		}

		.mkd-ptf-item-text-holder {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			a.mkd-ptf-portfolio-overlay-icon {
				position: relative;
				z-index: 200;
				font-size: 60px;
				@include mkdTransition(opacity .25s ease);
				&:hover {
					opacity: .85;
				}
				&.mkd-eye {
					font-size: 36px;
				}
			}
			.mkd-icon-linear-icon.lnr-eye {
				color: #fff;
			}

		}

		&:hover {
			.mkd-ptf-item-text-overlay {
				opacity: 1;
			}
		}

		.mkd-ptf-item-icons-holder {
			margin: 10px 0;
		}
	}
}

.mkd-portfolio-list-holder-outer.mkd-ptf-with-spaces {
	.mkd-portfolio-list-holder {
		font-size: 0.1px;
		line-height: 0;
		text-align: justify;

		article {
			//reset portfolio item's typography
			font-size: $default-text-size;
			line-height: $default-text-line-height;
			text-align: left;

			margin: 0 0 2%;
		}

		article.mix {
			float: none;
		}

		.mkd-ptf-gap {
			display: inline-block;
		}
	}
}

.mkd-portfolio-list-holder-outer.mkd-portfolio-shadow-on-items {
    article {
        @include mkdBoxShadow(0 0 5px rgba(0,0,0,0.2));
    }
}

/* General portfolio list styles - end
   ========================================================================== */

/* #Portfolio grid styles - start
  ========================================================================== */
.mkd-portfolio-list-holder-outer {
	&.mkd-ptf-two-columns {
		article {
			width: 50%;
		}
	}

	&.mkd-ptf-three-columns {
		article {
			width: 33.33%;
		}
	}

	&.mkd-ptf-four-columns {
		article {
			width: 25%;
		}
	}

	&.mkd-ptf-five-columns {
		article {
			width: 20%;
		}
	}

	&.mkd-ptf-six-columns {
		article {
			width: 16.66%;
		}
	}

	//portfolio with spaces widths
	&.mkd-ptf-with-spaces {
		&.mkd-ptf-two-columns {
			article,
			.mkd-ptf-gap {
				width: 49%;
			}
		}

		&.mkd-ptf-three-columns {
			article,
			.mkd-ptf-gap {
				width: 32%;
			}
		}

		&.mkd-ptf-four-columns {
			article,
			.mkd-ptf-gap {
				width: 23.5%;
			}
		}

		&.mkd-ptf-five-columns {
			article,
			.mkd-ptf-gap {
				width: 19%;
			}
		}

		&.mkd-ptf-six-columns {
			article,
			.mkd-ptf-gap {
				width: 15%;
			}
		}
	}
}

/* Portfolio grid styles - end
   ========================================================================== */

/* #Portfolio filters styles - start
  ========================================================================== */
.mkd-portfolio-filter-holder {
	position: relative;
	z-index: 20;

	.mkd-portfolio-filter-holder-inner {
		text-align: center;
		padding: 19px 0;

		&.mkd-light {

			ul li {
				color: #fff;

                &.active,
                &:hover{
                    color: #fff;
                    opacity: 0.8;
                }
			}
		}

		&.mkd-filter-left {
			text-align: left;
		}

		&.mkd-filter-center {
			text-align: center;
		}

		&.mkd-filter-right {
			text-align: right;
		}

		ul {
			display: inline-block;
			list-style: none;
			vertical-align: middle;
			padding: 0;
			margin: 0;
		}

		ul li {
			cursor: pointer;
			display: block;
			margin: 0;
			float: left;
			padding: 0 15px;

			font-family: $headings-font-family;
			text-transform: capitalize;
			font-weight: 600;
			color: #808080;
			font-size: 16px;

			@include mkdTransition(color 0.15s ease, opacity 0.15s ease);

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		ul li.active,
		ul li:hover {
			color: #303030;
		}

		ul li.current {
			color: #d6d6d6;
		}
	}
}

/* Portfolio filters styles - end
   ========================================================================== */

/* #Portfolio Load More Button - start
  ========================================================================== */
.mkd-portfolio-list-holder-outer .mkd-ptf-list-paging {
	text-align: center;
	margin: 40px 0 0 0;
}

/* Portfolio Load More Button - end
   ========================================================================== */

/* ==========================================================================
   Portfolio Single styles - start
   ========================================================================== */
.single.single-portfolio-item {

	.mkd-content .mkd-content-inner>.mkd-container>.mkd-container-inner,
	.mkd-content .mkd-content-inner>.mkd-full-width>.mkd-full-width-inner {
		padding: 82px 0;
	}

	.big-images .mkd-column2 .mkd-column-inner,
	.big-slider .mkd-column2 .mkd-column-inner,
	.gallery .mkd-column2 .mkd-column-inner {
		margin-right: 115px;
	}

	.mkd-two-columns-75-25 {
		.mkd-column1 {
			float: right;

			.mkd-column-inner {
				padding: 0 0 0 20px;
			}
		}

		.mkd-column2 .mkd-column-inner {
			padding: 0
		}

	}

	.mkd-two-columns-66-33 {
		.mkd-column2 .mkd-column-inner {
			padding: 0;
		}

		.mkd-column1 {
			float: right;
		}

		.mkd-column1 .mkd-column-inner {
			padding: 0 0 0 140px;
		}
	}
}

/* ==========================================================================
   Portfolio styles - end
   ========================================================================== */