@import 'types/standard';

.single-post .mkd-content .mkd-content-inner > .mkd-container,
.single-post .mkd-content .mkd-content-inner > .mkd-full-width {
	background-color: #f7f7fa;
}

.single {
	.mkd-content .mkd-content-inner>.mkd-container>.mkd-container-inner {
		padding-top:0;
	}

	.mkd-blog-holder article .mkd-post-title {
		letter-spacing: -0.02em;
	}

	.mkd-blog-holder article .mkd-single-links-pages {
		margin-top: 20px;
	}

	.mkd-post-info {
		margin-bottom: 20px;
	}

	.mkd-blog-holder article {
		margin-bottom: 0px;
	}

	.mkd-author-description {
		padding: 20px 0;
		margin-bottom: 18px;

		.mkd-author-description-inner {
			background-color: #fff;
		}

		.mkd-author-name {
			margin-top: 35px;
			margin-bottom: -3px;
		}

		.mkd-author-text {
			margin-top: 18px;
		}

		.mkd-author-social-holder {

			margin-top: 23px;
			margin-left: 2px;
			margin-bottom: 25px;

			.mkd-author-social-icon {

				display: inline-block;
				width: 24px;
				height: 25px;
				line-height: 25px;
				font-size: 14px;
				color: #fff;
				text-align: center;

				@include mkdBorderRadius(50%);
			}

			.mkd-author-social-twitter,
			.mkd-author-social-instagram,
			.mkd-author-social-facebook,
			.mkd-author-social-pinterest,
			.mkd-author-social-tumblr,
			.mkd-author-social-google-plus,
			.mkd-author-social-linkedin {
				color: #999;

				&:hover {
					color: $first-main-color;
				}
			}

		}
		.mkd-author-description-image {
			float: left;
			width: 232px;
			height:232px;
			overflow:hidden;

			img {
				position:relative;
				top:50%;

				@include mkdTransform(translateY(-50%));
			}
		}

		.mkd-author-description-text-holder {
			padding-left: 262px;
			position: relative;
			padding-right: 36px;

			h6.mkd-author-position {
				color: $first-main-color;
				font-weight: 600;
				font-size: 14px;
				margin-bottom: 10px;
				line-height: 19px;
			}
		}
	}

	.mkd-single-tags-holder {

		margin: 58px 0 28px;

		.mkd-single-tags-title {
			display: inline-block;
			margin-right: 5px;
			margin-left: 3px;
			font-size: 20px;
			font-weight: 700;
			color: #3e3e3e;
		}
		.mkd-tags {
			display: inline-block;

			a {
				margin: 0 8px 5px;
				font-size: 14px;
				font-weight: 600;
				display: inline-block;
				font-family: $headings-font-family;
				color: #3e3e3e;
				padding: 3px 19px;
				background-color: #fff;

				@include mkdBoxShadow($shadow);
				@include mkdTransition(background-color 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}
		}
	}

	.mkd-blog-single-navigation {
		padding: 23px 0;

		.mkd-icon-stack {
			display: block;
			height: 40px;
			width: 40px;
			font-size: 22px;
			background-color: #fff;
			line-height: 45px;
			text-align: center;
			color: #3e3e3e;

			@include mkdBorderRadius(50%);
			@include mkdBoxShadow($shadow);
		}

		.mkd-blog-single-prev {
			float: left;
			width: 50%;

			& > a {
				display: block;
			}

			.mkd-icon-stack {
				float: left;
			}

			.mkd-single-prev-title-label {
				float: left;
				padding-left: 15px;
				width:calc(100% - 77px);
			}

			.mkd-single-prev-title {
				display: block;
				text-align: left;
				color: #3e3e3e;
				font-size: 20px;
				font-weight: 700;
                @include mkdTransition(color 0.2s ease);

				&:hover {
					color: $first-main-color;
				}
			}

			.mkd-single-prev-label {
				display: block;
				text-align: left;
				color: #777;
				font-weight: 600;
				font-size: 14px;
			}
		}
		.mkd-blog-single-next {
			float: right;
			width: 50%;

			.mkd-single-next-title-label {
				float: right;
				padding-right: 15px;
				width:calc(100% - 77px);
			}

			.mkd-icon-stack {
				float: right;
			}

			.mkd-single-next-title {
				display: block;
				text-align: right;
				color: #3e3e3e;
				font-size: 20px;
				font-weight: 700;
                @include mkdTransition(color 0.2s ease);

				&:hover {
					color: $first-main-color;
				}
			}

			.mkd-single-next-label {
				display: block;
				text-align: right;
				color: #777;
				font-weight: 600;
				font-size: 14px;
			}
		}
	}

	.mkd-post-content .mkd-category-share-holder {
		margin-top: 25px;
	}
}

.mkd-related-posts-holder {
	margin-bottom: 35px;
	padding-bottom: 35px;

	.mkd-related-posts-title {
		margin-bottom: 20px;
	}

	.mkd-related-post {
		width: 24.8125%;

		margin-right: 0.25%;
		display: inline-block;
		float: left;

		&:nth-child(4n) {
			margin-right: 0;
		}

		img {
			display: block;
		}

		.mkd-related-post-image {
			margin-bottom: 16px;
		}

		.mkd-related-post-title,
		.mkd-related-post-info {
			margin-bottom: 6px;
		}

		.mkd-related-post-info {
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
		}

	}

}

//Related posts with sidebar
.mkd-column1 .mkd-related-posts-holder,
.mkd-column2 .mkd-related-posts-holder {

	.mkd-related-post {
		width: 33.16%;
		margin-right: 0.25%;

		&:nth-child(3n) {
			margin-right: 0;
		}

	}

}

.mkd-content .mkd-share-icons ul {
	margin: 0;
}

.mkd-post-content {

	.mkd-categories-list {
		float: left;
		width: 50%;
	}

	.mkd-share-icons {
		float: right;
		width: 50%;
		text-align: right;
	}

	.mkd-social-share-holder.mkd-list {
		display: inline-block;
		text-align: center;
	}

	.mkd-author-image {
		height: 100%;
		display: inline-block;
		float: left;
		margin-right: 13px;

		img {
			width: 28px;
			@include mkdBorderRadius(50%);
		}
	}

	.mkd-author-name-holder {
		position: relative;
		float: left;
	}

	.mkd-category-share-holder {
		width: 100%;
		display: block;
		position: relative;
		padding-bottom: 40px;

		@include mkdBoxSizing(border-box);
	}

	.mkd-author-desc {
		position:relative;
	}

	.mkd-categories-list {
		float: left;
		width: 50%;
	}

	h5.mkd-author-name {
		font-size: 14px;
		font-weight: 600;
		color: #545454;
	}

	.mkd-post-info-category.mkd-post-info-item {
		a {
			display: inline-block;
			font-size: 14px;
			font-weight: 600;
			color: $first-main-color;
			font-family: $headings-font-family;
		}

		.mkd-category-color {
			display: inline-block;
			width: 8px;
			height: 8px;

			@include mkdBorderRadius(50%);
		}

		.mkd-category-name {
			padding-right: 10px;

		}

	}

}

.mkd-post-content .mkd-post-info-date

article.post {

	.mkd-category-share-holder {
		position: relative;
		border-top: 1px solid #f2f2f2;
		margin-top: 57px;
		padding-top: 15px;
		padding-bottom: 24px;
	}

	.mkd-category-holder {
		width: 50%;
		float: left;
	}

	.mkd-share-icons-single {
		width: 50%;
		float: left;
		text-align: right;
	}
}

article {

	.mkd-category {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		font-family: $headings-font-family;

		a {
			margin-left: 10px;
		}

		span.icon_tags {
			color: $first-main-color;
		}
	}

	.mkd-post-image {
		margin-bottom: 0;
	}
}